Repository hmcts/probate-back-office, pull requests merged in 2019-07, with the labels that each got.

#540 PRO-5609 added letter of admin draft with docmosis
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/model/DocumentType.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentService.java
  src/main/java/uk/gov/hmcts/probate/transformer/DocumentTransformer.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/DocumentGeneratorServiceTest.java
Labels: ns:probate-back-office-pr-540

#512 PRO-4775 Intestacy definition updates
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
Labels: ns:probate-back-office-pr-512

#541 PRO-5610 added admon will reissue draft reissue preview
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/application.properties
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/probate/model/DocumentType.java
  src/main/java/uk/gov/hmcts/probate/model/docmosis/PdfDocumentRequest.java
  src/main/java/uk/gov/hmcts/probate/service/CaveatNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/probate/service/docmosis/DocmosisPdfGenerationService.java
  src/main/java/uk/gov/hmcts/probate/service/docmosis/GenericMapperService.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFGeneratorService.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementService.java
  src/main/resources/application.yml
  src/main/resources/watermarkImage.txt
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/DocumentGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/docmosis/GenericMapperServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PDFGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementServiceTest.java
Labels: ns:probate-back-office-pr-541

#543 changed event name
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
Labels: ns:probate-back-office-pr-543

#510 PRO-5595 removed 'and copy of will'
  src/main/resources/templates/markdown/nextSteps.md
  src/test/resources/expectedConfirmationBody.md
  src/test/resources/expectedConfirmationBodyWithAllCombinations.md
  src/test/resources/expectedConfirmationBodyWithAllCombinationsAndMultiples.md
  src/test/resources/expectedConfirmationBodyWithDeadExecutor.md
  src/test/resources/expectedConfirmationBodyWithIHT400421.md
  src/test/resources/expectedConfirmationBodyWithMultipleDeadExecutors.md
  src/test/resources/expectedConfirmationBodyWithMultipleRenouncingExecutors.md
  src/test/resources/expectedConfirmationBodyWithRenouncingExecutor.md
Labels: do not merge, ns:probate-back-office-pr-510

#546 UnBreakBuild03072019: unbreak build to live
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-546

#547 Break build to prod
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-547

#548 PRO-5583: added exception handling for business validation. Implement…
  src/main/java/uk/gov/hmcts/probate/exception/BusinessValidationException.java
  src/main/java/uk/gov/hmcts/probate/exception/handler/DefaultExceptionHandler.java
  src/main/java/uk/gov/hmcts/probate/service/CaveatQueryService.java
  src/main/resources/ValidationMessages.properties
  src/test/java/uk/gov/hmcts/probate/exception/handler/DefaultExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaveatQueryServiceTest.java
Labels: ns:probate-back-office-pr-548

#549 PRO-5667: remove applicant info from top of applications generated by…
  docker/docker-compose-with-ccd.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/main/resources/templates/pdf/admonWillGrant.html
  src/main/resources/templates/pdf/admonWillGrantDraft.html
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/intestacyGrant.html
  src/main/resources/templates/pdf/intestacyGrantDraft.html
Labels: ns:probate-back-office-pr-549

#552 PRO-5764: changed cheque label
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
Labels: ns:probate-back-office-pr-552

#555 PRO-5654 remove additional commas
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorPayloadNotificationsPartialAddress.json
  src/main/resources/templates/pdf/admonWillGrant.html
  src/main/resources/templates/pdf/admonWillGrantDraft.html
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/intestacyGrant.html
  src/main/resources/templates/pdf/intestacyGrantDraft.html
Labels: ns:probate-back-office-pr-555

#557 PRO-5786: corrected spouse not applying to Renounced
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
Labels: ns:probate-back-office-pr-557

#554 PRO-5778: corrected page ordering num for sol review and confirm event
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate-back-office-pr-554

#556 added stop case reissue event
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  ccdImports/configFiles/CCD_Probate_Backoffice/State.json
Labels: ns:probate-back-office-pr-556

#559 PRO-5801: include new intestacy fields to callback transformers
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-559

#558 PRO-5455 Cancel Reissue
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  src/main/java/uk/gov/hmcts/probate/exception/BusinessValidationException.java
  src/main/java/uk/gov/hmcts/probate/service/FormatterService.java
  src/main/java/uk/gov/hmcts/probate/transformer/DocumentTransformer.java
Labels: ns:probate-back-office-pr-558

#560 Fixed dependency check issues Demo
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate-back-office-pr-560

#561 Fixed dependency check issues Master
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate-back-office-pr-561

#562 PRO-5801: added deceased assets field for transform
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-562

#563 orderd excela extract by deceased surname
  src/main/java/uk/gov/hmcts/probate/exception/handler/DefaultExceptionHandler.java
  src/main/java/uk/gov/hmcts/probate/service/ExcelaCriteriaService.java
  src/test/java/uk/gov/hmcts/probate/exception/handler/DefaultExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/probate/service/ExcelaCriteriaServiceTest.java
Labels: ns:probate-back-office-pr-563

#564 Unblock aat for prod
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-564

#565 PRO-5325 PRO-5326 PRO-5327 add new events to reissue states
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseTypeTab.json
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
Labels: ns:probate-back-office-pr-565

#566 PRO-4630 PRO-5755 PRO-5827 Bug Fixing
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/State.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseTypeTab.json
Labels: ns:probate-back-office-pr-566

#567 BUG FIX: 4436, 4354: updated config to use new CaseTypeToComplexTypes
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate-back-office-pr-567

#571 PRO-4922 PRO-4861 Bug Fixing
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/main/resources/templates/pdf/willLodgementDepositReceipt.html
Labels: ns:probate-back-office-pr-571

#573 PRO-5383: corrected sols fees copies
  src/main/java/uk/gov/hmcts/probate/config/FeeServiceConfiguration.java
  src/main/java/uk/gov/hmcts/probate/service/fee/FeeService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/fee/FeeServiceTest.java
Labels: ns:probate-back-office-pr-573

#576 PRO-5853: corrected failing func tests
  src/functionalTest/java/uk/gov/hmcts/probate/functional/fee/SolCcdServiceFeeTests.java
Labels: ns:probate-back-office-pr-576

#578 Breakbuild
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-578

#574 BUG FIX: 4436 & 4354: updated config to use new CaseTypeToComplexTypes
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate-back-office-pr-574

#575 PRO-4922 PRO-4861 PRO-4620 PRO-5765 PRO-4940 Bug Fixing
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseTypeTab.json
  src/main/resources/templates/pdf/willLodgementDepositReceipt.html
Labels: ns:probate-back-office-pr-575

#580 PRO-5856 PRO-5857 PRO-5859 bug fix
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-580

#570 Pro 5819 add intestacy fields to amend case
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
Labels: ns:probate-back-office-pr-570

#582 PRO-5045 Populate IHT form id
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-582

#581 BUG FIX: 5606- added filter to ES query to make sure cases that have not been paid are not matched against
  src/main/resources/templates/elasticsearch/caseMatching/main_query.json
Labels: ns:probate-back-office-pr-581

#586 Unbreak Build for 29-07-2019
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-586

#589 PRO 5876 bug fix: sot link would not persist
  src/caseCreator/resources/json/create.pa.ccd.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-589

#588 fix of e2e tests - address locator IDs with double underscores
  src/test/end-to-end/pages/createCaveat/page2.js
  src/test/end-to-end/pages/createCaveat/page3.js
  src/test/end-to-end/pages/createGrantOfProbate/page2.js
  src/test/end-to-end/pages/createGrantOfProbate/page3.js
  src/test/end-to-end/pages/createGrantOfProbate/page4.js
  src/test/end-to-end/pages/createGrantOfProbate/page7.js
  src/test/end-to-end/pages/createWillLodgement/page2.js
  src/test/end-to-end/pages/createWillLodgement/page3.js
Labels: do not merge, ns:probate-back-office-pr-588

#591 Unbreak build for SOT changes
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-591

#592 PRO-5883: corrected case matching for legacy cases already matched
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/probate/model/ccd/CaseMatch.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/CaseMatchTest.java
Labels: ns:probate-back-office-pr-592

#593 PRO-5883: unbreak build
  src/main/java/uk/gov/hmcts/probate/model/ccd/CaseMatch.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/CaseMatchTest.java
Labels: ns:probate-back-office-pr-593

#595 PRO-5883: unbreak build
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-595

#596 PRO-5663: Revert attach scanned doc callback error message
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/errors/SolBaCcdServiceBulkScanningTests.java
  src/main/java/uk/gov/hmcts/probate/controller/BulkScanningController.java
  src/main/resources/ValidationMessages.properties
  src/test/java/uk/gov/hmcts/probate/controller/BulkScanningControllerTest.java
Labels: ns:probate-back-office-pr-596
