Repository hmcts/probate-back-office, pull requests merged in 2019-01, with the labels that each got.

#209 PRO-4360 Extend case matching flow to cover standing search
  src/main/java/uk/gov/hmcts/probate/controller/CaseMatchingController.java
  src/main/java/uk/gov/hmcts/probate/controller/CaveatController.java
  src/main/java/uk/gov/hmcts/probate/model/CaseType.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/caveat/request/CaveatCallbackRequest.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/caveat/request/CaveatDetails.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/standingsearch/request/StandingSearchCallbackRequest.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/standingsearch/request/StandingSearchData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/standingsearch/request/StandingSearchDetails.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/standingsearch/response/ResponseStandingSearchData.java
  src/main/java/uk/gov/hmcts/probate/model/criterion/CaseMatchingCriteria.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/StandingSearchCallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/CaseMatchingControllerTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/StandingSearchJsonTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/StandingSearchCallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-209

#214 Amending bulk print url var
  infrastructure/main.tf
Labels: ns:probate-back-office-pr-214

#205 Pro 4020 bulk san phase1
  bin/ccd-add-all-roles.sh
  docker/docker-compose-with-ccd.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/IntegrationTestBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/success.scannedDocuments.json
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/ScannedDocument.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/resources/scannedDocuments.json
  src/test/resources/solicitorAdditionalExecutors.json
  src/test/resources/solicitorPayloadAliasNames.json
Labels: ns:probate-back-office-pr-205

#224 PRO-4413 Local Print or Bulk Print
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/resources/payloadWithEdgeCase.json
  src/test/resources/payloadWithLocalPrint.json
Labels: ns:probate-back-office-pr-224

#225 PRO-4441 No email provide, default notification to no
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
Labels: ns:probate-back-office-pr-225

#227 PRO-4497 Cosmetic changes to the grant and bug fixing
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/main/resources/templates/pdf/admonWillGrant.html
  src/main/resources/templates/pdf/admonWillGrantDraft.html
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/intestacyGrant.html
  src/main/resources/templates/pdf/intestacyGrantDraft.html
Labels: ns:probate-back-office-pr-227

#228 PRO-4507 Case matching - Alias reverse match
  src/main/java/uk/gov/hmcts/probate/model/criterion/CaseMatchingCriteria.java
  src/main/java/uk/gov/hmcts/probate/service/CaseMatchingService.java
  src/main/resources/templates/elasticsearch/case_matching_aliases_sub_query.json
  src/main/resources/templates/elasticsearch/case_matching_aliases_to_aliases_sub_query.json
  src/main/resources/templates/elasticsearch/case_matching_query.json
  src/test/java/uk/gov/hmcts/probate/service/CaseMatchingServiceTest.java
Labels: ns:probate-back-office-pr-228

#230 Pro 4526 add subtype to scanned documents
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/success.scannedDocuments.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/ScannedDocument.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/resources/scannedDocuments.json
Labels: ns:probate-back-office-pr-230

#232 Pro 4405 will lodgement data model
  src/main/java/uk/gov/hmcts/probate/model/ccd/ProbateExecutor.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/willlodgement/request/WillLodgementCallbackRequest.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/willlodgement/request/WillLodgementData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/willlodgement/request/WillLodgementDetails.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/willlodgement/response/ResponseWillLodgementData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/willlodgement/response/WillLodgementCallbackResponse.java
  src/main/java/uk/gov/hmcts/probate/transformer/WillLodgementCallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/willlodgement/request/WillLodgementDataTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/StandingSearchCallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/WillLodgementCallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-232

#236 Set Page Size For Bulk Printing
  src/main/resources/templates/pdf/admonWillGrant.html
  src/main/resources/templates/pdf/admonWillGrantDraft.html
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/grantCover.html
  src/main/resources/templates/pdf/intestacyGrant.html
  src/main/resources/templates/pdf/intestacyGrantDraft.html
Labels: ns:probate-back-office-pr-236

#239 PRO-4570: Update to fix generating a grant preview.
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-239

#242 PRO-4297 bulk print
  build.gradle
  src/main/java/uk/gov/hmcts/probate/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/probate/service/client/DocumentStoreClient.java
  src/main/resources/templates/pdf/grantCover.html
  src/test/java/uk/gov/hmcts/probate/service/client/DocumentStoreClientTest.java
Labels: ns:probate-back-office-pr-242

#245 PRO-3704: Functional tests & Removed Auto Config
  kubernetes/deployment.template.yaml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/probateman/ProbateManFunctionalTests.java
  src/functionalTest/resources/json/probateman/caveat.json
  src/functionalTest/resources/json/probateman/grantApplicant.json
  src/functionalTest/resources/json/probateman/standingSearch.json
  src/functionalTest/resources/json/probateman/willLodgement.json
  src/main/java/uk/gov/hmcts/probate/BusinessRulesValidationApplication.java
  src/main/java/uk/gov/hmcts/probate/health/HealthConfiguration.java
Labels: ns:probate-back-office-pr-245

#244 PRO-4409 PRO-4410 will lodgement receipt
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/willLodgementPayload.json
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/model/DocumentType.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/willlodgement/request/WillLodgementData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/willlodgement/request/WillLodgementDetails.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentService.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementService.java
  src/main/java/uk/gov/hmcts/probate/transformer/DocumentTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/WillLodgementCallbackResponseTransformer.java
  src/main/resources/templates/pdf/willLodgementDepositReceipt.html
  src/test/java/uk/gov/hmcts/probate/controller/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/willlodgement/request/WillLodgementDataTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/DocumentTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/WillLodgementCallbackResponseTransformerTest.java
  src/test/resources/willLodgementPayloadNotifications.json
Labels: ns:probate-back-office-pr-244
