Repository hmcts/probate-back-office, pull requests merged in 2019-02, with the labels that each got.

#250 PRO-3936: Update to pass through signature to grant documents.
  bin/bo-decrypt-image.sh
  bin/bo-encrypt-image.sh
  src/main/java/uk/gov/hmcts/probate/config/PDFServiceConfiguration.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/willlodgement/request/WillLodgementDetails.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementService.java
  src/main/resources/application.yml
  src/main/resources/signatures/grantSignature-test.png.enc
  src/main/resources/signatures/grantSignature.png.enc
  src/main/resources/templates/pdf/willLodgementDepositReceipt.html
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementServiceTest.java
Labels: ns:probate-back-office-pr-250

#257 PRO-3936: Updated to reduce signature size and add aat sig.
  src/main/resources/signatures/grantSignature-aat.png.enc
  src/main/resources/signatures/grantSignature-test.png.enc
  src/main/resources/signatures/grantSignature.png.enc
Labels: ns:probate-back-office-pr-257

#258 Added Will Lodgement JSON config files and conversion scripts
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/AuthorisationCaseType.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/CaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/CaseType.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/FixedLists.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/Jurisdiction.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/SearchInputFields.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/SearchResultFields.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/State.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/UserProfile.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/WorkBasketInputFields.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement-DEV/WorkBasketResultFields.json
  ccdImports/conversionScripts/README.md
  ccdImports/conversionScripts/convertJsonToXLS.sh
  ccdImports/conversionScripts/convertXLSToJson.sh
  ccdImports/conversionScripts/setHostAndPort.sh
  ccdImports/conversionScripts/setupIP.sh
  ccdImports/conversionScripts/toAbsPath.sh
Labels: ns:probate-back-office-pr-258

#268 Pro 4503 json for probate backoffice ss
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseType.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseType.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  ccdImports/configFiles/CCD_Probate_Backoffice/Jurisdiction.json
  ccdImports/configFiles/CCD_Probate_Backoffice/SearchInputFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/SearchResultFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/State.json
  ccdImports/configFiles/CCD_Probate_Backoffice/UserProfile.json
  ccdImports/configFiles/CCD_Probate_Backoffice/WorkBasketInputFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/WorkBasketResultFields.json
Labels: ns:probate-back-office-pr-268

#265 Pro 4732 show legacy info on ccd tab
  build.gradle
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseTypeTab.json
  ccdImports/conversionScripts/setupIP.sh
  docker/docker-compose-with-ccd.yml
  docker/probateman/init-db.sh
  logstash/legacy-case-data.conf
  src/main/java/uk/gov/hmcts/probate/model/ccd/caveat/request/CaveatData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/caveat/response/ResponseCaveatData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/standingsearch/request/StandingSearchData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/standingsearch/response/ResponseStandingSearchData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/willlodgement/request/WillLodgementData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/willlodgement/response/ResponseWillLodgementData.java
  src/main/java/uk/gov/hmcts/probate/service/CaseMatchBuilderService.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/CaveatMapper.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/GrantApplicationMapper.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/LegacyCaseiewUrlMapper.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/StandingSearchMapper.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/WillLodgementMapper.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/qualifiers/ToLegacyCaseViewUrl.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/StandingSearchCallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/WillLodgementCallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/CaveatMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/GrantApplicationMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/StandingSearchMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/WillLodgementMapperTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/StandingSearchCallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/WillLodgementCallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-265

#261 Added Case Admin user role Will Lodgement
  bin/ccd-add-all-roles.sh
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseType.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/UserProfile.json
Labels: ns:probate-back-office-pr-261

#262 Pro 4707 will lodgement case officer role
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseType.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/UserProfile.json
Labels: ns:probate-back-office-pr-262

#263 Pro 4706 will lodgement rigstrar role
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseType.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/UserProfile.json
Labels: ns:probate-back-office-pr-263

#264 Pro 4705 will odgement superuser role
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseType.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/UserProfile.json
Labels: ns:probate-back-office-pr-264

#266 PRO-4749: corrected to only import filled grantee information
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/AdditionalExecutorMapper.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/AdditionalExecutorMapperTest.java
Labels: ns:probate-back-office-pr-266

#273 Added the Case Admin role to Caveat case type
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseType.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/UserProfile.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/UserProfile.json
Labels: ns:probate-back-office-pr-273

#271 PRO-4735 Grant Improvements
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/main/java/uk/gov/hmcts/probate/config/properties/registries/Registry.java
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDetails.java
  src/main/resources/application.yml
  src/main/resources/templates/pdf/admonWillGrant.html
  src/main/resources/templates/pdf/admonWillGrantDraft.html
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/intestacyGrant.html
  src/main/resources/templates/pdf/intestacyGrantDraft.html
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate-back-office-pr-271

#269 Pro 4503 bulk scanning json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/AuthorisationCaseType.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/CaseField.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/CaseType.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/FixedLists.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/Jurisdiction.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/SearchInputFields.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/SearchResultFields.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/State.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/UserProfile.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/WorkBasketInputFields.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/WorkBasketResultFields.json
  ccdImports/conversionScripts/createAllXLS.sh
  ccdImports/conversionScripts/createBSXLS.sh
  ccdImports/conversionScripts/importAllXLS.sh
Labels: ns:probate-back-office-pr-269

#256 Pro 3074 legacy search functional tests
  Jenkinsfile_CNP
  kubernetes/config.aat.yaml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/SolCCDServiceAuthTokenGenerator.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/probateman/IdamData.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/probateman/ProbateManFunctionalTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/probateman/Role.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/probateman/UserGroup.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/util/FunctionalTestUtils.java
  src/functionalTest/resources/application.properties
  src/functionalTest/resources/json/probateman/expectedCaveat.json
  src/functionalTest/resources/json/probateman/expectedGrantApplicant.json
  src/functionalTest/resources/json/probateman/expectedStandingSearch.json
  src/functionalTest/resources/json/probateman/expectedWillLodgement.json
  src/functionalTest/resources/scripts/legacy_search_caveat_insert.sql
  src/functionalTest/resources/scripts/legacy_search_grant_application_insert.sql
  src/functionalTest/resources/scripts/legacy_search_standing_search_insert.sql
  src/functionalTest/resources/scripts/legacy_search_wills_insert.sql
Labels: ns:probate-back-office-pr-256

#283 PRO-4724 Modify Case match fields
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Caveat/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/ComplexTypes.json
Labels: ns:probate-back-office-pr-283

#285 PRO-4849 Case Match results screen should not contain add/remove buttons
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseField.json
Labels: ns:probate-back-office-pr-285

#282 PRO-4820 BO - case-type not populating in case-matching results
  src/main/java/uk/gov/hmcts/probate/model/CaseType.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/casematching/Case.java
  src/main/java/uk/gov/hmcts/probate/service/CaseMatchBuilderService.java
Labels: ns:probate-back-office-pr-282

#287 Pro 4654 go p case admin role
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseType.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/UserProfile.json
  ccdImports/conversionScripts/importAllXLS.sh
Labels: ns:probate-back-office-pr-287

#294 PRO-3074: Functional test fix
  src/functionalTest/java/uk/gov/hmcts/probate/functional/probateman/ProbateManFunctionalTests.java
Labels: ns:probate-back-office-pr-294

#291 PRO-4353: Update to change callback url to use the abouttosubmit column.
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/CaseEvent.json
  ccdImports/conversionScripts/createBSXLS.sh
Labels: ns:probate-back-office-pr-291

#298 PRO-4820 Case type not populating in case-matching results
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/casematching/CaseData.java
  src/main/java/uk/gov/hmcts/probate/service/CaseMatchBuilderService.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/LegacyCaseViewUrlMapper.java
Labels: ns:probate-back-office-pr-298

#299 PRO-4820 Disabling shouldDoLegacySearch test
  src/functionalTest/java/uk/gov/hmcts/probate/functional/probateman/ProbateManFunctionalTests.java
Labels: ns:probate-back-office-pr-299

#270 Pro 4724 modify case match fields
  ccdImports/configFiles/CCD_Probate_Legacy_Cases/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Legacy_Cases/CaseField.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/ComplexTypes.json
  docker/docker-compose-with-ccd.yml
  logstash/legacy-case-data-local.conf
  logstash/legacy-case-data.conf
  src/main/java/uk/gov/hmcts/probate/model/ccd/CaseMatch.java
  src/test/java/uk/gov/hmcts/probate/controller/CaseMatchingControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseMatchBuilderServiceTest.java
Labels: ns:probate-back-office-pr-270

#288 Pro 4833 search by probate man
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Caveat/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Legacy_Cases/CaseField.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/CaseField.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseField.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/ComplexTypes.json
  docker/probateman/init-db.sh
  src/main/java/uk/gov/hmcts/probate/model/ccd/CaseMatch.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/caveat/request/CaveatData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/caveat/response/ResponseCaveatData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/casematching/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/standingsearch/request/StandingSearchData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/standingsearch/response/ResponseStandingSearchData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/willlodgement/request/WillLodgementData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/willlodgement/response/ResponseWillLodgementData.java
  src/main/java/uk/gov/hmcts/probate/model/criterion/CaseMatchingCriteria.java
  src/main/java/uk/gov/hmcts/probate/service/CaseMatchBuilderService.java
  src/main/java/uk/gov/hmcts/probate/service/CaseSearchService.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/LegacyImportServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/CaveatMapper.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/GrantApplicationMapper.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/StandingSearchMapper.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/WillLodgementMapper.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/StandingSearchCallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/WillLodgementCallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/service/CaseMatchBuilderServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseSearchServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/LegacyImportServiceImplTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/StandingSearchCallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/WillLodgementCallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-288

#292 Pro 4822 add case imported state
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/State.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Caveat/State.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/State.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/State.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/probateman/ProbateManFunctionalTests.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/EventId.java
  src/main/java/uk/gov/hmcts/probate/model/probateman/ProbateManType.java
  src/test/java/uk/gov/hmcts/probate/service/ccd/CcdClientApiTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/ProbateManServiceImplTest.java
Labels: ns:probate-back-office-pr-292
