Repository hmcts/probate-back-office, pull requests merged in 2019-09, with the labels that each got.

#676 Pro 5935 sot event
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/model/DocumentType.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/DocumentTransformer.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/controller/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/DocumentGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/DocumentTransformerTest.java
Labels: ns:probate-back-office-pr-676

#684 unbreaking build to rebuild vault values
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-684

#683 PRO-6179 Fix to permissions for bulk scanning attach to case.
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
Labels: ns:probate-back-office-pr-683

#669 Pro 5236 capturing applicants details for admon will
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/hardstops/SolCcdServiceWillUpdateHardStopTests.java
  src/functionalTest/resources/json/hardStop.noWillAccessOriginalAdmon.json
  src/functionalTest/resources/json/hardStop.noWillAccessOriginalProbate.json
  src/functionalTest/resources/json/solicitorPayloadNotifications.json
  src/main/java/uk/gov/hmcts/probate/changerule/DiedOrNotApplyingRule.java
  src/main/java/uk/gov/hmcts/probate/changerule/EntitledMinorityRule.java
  src/main/java/uk/gov/hmcts/probate/changerule/LifeInterestRule.java
  src/main/java/uk/gov/hmcts/probate/changerule/MinorityInterestRule.java
  src/main/java/uk/gov/hmcts/probate/changerule/ResiduaryRule.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/java/uk/gov/hmcts/probate/service/StateChangeService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/resources/ResourceMessages.properties
  src/test/java/uk/gov/hmcts/probate/changerule/MinorityInterestRuleTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/ConfirmationResponseServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/StateChangeServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-669

#674 Pro 5948 update admon will legal statement
  src/main/resources/templates/pdf/legalStatementAdmon.html
Labels: ns:probate-back-office-pr-674

#695 applied fix for issue with supplementary and full redec, state fix
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
Labels: ns:probate-back-office-pr-695

#696 PRO-6220: corrected null check conditional for primary app applying
  src/main/java/uk/gov/hmcts/probate/service/ExecutorsApplyingNotificationService.java
Labels: ns:probate-back-office-pr-696

#699 PRO-6035 PRO-6217 Full case amend/generate sot event
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/State.json
Labels: ns:probate-back-office-pr-699

#705 PRO-6041 sols sot templates
  src/functionalTest/resources/json/personalPayloadNotifications.json
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/probate/service/InformationRequestService.java
  src/main/java/uk/gov/hmcts/probate/transformer/DocumentTransformer.java
  src/test/java/uk/gov/hmcts/probate/service/DocumentGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/DocumentTransformerTest.java
Labels: ns:probate-back-office-pr-705

#709 PRO-6232: corrected full case amend
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
Labels: ns:probate-back-office-pr-709

#711 PRO-6241 bug fix multiple exec
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/service/InformationRequestCorrespondenceService.java
  src/test/java/uk/gov/hmcts/probate/service/InformationRequestCorrespondenceServiceTest.java
Labels: ns:probate-back-office-pr-711

#714 PRO-6183: corrected case stopped sols email wording
  src/main/resources/application.yml
Labels: ns:probate-back-office-pr-714

#716 Pro 6097 set will exists
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-716

#721 PRO-6241 PA digital cases primaryApplicantIsApplying is not set
  src/main/java/uk/gov/hmcts/probate/service/ExecutorsApplyingNotificationService.java
  src/test/java/uk/gov/hmcts/probate/service/ExecutorsApplyingNotificationServiceTest.java
Labels: ns:probate-back-office-pr-721

#722 PRO-5349 email redec sot
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/State.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/probate/model/State.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/RedeclarationNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/CaveatPersonalisationService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/TemplateService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/RedeclarationNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/CaveatPersonalisationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate-back-office-pr-722

#725 Pro 6242 default answer no sols without email
  build.gradle
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
Labels: ns:probate-back-office-pr-725

#732 unbreak build for release
  Jenkinsfile_CNP
Labels: do not merge, ns:probate-back-office-pr-732

#737 break build to prod
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-737

#731 Replace pound with decimal unicode encoding
  src/main/resources/templates/pdf/admonWillGrant.html
  src/main/resources/templates/pdf/admonWillGrantDraft.html
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/intestacyGrant.html
  src/main/resources/templates/pdf/intestacyGrantDraft.html
  src/main/resources/templates/pdf/legalStatementAdmon.html
  src/main/resources/templates/pdf/legalStatementIntestacy.html
  src/main/resources/templates/pdf/legalStatementProbate.html
  src/main/resources/templates/printService/caseDetailsPA.html
Labels: ns:probate-back-office-pr-731

#739 Pro 5247 fix environment docker repo
  bin/CCD_Probate_V04.09-Dev.xlsx
  bin/ccd-add-all-roles.sh
  bin/ccd-add-role.sh
  bin/ccd-import-definition.sh
  bin/document-management-store-create-blob-store-container.sh
  bin/env_variables_all.txt
  bin/fees-add-keyword.sh
  bin/idam-client-setup.sh
  bin/idam-create-caseworker.sh
  bin/idam-delete-user.sh
  bin/idam-login.sh
  bin/idam-role-assignable.sh
  bin/idam-role.sh
  bin/idam-service-token.sh
  bin/idam-user-token.sh
  bin/linux-set-environment-variables.sh
  bin/set-environment-variables.sh
  ccd
  ccdImports/conversionScripts/importAllXLS.sh
  compose/README.md
  compose/backend.yml
  compose/def-designer.yml
  compose/defaults.conf
  compose/dm-store.yml
  compose/elasticsearch.yml
  compose/frontend.yml
  docker/ccd-database/Dockerfile
  docker/ccd-database/init-db.sh
  logstash/legacy-case-data-local.conf
  src/main/resources/application.yml
Labels: ns:probate-back-office-pr-739

#733 Pro 6271 Unable to create sols case with primary exec non applying
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
Labels: ns:probate-back-office-pr-733
