Repository hmcts/probate-back-office, pull requests merged in 2019-05, with the labels that each got.

#435 PRO-5298: Updated all e2e tests to reflect change in input field ids …
  src/test/end-to-end/pages/caseDetails/caseDetails.js
  src/test/end-to-end/pages/caseDetails/caveat/historyTabConfig.json
  src/test/end-to-end/pages/caseDetails/willLodgement/historyTabConfig.json
  src/test/end-to-end/pages/createCaveat/page2.js
  src/test/end-to-end/pages/createCaveat/page3.js
  src/test/end-to-end/pages/createWillLodgement/page2.js
  src/test/end-to-end/pages/createWillLodgement/page3.js
Labels: ns:probate-back-office-pr-435

#396 PRO-5092: added new registry fields to case types
  docker/probateman/init-db.sh
  src/main/java/uk/gov/hmcts/probate/model/probateman/Caveat.java
  src/main/java/uk/gov/hmcts/probate/model/probateman/GrantApplication.java
  src/main/java/uk/gov/hmcts/probate/model/probateman/StandingSearch.java
  src/main/java/uk/gov/hmcts/probate/model/probateman/WillLodgement.java
  src/test/java/uk/gov/hmcts/probate/model/probateman/CaveatCreator.java
  src/test/java/uk/gov/hmcts/probate/model/probateman/GrantApplicationCreator.java
  src/test/java/uk/gov/hmcts/probate/model/probateman/StandingSearchCreator.java
  src/test/java/uk/gov/hmcts/probate/model/probateman/WillLodgementCreator.java
Labels: ns:probate-back-office-pr-396

#450 removed failed test screenshot
  .gitignore
  src/test/end-to-end/output/Caveat_Workflow_-_E2E_test_01_-_Caveat_for_a_Personal_Applicant_-_Raise_a_Caveat_-)_Order_summons.failed.png
Labels: ns:probate-back-office-pr-450

#429 PRO-5260 add comment case officer
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseEvent.json
Labels: ns:probate-back-office-pr-429

#449 PRO-5348 add delivery date to scanned documents complex type
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/ScannedDocument.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/FileTransferService.java
  src/main/java/uk/gov/hmcts/probate/service/IdamAuthenticateUserService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/controller/DataExtractControllerTest.java
  src/test/java/uk/gov/hmcts/probate/model/AuthenticateUserResponseTest.java
Labels: ns:probate-back-office-pr-449

#454 Add missing values for auth token
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/probate/config/FeignClientConfiguration.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/FileTransferService.java
  src/main/java/uk/gov/hmcts/probate/service/IdamAuthenticateUserService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/model/AuthenticateUserResponseTest.java
Labels: ns:probate-back-office-pr-454

#375 Pro 4611 go r e2e test branch
  .gitignore
  src/test/end-to-end/pages/caseDetails/grantOfProbate/applicantDetailsTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/applicantDetailsUpdateTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/caseDetailsTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/caseDetailsUpdateTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/caseMatchesTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/deceasedTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/deceasedUpdateTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/docNotificationsTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/documentUploadTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/examChecklistTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/grantNotificationsTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/historyTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/paymentDetailsTabConfig.json
  src/test/end-to-end/pages/caseDetails/willLodgement/caseDetailsUpdateTabConfig.json
  src/test/end-to-end/pages/caseMatches/caveat/caseMatches.js
  src/test/end-to-end/pages/caseMatches/grantOfProbate/caseMatches.js
  src/test/end-to-end/pages/caseMatches/grantOfProbate/caseMatchesConfig.json
  src/test/end-to-end/pages/createCase/createCase.js
  src/test/end-to-end/pages/createCase/createCaseConfig.json
  src/test/end-to-end/pages/createGrantOfProbate/createGrantOfProbateConfig.json
  src/test/end-to-end/pages/createGrantOfProbate/page1.js
  src/test/end-to-end/pages/createGrantOfProbate/page2.js
  src/test/end-to-end/pages/createGrantOfProbate/page3.js
  src/test/end-to-end/pages/createGrantOfProbate/page4.js
  src/test/end-to-end/pages/createGrantOfProbate/page5.js
  src/test/end-to-end/pages/createGrantOfProbate/page6.js
  src/test/end-to-end/pages/createGrantOfProbate/page7.js
  src/test/end-to-end/pages/createGrantOfProbate/page8.js
  src/test/end-to-end/pages/createGrantOfProbate/page9.js
  src/test/end-to-end/pages/createWillLodgement/page3.js
  src/test/end-to-end/pages/documentUpload/caveat/documentUploadConfig.json
  src/test/end-to-end/pages/documentUpload/documentUpload.js
  src/test/end-to-end/pages/documentUpload/grantOfProbate/documentUploadConfig.json
  src/test/end-to-end/pages/documentUpload/willLodgement/documentUploadConfig.json
  src/test/end-to-end/pages/handleEvidence/handleEvidence.js
  src/test/end-to-end/pages/handleEvidence/handleEvidenceConfig.json
  src/test/end-to-end/pages/issueGrant/issueGrant.js
  src/test/end-to-end/pages/issueGrant/issueGrantConfig.json
  src/test/end-to-end/pages/markForExamination/markForExamination.js
  src/test/end-to-end/pages/markForExamination/markForExaminationConfig.json
  src/test/end-to-end/pages/markForIssue/markForIssue.js
  src/test/end-to-end/pages/markForIssue/markForIssueConfig.json
  src/test/end-to-end/pages/newCase/newCase.js
  src/test/end-to-end/pages/printCase/printCase.js
  src/test/end-to-end/pages/printCase/printCaseConfig.json
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/caveatPath.js
  src/test/end-to-end/paths/caveatPath2.js
  src/test/end-to-end/paths/caveatPath3.js
  src/test/end-to-end/paths/caveatPath4.js
  src/test/end-to-end/paths/grantOfProbatePath.js
  src/test/end-to-end/paths/willLodgementPath.js
Labels: ns:probate-back-office-pr-375

#458 Pro 5281 restrict excela on scanned date
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseEvent.json
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/probate/config/FeignClientConfiguration.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/ScannedDocument.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/ExcelaCriteriaService.java
  src/main/java/uk/gov/hmcts/probate/service/FileTransferService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileService.java
  src/test/java/uk/gov/hmcts/probate/controller/DataExtractControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/ExcelaCriteriaServiceTest.java
Labels: ns:probate-back-office-pr-458

#460 added changes to excela email data
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/FileTransferService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileService.java
Labels: ns:probate-back-office-pr-460

#462 modified iron mountain file service to include edits to structure
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileService.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileServiceTest.java
  src/test/resources/expectedGeneratedFiles/ironMountainFileEmptyOptionals.txt
  src/test/resources/expectedGeneratedFiles/ironMountainFilePopulated.txt
  src/test/resources/expectedGeneratedFiles/ironMountainOneAddressLine.txt
  src/test/resources/expectedGeneratedFiles/ironMountainPrimaryApplicantNo.txt
  src/test/resources/expectedGeneratedFiles/ironMountainSolicitor.txt
Labels: ns:probate-back-office-pr-462

#461 Case creation test typo fix
  src/test/end-to-end/pages/caseDetails/grantOfProbate/historyTabConfig.json
  src/test/end-to-end/pages/createCase/createCaseConfig.json
Labels: ns:probate-back-office-pr-461

#463 added check for ctsc registry location
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/model/DataExtractGrantType.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileService.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileServiceTest.java
  src/test/resources/expectedGeneratedFiles/ironMountainFileCtsc.txt
Labels: ns:probate-back-office-pr-463

#467 removed search criteria resticting ES cases to digital grant
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/ExcelaCriteriaService.java
  src/main/java/uk/gov/hmcts/probate/service/IdamAuthenticateUserService.java
  src/test/java/uk/gov/hmcts/probate/controller/DataExtractControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/ExcelaCriteriaServiceTest.java
Labels: ns:probate-back-office-pr-467

#468 added solicitor details as grantee 1
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileService.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileServiceTest.java
  src/test/resources/expectedGeneratedFiles/ironMountainSolAsPrimary.txt
Labels: ns:probate-back-office-pr-468

#477 PRO-5464 - Updated docmosis templates to include logic
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caveats/SolsBoCaveatsServiceTests.java
  src/functionalTest/resources/json/caveatPayloadNotificationsNoEmailCTSC.json
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/probate/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate-back-office-pr-477

#483 Un break pipeline
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-483

#484 break build
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-484

#466 PRO-5052: added update privileges for paper form
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
Labels: ns:probate-back-office-pr-466

#474 extended stop case event
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/solicitorPayloadResolveStop.json
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/resources/solicitorPayloadResolveStopCaseCreated.json
  src/test/resources/solicitorPayloadResolveStopCasePrinted.json
  src/test/resources/solicitorPayloadResolveStopExamining.json
  src/test/resources/solicitorPayloadResolveStopReadyForExamination.json
Labels: ns:probate-back-office-pr-474

#479 Added other information to caveats from legacy cases
  docker/probateman/init-db.sh
  src/main/java/uk/gov/hmcts/probate/model/probateman/Caveat.java
Labels: ns:probate-back-office-pr-479

#486 PRO-5199 added email and bulk print questions to payment event
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEventToFields.json
Labels: ns:probate-back-office-pr-486

#482 PRO-5095: added application submitted date to caveats and standing search
  build.gradle
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseField.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseField.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/caveat/request/CaveatData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/caveat/response/ResponseCaveatData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/standingsearch/request/StandingSearchData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/standingsearch/response/ResponseStandingSearchData.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/AdditionalExecutorMapper.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/CaveatMapper.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/GrantApplicationMapper.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/StandingSearchMapper.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/StandingSearchCallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/AdditionalExecutorMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/CaveatMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/GrantApplicationMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/StandingSearchMapperTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/StandingSearchCallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-482

#476 updated next steps to include ctsc address.
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/resources/application.yml
  src/main/resources/templates/markdown/nextSteps.md
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/resources/expectedConfirmationBody.md
  src/test/resources/expectedConfirmationBodyWithAllCombinations.md
  src/test/resources/expectedConfirmationBodyWithAllCombinationsAndMultiples.md
  src/test/resources/expectedConfirmationBodyWithDeadExecutor.md
  src/test/resources/expectedConfirmationBodyWithIHT400421.md
  src/test/resources/expectedConfirmationBodyWithMultipleDeadExecutors.md
  src/test/resources/expectedConfirmationBodyWithMultipleRenouncingExecutors.md
  src/test/resources/expectedConfirmationBodyWithRenouncingExecutor.md
Labels: ns:probate-back-office-pr-476

#464 PRO-5295-added paper form into the caveats
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseTypeTab.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caveats/SolsBoCaveatsServiceTests.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/caveat/request/CaveatData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/caveat/response/ResponseCaveatData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-464
