Repository hmcts/probate-back-office, pull requests merged in 2019-04, with the labels that each got.

#359 Pro 4963 history tab component
  README.md
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/UserProfile.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Legacy_Cases/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Legacy_Cases/CaseField.json
  ccdImports/configFiles/CCD_Probate_Legacy_Cases/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/CaseField.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseField.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseTypeTab.json
  docker/docker-compose-with-ccd.yml
Labels: ns:probate-back-office-pr-359

#374 Disabling ElasticSearch health check
  src/main/resources/application.properties
Labels: ns:probate-back-office-pr-374

#381 changed serenity version to comply with new SB version and fix func t…
  build.gradle
Labels: ns:probate-back-office-pr-381

#380 PRO-4927 migrate docker compose config to azurecr
  docker/docker-compose-with-ccd.yml
  docker/init-db.sh
Labels: ns:probate-back-office-pr-380

#373 PRO-5043 When switching between sols to pa. Sols fields still exist
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-373

#377 PRO-5037 Extended registry locations, added relevant unit tests
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  ccdImports/configFiles/CCD_Probate_Caveat/FixedLists.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/FixedLists.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/FixedLists.json
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate-back-office-pr-377

#379 PRO-5044 Sols mandatory fields
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate-back-office-pr-379

#248 BAU: document how to retrieve send letter service locally
  README.md
Labels: ns:probate-back-office-pr-248

#382 Added Payment History component to the GoP Caveat WL and SS case types
  bin/ccd-add-all-roles.sh
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseField.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseTypeTab.json
Labels: ns:probate-back-office-pr-382

#383 PRO-5120 Extend upload document to additional states
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate-back-office-pr-383

#385 PRO-5117: Refactored code for user entry of event summary and event d…
  src/test/end-to-end/output/Multiple_Executors_-_With_Idam.failed.png
  src/test/end-to-end/output/Multiple_Executors_-_With_Idam_after_each_hook__finalize_codeceptjs.failed.png
  src/test/end-to-end/output/Will_Lodgement_for_a_Personal_Applicant.failed.png
  src/test/end-to-end/pages/caseDetails/caseDetails.js
  src/test/end-to-end/pages/caseDetails/willLodgement/willWithdrawalDetailsTabConfig.json
  src/test/end-to-end/pages/checkYourAnswers/checkYourAnswers.js
  src/test/end-to-end/pages/checkYourAnswers/checkYourAnswersConfig.json
  src/test/end-to-end/pages/eventSummary/addCommentSummaryConfig.json
  src/test/end-to-end/pages/eventSummary/caveat/amendCaveatDetailsSummaryConfig.json
  src/test/end-to-end/pages/eventSummary/caveat/awaitCaveatResolutionSummaryConfig.json
  src/test/end-to-end/pages/eventSummary/caveat/caseMatchesCommentSummaryConfig.json
  src/test/end-to-end/pages/eventSummary/caveat/caveatExpiredSummaryConfig.json
  src/test/end-to-end/pages/eventSummary/caveat/caveatNotMatchedSummaryConfig.json
  src/test/end-to-end/pages/eventSummary/caveat/emailCaveatorSummaryConfig.json
  src/test/end-to-end/pages/eventSummary/caveat/issueCaveatWarningSummaryConfig.json
  src/test/end-to-end/pages/eventSummary/caveat/orderSummonsSummaryConfig.json
  src/test/end-to-end/pages/eventSummary/caveat/requestAppearanceSummaryConfig.json
  src/test/end-to-end/pages/eventSummary/caveat/warningRequestedSummaryConfig.json
  src/test/end-to-end/pages/eventSummary/caveat/withdrawCaveatSummaryConfig.json
  src/test/end-to-end/pages/eventSummary/documentUploadSummaryConfig.json
  src/test/end-to-end/pages/eventSummary/eventSummary.js
  src/test/end-to-end/pages/eventSummary/eventSummaryConfig.json
  src/test/end-to-end/pages/eventSummary/willLodgement/caseMatchesCommentSummaryConfig.json
  src/test/end-to-end/pages/eventSummary/willLodgement/generateDepositReceiptSummaryConfig.json
  src/test/end-to-end/pages/eventSummary/willLodgement/withdrawWillSummaryConfig.json
  src/test/end-to-end/pages/generateDepositReceipt/generateDepositReceipt.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/pages/withdrawal/willLodgement/withdrawalConfig.json
  src/test/end-to-end/pages/withdrawal/withdrawal.js
  src/test/end-to-end/pages/withdrawal/withdrawalConfig.json
  src/test/end-to-end/paths/caveatPath.js
  src/test/end-to-end/paths/caveatPath2.js
  src/test/end-to-end/paths/caveatPath3.js
  src/test/end-to-end/paths/caveatPath4.js
  src/test/end-to-end/paths/willLodgementPath.js
Labels: ns:probate-back-office-pr-385

#372 PRO-5104: changed flushing on update of legacy record
  src/main/java/uk/gov/hmcts/probate/service/probateman/LegacyImportServiceImpl.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/LegacyImportServiceImplTest.java
Labels: ns:probate-back-office-pr-372

#386 PRO-4669- Create Scheduler : created new branch to rebase with demo
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/probate/config/ClientTokenGenerator.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/Grantee.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/config/ClientTokenGeneratorTest.java
  src/test/java/uk/gov/hmcts/probate/config/SecurityConfigurationTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/CaseMatchingControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/CaveatControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/DataExtractControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NextStepsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/StandingSearchControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/BusinessValidationMessageRetrieverTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/ConfirmationResponseServiceFeatureTest.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/SolsAliasNameMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/AdditionalExecutorMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/CaveatMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/FullAliasNameMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/GrantApplicationMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/StandingSearchMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/WillLodgementMapperTest.java
  src/test/resources/application.yml
Labels: ns:probate-back-office-pr-386

#388 PRO-5149 remove max character limit on name fields
  ccdImports/configFiles/CCD_Probate_Caveat/CaseField.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/CaseField.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/ComplexTypes.json
Labels: ns:probate-back-office-pr-388

#389 Pro 4669 create scheduler
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEventToFields.json
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/probate/config/ClientTokenGenerator.java
  src/main/java/uk/gov/hmcts/probate/config/NotificationsConfiguration.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/Grantee.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/config/ClientTokenGeneratorTest.java
  src/test/java/uk/gov/hmcts/probate/config/SecurityConfigurationTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/CaseMatchingControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/CaveatControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/DataExtractControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NextStepsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/StandingSearchControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/BusinessValidationMessageRetrieverTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/ConfirmationResponseServiceFeatureTest.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/SolsAliasNameMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/AdditionalExecutorMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/CaveatMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/FullAliasNameMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/GrantApplicationMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/StandingSearchMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/probateman/mapper/WillLodgementMapperTest.java
  src/test/resources/application.yml
Labels: ns:probate-back-office-pr-389

#392 PRO-5152 Exception is thrown when deceased DOD is missing
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-392

#399 Break build to production
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-399

#397 refactored http client to feign client
  build.gradle
  dependency-check-suppressions.xml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/probate/BusinessRulesValidationApplication.java
  src/main/java/uk/gov/hmcts/probate/config/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/probate/config/FeignClientConfiguration.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/model/AuthenticateUserResponse.java
  src/main/java/uk/gov/hmcts/probate/model/TokenExchangeResponse.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/Grantee.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/IdamApi.java
  src/main/java/uk/gov/hmcts/probate/service/IdamAuthenticateUserService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/controller/DataExtractControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate-back-office-pr-397

#393 Pro 4851 removing ref to signing wills
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/checkyouranswers/SolCcdServiceCheckYourAnswersTests.java
  src/main/resources/templates/markdown/nextSteps.md
  src/main/resources/templates/pdf/legalStatement.html
  src/test/resources/expectedConfirmationBody.md
  src/test/resources/expectedConfirmationBodyWithAllCombinations.md
  src/test/resources/expectedConfirmationBodyWithAllCombinationsAndMultiples.md
  src/test/resources/expectedConfirmationBodyWithDeadExecutor.md
  src/test/resources/expectedConfirmationBodyWithIHT400421.md
  src/test/resources/expectedConfirmationBodyWithMultipleDeadExecutors.md
  src/test/resources/expectedConfirmationBodyWithMultipleRenouncingExecutors.md
  src/test/resources/expectedConfirmationBodyWithRenouncingExecutor.md
Labels: ns:probate-back-office-pr-393

#404 Changed version to fix the build
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate-back-office-pr-404

#406 adding Case id to log events and fix retries attempt on generate-grant
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/service/BulkPrintService.java
Labels: ns:probate-back-office-pr-406

#410 Fixed Master Build
  build.gradle
Labels: ns:probate-back-office-pr-410

#408 Fix build to production
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-408

#409 Break build to production
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-409

#414 added sols authorisation for the history tab component
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
Labels: ns:probate-back-office-pr-414

#416 PRO-4580 date of death type grants
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/personalPayloadNotifications.json
  src/functionalTest/resources/json/solicitorPayloadNotifications.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsGrantInfo.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsMultipleExecutors.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsMultipleExsPANotApplying.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsPowerReserved.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsPowerReservedMultiple.json
  src/main/resources/templates/pdf/admonWillGrant.html
  src/main/resources/templates/pdf/admonWillGrantDraft.html
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/intestacyGrant.html
  src/main/resources/templates/pdf/intestacyGrantDraft.html
Labels: ns:probate-back-office-pr-416

#415 Pro 5171 case matching grant issued
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate-back-office-pr-415

#413 Pro 5175 caveat withdrwal for additional states
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEvent.json
  src/test/end-to-end/paths/caveatPath.js
  src/test/end-to-end/paths/caveatPath2.js
Labels: ns:probate-back-office-pr-413

#418 PRO-5242: merged deceased and IHT details for amend case after import…
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
Labels: ns:probate-back-office-pr-418

#421 amendTestsFailingNightlyPipeline
  src/test/end-to-end/paths/caveatPath.js
  src/test/end-to-end/paths/caveatPath2.js
  src/test/end-to-end/paths/caveatPath3.js
  src/test/end-to-end/paths/caveatPath4.js
Labels: ns:probate-back-office-pr-421

#422 amendTestsFailingNightlyPipeline
  src/test/config.js
  src/test/end-to-end/pages/caseDetails/caseDetails.js
  src/test/end-to-end/paths/willLodgementPath.js
Labels: ns:probate-back-office-pr-422

#423 Unbreak build
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-423

#425 PRO-5282: correct template fault, added logging
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementService.java
  src/main/resources/templates/pdf/grantCover.html
Labels: ns:probate-back-office-pr-425

#427 Unbreak build to prod
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-427

#428 Break build to prod
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-428

#432 PRO-5302: replaced sendLetter caseData with caseReference
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/service/BulkPrintService.java
Labels: ns:probate-back-office-pr-432

#433 Unbreak build for PRO-3052
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-433

#434 Break prod build for aat
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-434

#420 added feign client to push files to azure ftp
  dependency-check-suppressions.xml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/probate/config/FeignClientConfiguration.java
  src/main/java/uk/gov/hmcts/probate/config/FileTransferConfiguration.java
  src/main/java/uk/gov/hmcts/probate/config/NotificationsConfiguration.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/service/FileTransferApi.java
  src/main/java/uk/gov/hmcts/probate/service/FileTransferService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/TextFileBuilderService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/controller/DataExtractControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate-back-office-pr-420

#438 added Form and Coversheet to the fixed list
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
Labels: ns:probate-back-office-pr-438
