Repository hmcts/probate-back-office, pull requests merged in 2019-12, with the labels that each got.

#811 PRO-6786: Add more citizen states
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
Labels: ns:probate-back-office-pr-811

#816 PRO-6813: Updated to pass through grant type to mapper and ignore fal…
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/requirements.yaml
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA1A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA1P.json
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/ExceptionRecordService.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ExceptionRecordGrantOfRepresentationMapper.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/ExceptionRecordServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ExceptionRecordGrantOfRepresentationMapperAfterMappingTest.java
Labels: ns:probate-back-office-pr-816

#818 Pro 6813 set relative booleans for ages over zero
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ExceptionRecordGrantOfRepresentationMapper.java
Labels: ns:probate-back-office-pr-818

#823 Pro 6817 use iht reference or form value
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordPA1A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA1A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA1P.json
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ExceptionRecordGrantOfRepresentationMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAddressMapper.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ExceptionRecordGrantOfRepresentationMapperAfterMappingTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAddressMapperTest.java
Labels: ns:probate-back-office-pr-823

#827 Pro 6847 update to fix error message for money conversion
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldIhtMoneyMapper.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldIhtMoneyMapperTest.java
Labels: ns:probate-back-office-pr-827

#801 Pro 6669 request sols to provide signed copy of legal declaration
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/resources/templates/markdown/nextSteps.md
  src/test/java/uk/gov/hmcts/probate/service/ConfirmationResponseServiceTest.java
  src/test/resources/expectedConfirmationBody.md
  src/test/resources/expectedConfirmationBodyWithAllCombinations.md
  src/test/resources/expectedConfirmationBodyWithAllCombinationsAndMultiples.md
  src/test/resources/expectedConfirmationBodyWithDeadExecutor.md
  src/test/resources/expectedConfirmationBodyWithIHT400421.md
  src/test/resources/expectedConfirmationBodyWithMultipleDeadExecutors.md
  src/test/resources/expectedConfirmationBodyWithMultipleRenouncingExecutors.md
  src/test/resources/expectedConfirmationBodyWithNoWill.md
  src/test/resources/expectedConfirmationBodyWithRenouncingExecutor.md
Labels: do not merge, ns:probate-back-office-pr-801

#844 QA-370: added Payment history as own tab for BS Exception Record
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/CaseField.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/CaseTypeTab.json
Labels: ns:probate-back-office-pr-844
