Repository hmcts/probate-back-office, pull requests merged in 2019-11, with the labels that each got.

#789 PRO-5798: Fix to use new event id for bulk scan.
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEvent.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA1A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA1P.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA8A.json
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformer.java
Labels: ns:probate-back-office-pr-789

#796 PRO-5804: corrected functioanl test failures
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA1A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA1P.json
  src/main/java/uk/gov/hmcts/probate/controller/ExceptionRecordController.java
Labels: ns:probate-back-office-pr-796

#783 PRO-6548: Postcode fix for executors
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
Labels: ns:probate-back-office-pr-783

#798 Pro 5804 fix bugs with transformation
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordPA1A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA1P.json
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/ExceptionRecordService.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ExceptionRecordGrantOfRepresentationMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAdditionalExecutorsNotApplyingMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAdoptiveRelativesMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldIhtMoneyMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldNumberMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldPaymentMethodMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/qualifiers/ToPaperPaymentMethod.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ExceptionRecordGrantOfRepresentationMapperAfterMappingTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldPaymentMethodMapperTest.java
Labels: ns:probate-back-office-pr-798

#804 PRO-5804: Updated to add bulkScanCaseReference to CCD UI.
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEventToFields.json
Labels: ns:probate-back-office-pr-804

#812 Unbreak Build to prod for 28/11/2019
  Jenkinsfile_CNP
Labels: do not merge, ns:probate-back-office-pr-812
