Repository hmcts/probate-back-office, pull requests merged in 2019-08, with the labels that each got.

#598 break build to production
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-598

#601 changed the names of the draft reissue files to make sure that the dr…
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/model/DocumentType.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentService.java
  src/main/java/uk/gov/hmcts/probate/transformer/DocumentTransformer.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/DocumentGeneratorServiceTest.java
Labels: ns:probate-back-office-pr-601

#594 Pro 5795 ocr data validation
  src/functionalTest/java/uk/gov/hmcts/probate/functional/errors/SolBaCcdServiceBulkScanningTests.java
  src/functionalTest/resources/json/expectedOCRDataAllMandatoryFields.json
  src/functionalTest/resources/json/expectedOCRDataMissingMandatoryFields.json
  src/main/java/uk/gov/hmcts/probate/controller/OCRFormsController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/MandatoryFields.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/ValidationResponse.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/ValidationResponseState.java
  src/main/java/uk/gov/hmcts/probate/model/ocr/OCRField.java
  src/main/java/uk/gov/hmcts/probate/model/ocr/OCRRequest.java
  src/main/java/uk/gov/hmcts/probate/service/ocr/OCRMapper.java
  src/main/java/uk/gov/hmcts/probate/service/ocr/OCRToCCDMandatoryField.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/controller/OCRFormsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/ocr/OCRMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/ocr/OCRToCCDMandatoryFieldTest.java
  src/test/resources/expectedOCRData.json
Labels: ns:probate-back-office-pr-594

#605 PRO-5217: corrected logging
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
Labels: ns:probate-back-office-pr-605

#609 Added form type check and documentation
  src/functionalTest/java/uk/gov/hmcts/probate/functional/bulkscanning/SolBaCcdServiceBulkScanningTests.java
  src/main/java/uk/gov/hmcts/probate/controller/OCRFormsController.java
  src/main/java/uk/gov/hmcts/probate/exception/NotFoundException.java
  src/main/java/uk/gov/hmcts/probate/exception/handler/DefaultExceptionHandler.java
  src/main/java/uk/gov/hmcts/probate/service/ocr/FormType.java
  src/test/java/uk/gov/hmcts/probate/controller/OCRFormsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/exception/handler/DefaultExceptionHandlerTest.java
Labels: ns:probate-back-office-pr-609

#608 change repo
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/requirements.yaml
Labels: ns:probate-back-office-pr-608

#611 PRO-5917:added latest grant reissue date
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/SearchInputFields.json
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFGeneratorService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-611

#610 PRO: 5805, 5806 Added additional forms and mandatory fields
  src/main/java/uk/gov/hmcts/probate/controller/OCRFormsController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/CaveatMandatoryFields.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/GORMandatoryFields.java
  src/main/java/uk/gov/hmcts/probate/service/ocr/OCRToCCDMandatoryField.java
  src/test/java/uk/gov/hmcts/probate/controller/OCRFormsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/ocr/OCRToCCDMandatoryFieldTest.java
Labels: ns:probate-back-office-pr-610

#617 Dependency check issues master
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate-back-office-pr-617

#618 PRO-5217: flattened json files
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Caveat/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseEvent.json
Labels: ns:probate-back-office-pr-618

#616 Unbreak build for 08082019
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-616

#620 break build to prod
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-620

#621 PRO 5953: excela bug fixes
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/service/ExcelaCriteriaService.java
  src/main/java/uk/gov/hmcts/probate/service/FileTransferService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
Labels: ns:probate-back-office-pr-621

#597 PRO-5605 filter cases by state as well for caveat notifications
  src/main/java/uk/gov/hmcts/probate/service/CaveatQueryService.java
Labels: ns:probate-back-office-pr-597

#622 PRO-5968: corrected setting of case type
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/model/DataExtractGrantType.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-622

#623 PRO-5982: flattened config json files
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_BulkScanning_ExceptionRecord/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseEvent.json
Labels: ns:probate-back-office-pr-623

#631 Break build
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-631

#632 Pro 5949 updating content on next step page
  src/main/resources/templates/markdown/nextSteps.md
  src/test/resources/expectedConfirmationBody.md
  src/test/resources/expectedConfirmationBodyWithAllCombinations.md
  src/test/resources/expectedConfirmationBodyWithAllCombinationsAndMultiples.md
  src/test/resources/expectedConfirmationBodyWithDeadExecutor.md
  src/test/resources/expectedConfirmationBodyWithIHT400421.md
  src/test/resources/expectedConfirmationBodyWithMultipleDeadExecutors.md
  src/test/resources/expectedConfirmationBodyWithMultipleRenouncingExecutors.md
  src/test/resources/expectedConfirmationBodyWithRenouncingExecutor.md
Labels: ns:probate-back-office-pr-632

#633 Pro 5997 add multiple claims soft stop
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/changerule/MultipleClaimsRule.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/java/uk/gov/hmcts/probate/service/StateChangeService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/resources/ResourceMessages.properties
  src/main/resources/templates/pdf/legalStatementIntestacy.html
  src/test/java/uk/gov/hmcts/probate/service/ConfirmationResponseServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/StateChangeServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate-back-office-pr-633

#636 PRO-5957: Update eligibility content
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
Labels: ns:probate-back-office-pr-636

#637 fix for e2e GoR tests - case-matching results page
  src/test/end-to-end/pages/caseMatches/caveat/caseMatches.js
  src/test/end-to-end/pages/caseMatches/grantOfProbate/caseMatches.js
  src/test/end-to-end/pages/caseMatches/willLodgement/caseMatches.js
  src/test/end-to-end/pages/createGrantOfProbate/page4.js
  src/test/end-to-end/paths/grantOfProbatePath.js
Labels: ns:probate-back-office-pr-637

#640 Pro 6012 sols intestacy eligibility criteria update
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
Labels: ns:probate-back-office-pr-640

#641 Pro 6007 updating content on next step page
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/resources/templates/markdown/nextSteps.md
  src/test/resources/expectedConfirmationBodyWithAllCombinations.md
  src/test/resources/expectedConfirmationBodyWithAllCombinationsAndMultiples.md
  src/test/resources/expectedConfirmationBodyWithIHT400421.md
Labels: ns:probate-back-office-pr-641

#644 PRO-6029: BO - Intestacy Reissue: Fails to show applicant detail in reissue grant
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
Labels: ns:probate-back-office-pr-644

#645 removing Martials from everywhere
  src/test/end-to-end/pages/caseMatches/caveat/caseMatches.js
  src/test/end-to-end/pages/caseMatches/grantOfProbate/caseMatches.js
  src/test/end-to-end/pages/caseMatches/willLodgement/caseMatches.js
  src/test/end-to-end/pages/createGrantOfProbate/createGrantOfProbateConfig.json
  src/test/end-to-end/paths/grantOfProbatePath.js
Labels: ns:probate-back-office-pr-645

#648 Javaupgd
  Dockerfile
Labels: ns:probate-back-office-pr-648

#647 un break build
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-647

#650 PRO-5994 update vault method
  Jenkinsfile_CNP
  infrastructure/output.tf
Labels: ns:probate-back-office-pr-650

#652 appinsights update
  Dockerfile
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
Labels: ns:probate-back-office-pr-652

#653 try other idam url
  Dockerfile
  charts/probate-back-office/values.preview.template.yaml
  web.config
Labels: ns:probate-back-office-pr-653

#656 update AI-Agent.xml
  lib/AI-Agent.xml
Labels: ns:probate-back-office-pr-656

#654 Pro 6073 intestacy legal statement update
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/main/java/uk/gov/hmcts/probate/changerule/RenouncingRule.java
  src/main/java/uk/gov/hmcts/probate/changerule/SpouseOrCivilRule.java
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/java/uk/gov/hmcts/probate/service/StateChangeService.java
  src/main/resources/ResourceMessages.properties
  src/main/resources/templates/pdf/legalStatementIntestacy.html
  src/test/java/uk/gov/hmcts/probate/changerule/RenouncingRuleTest.java
  src/test/java/uk/gov/hmcts/probate/changerule/SpouseOrCivilRuleTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/ConfirmationResponseServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/StateChangeServiceTest.java
Labels: ns:probate-back-office-pr-654

#658 un break build for sols release
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-658

#660 break build
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-660

#657 PRO-5482 display domicile on grants
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorPayloadNotificationsForeignDomicile.json
  src/main/resources/templates/pdf/admonWillGrant.html
  src/main/resources/templates/pdf/admonWillGrantDraft.html
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/intestacyGrant.html
  src/main/resources/templates/pdf/intestacyGrantDraft.html
Labels: ns:probate-back-office-pr-657
