Repository hmcts/probate-back-office, pull requests merged in 2020-08, with the labels that each got.

#1115 Pro 7681 - caveat fee updates
  ccdImports/configFiles/CCD_Probate_Caveat/CaseField.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caveats/SolsBoCaveatsServiceTests.java
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/ConfirmationResponseServiceTest.java
  src/test/resources/expectedConfirmationBodyCaveat.md
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1115

#1121 PRO-7866 Add minimal docker set up
  .env
  README.md
  bin/dev.sh
  compose/database/Dockerfile
  compose/database/create-multiple-postgres-database.sh
  compose/dev.yml
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1121

#1119 PRO-7589: update BE attrs to include pruned elements
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/success.CitizenAttribtesSaved.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParentTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1119

#1128 PRO-7905 update Gradle version and Java11
  .travis.yml
  Dockerfile
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  lombok.config
  src/main/java/uk/gov/hmcts/probate/model/DocumentCaseType.java
  src/main/java/uk/gov/hmcts/probate/service/AddressFormatterService.java
  src/main/java/uk/gov/hmcts/probate/service/CaseStoppedService.java
  src/main/java/uk/gov/hmcts/probate/service/CaveatNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentsReceivedNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/DataExtractDateValidator.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/ExceptionRecordService.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ApplicationTypeMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ExceptionRecordCaveatMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ExceptionRecordGrantOfRepresentationMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAddressMapper.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/HmrcFileService.java
  src/main/java/uk/gov/hmcts/probate/service/ocr/OCRToCCDMandatoryField.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/LegacyImportServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/AdditionalExecutorMapper.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/FullAliasNameMapper.java
  src/main/java/uk/gov/hmcts/probate/service/probateman/mapper/SolsAliasNameMapper.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1128

#1127 Pro 7067 use fees lookup for payments
  bin/fees-add-payment-fees.sh
  compose/backend.yml
  compose/elasticsearch.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1127
