Repository hmcts/probate-back-office, pull requests merged in 2020-01, with the labels that each got.

#841 PRO-6387: Add N/A for ihtFormId field
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
Labels: ns:probate-back-office-pr-841

#853 Unbreak build to prod for BO push #1 06012020
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-853

#859 PRO-6906: Updated to fix PDF mapping class cast exception.
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PlaceholderDecorator.java
Labels: ns:probate-back-office-pr-859

#860 Unbreak build to prod: demo->master merges
  Jenkinsfile_CNP
Labels: ns:probate-back-office-pr-860

#856 PRO-6904: Updated to add bsp phase 1 config to caveats.
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/SearchInputFields.json
  ccdImports/configFiles/CCD_Probate_Caveat/SearchResultFields.json
  ccdImports/configFiles/CCD_Probate_Caveat/WorkBasketResultFields.json
Labels: ns:probate-back-office-pr-856

#862 PRO-6868: Can return to deceased details from SoT
  src/main/java/uk/gov/hmcts/probate/service/StateChangeService.java
  src/test/java/uk/gov/hmcts/probate/service/StateChangeServiceTest.java
Labels: ns:probate-back-office-pr-862

#865 Wla 132
  src/main/java/uk/gov/hmcts/probate/service/DocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/CaveatPersonalisationService.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFGeneratorService.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PlaceholderDecorator.java
  src/test/java/uk/gov/hmcts/probate/service/DocumentGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/CaveatPersonalisationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PDFGeneratorServiceTest.java
Labels: ns:probate-back-office-pr-865

#768 PRO-6334 grant amendments
  src/main/resources/templates/pdf/admonWillGrant.html
  src/main/resources/templates/pdf/admonWillGrantDraft.html
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/intestacyGrant.html
  src/main/resources/templates/pdf/intestacyGrantDraft.html
Labels: ns:probate-back-office-pr-768

#867 WLA-134: Amend Welsh Language Flag once the case is created
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseTypeTab.json
Labels: ns:probate, rel:probate-back-office-pr-867

#858 Pro 5369 solicitors as executor in grant flow
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  src/main/java/uk/gov/hmcts/probate/changerule/SolsExecutorRule.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/CCDData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/java/uk/gov/hmcts/probate/service/StateChangeService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CCDDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/resources/ResourceMessages.properties
  src/main/resources/ValidationMessages.properties
  src/test/java/uk/gov/hmcts/probate/changerule/SolsExecutorRuleTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NextStepsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/service/ConfirmationResponseServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/StateChangeServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, rel:probate-back-office-pr-858

#874 Wla 190 request info email notification welsh month req
  src/main/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationService.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationServiceTest.java
Labels: ns:probate, rel:probate-back-office-pr-874

#869 Pro 6467 bugfix notification radio button
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, rel:probate-back-office-pr-869

#822 PRO-6237: upgraded logging
  build.gradle
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
  compose/README.md
  compose/backend.yml
  docker-compose.yml
  docker/docker-compose-integration.yml
  infrastructure/main.tf
  kubernetes/config.aat.yaml
  kubernetes/deployment.template.yaml
  src/main/java/uk/gov/hmcts/probate/BusinessRulesValidationApplication.java
  src/main/java/uk/gov/hmcts/probate/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/probate/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/probate/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/CaveatQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate, rel:probate-back-office-pr-822

#882 WLA-134: Amend Welsh Language Flag once the case is created
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseTypeTab.json
Labels: ns:probate, rel:probate-back-office-pr-882

#886 revert the auth and log ...
  build.gradle
  src/main/java/uk/gov/hmcts/probate/config/ServiceTokenGeneratorConfiguration.java
Labels: ns:probate, rel:probate-back-office-pr-886

#888 Upgrade log & auth Lib.
  build.gradle
Labels: ns:probate, rel:probate-back-office-pr-888

#889 Pro 6943 bugs in sols apply as exec
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
  src/functionalTest/resources/json/success.feeNetValue10000.json
  src/functionalTest/resources/json/success.feeNetValue5000.json
Labels: ns:probate, rel:probate-back-office-pr-889

#892 Pro 6910
  dependency-check-suppressions.xml
  src/main/resources/application.yml
Labels: ns:probate, rel:probate-back-office-pr-892

#894 Pro 6943 bugs in sols apply as exec
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
Labels: ns:probate, rel:probate-back-office-pr-894

#900 UnbreakBuild for 30 01 2020
  Jenkinsfile_CNP
Labels: ns:probate, rel:probate-back-office-pr-900

#901 BreakBuild for 30 01 2020
  Jenkinsfile_CNP
Labels: ns:probate, rel:probate-back-office-pr-901
