Repository hmcts/probate-back-office, pull requests merged in 2020-10, with the labels that each got.

#1170 DTSPB-685 terraform update
  dependency-check-suppressions.xml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1170

#1153 PCQ-584|DTSPB-616: Update to add permissions for pcqextractor to see scannedDoc…
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseField.json
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1153

#1174 DTSPB-631 Owasp dependency change
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1174

#1171 Dtspb 554 adding solicitor view for events
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseState.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1171

#1179 DTSPB-770 Removed cheque option in tests for sols
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  ccdImports/configFiles/CCD_Probate_Caveat/FixedLists.json
  src/functionalTest/resources/json/failure.missingSolicitorAddressLine1.json
  src/functionalTest/resources/json/failure.missingSolicitorPostcode.json
  src/functionalTest/resources/json/success.CitizenAttribtesSaved.json
  src/functionalTest/resources/json/success.LessThanFourExecutors.json
  src/functionalTest/resources/json/success.beforeLegalStatement.checkYourAnswersPayload.json
  src/functionalTest/resources/json/success.equalToFourExecutors.json
  src/functionalTest/resources/json/success.feeNetValue1000.json
  src/functionalTest/resources/json/success.feeNetValue10000.json
  src/functionalTest/resources/json/success.feeNetValue5000.json
  src/functionalTest/resources/json/success.nextsteps.json
  src/functionalTest/resources/json/success.solicitorCreate.json
  src/functionalTest/resources/json/success.stateChange.beforeSOTcheckYourAnswersPayload.json
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/CaseDataTestBuilder.java
  src/test/java/uk/gov/hmcts/probate/service/ConfirmationResponseServiceFeatureTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PdfServiceHtmlTemplateTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformerTest.java
  src/test/resources/expectedConfirmationBody.md
  src/test/resources/expectedConfirmationBodyCaveat.md
  src/test/resources/expectedConfirmationBodyWithAllCombinations.md
  src/test/resources/expectedConfirmationBodyWithAllCombinationsAndMultiples.md
  src/test/resources/expectedConfirmationBodyWithDeadExecutor.md
  src/test/resources/expectedConfirmationBodyWithIHT400421.md
  src/test/resources/expectedConfirmationBodyWithMultipleDeadExecutors.md
  src/test/resources/expectedConfirmationBodyWithMultipleRenouncingExecutors.md
  src/test/resources/expectedConfirmationBodyWithNoWill.md
  src/test/resources/expectedConfirmationBodyWithRenouncingExecutor.md
  src/test/resources/solicitorValidateCaveatPayload.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1179
