Repository hmcts/probate-back-office, pull requests merged in 2020-07, with the labels that each got.

#1105 PRO-7617: PA1 mandatory fields
  compose/README.md
  dependency-check-suppressions.xml
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordPA1A.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordPA1P.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA1A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA1P.json
  src/functionalTest/resources/json/expectedOCRDataAllInvalidEmailAddress.json
  src/functionalTest/resources/json/expectedOCRDataAllMandatoryFields.json
  src/functionalTest/resources/json/expectedOCRDataMissingMandatoryFields.json
  src/functionalTest/resources/json/expectedOCRDataMissingMandatoryFieldsSolPA1.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/GORCitizenMandatoryFields.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/GORSolicitorMandatoryFields.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/IntestacyCitizenMandatoryFields.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/IntestacySolicitorMandatoryFields.java
  src/test/java/uk/gov/hmcts/probate/service/ocr/OCRToCCDMandatoryFieldTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1105

#1100 PRO-7518: reference new temporary template
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
  src/functionalTest/resources/json/digitalApplicationRecievedEmailResponse.txt
  src/functionalTest/resources/json/digitalApplicationRecievedPayload.json
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1100

#1113 PRO-7519: added dep supps
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1113

#1101 PRO-7507: filtered for digital only
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
  src/functionalTest/resources/json/paperApplicationRecievedPayload.json
  src/functionalTest/resources/json/paperApplicationRecievedPayloadForCitizen.json
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerUnitTest.java
  src/test/resources/personalPayloadNotificationsPaper.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1101

#1110 PRO-7668 serenity integration
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  src/caseCreator/java/uk/gov/hmcts/probate/caseCreator/util/RelaxedServiceAuthTokenGenerator.java
  src/caseCreator/java/uk/gov/hmcts/probate/caseCreator/util/TestCaseCreator.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/IntegrationTestBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/bulkscanning/SolBaCcdServiceBulkScanningTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caveats/SolsBoCaveatsServiceTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/checkyouranswers/SolCcdServiceCheckYourAnswersTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/dataextract/DataExtractTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/fee/SolCcdServiceFeeTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/hardstops/SolCcdServiceExecutorHardStopTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/hardstops/SolCcdServiceWillUpdateHardStopTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/nextsteps/SolCcdServiceNextStepsTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/printservice/SolCcdServicePrintServiceTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/serviceauth/SolCcdServiceServiceAuthTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/util/FunctionalTestUtils.java
  src/functionalTest/resources/application.properties
  src/main/java/uk/gov/hmcts/probate/service/notification/TemplateService.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerUnitTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/TemplateServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1110

#1116 PRO-7816: update readme for 2e2 local dev work
  README.md
  ccdImports/conversionScripts/README.md
  compose/README.md
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1116

#1118 Pro 7836 fix pending functional tests
  src/functionalTest/java/uk/gov/hmcts/probate/functional/checkyouranswers/SolCcdServiceCheckYourAnswersTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/dataextract/DataExtractTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/fee/SolCcdServiceFeeTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/hardstops/SolCcdServiceExecutorHardStopTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
  src/functionalTest/resources/json/hardStop.executor.json
  src/functionalTest/resources/json/incorrectInput.checkYourAnswersPayload.json
  src/functionalTest/resources/json/personalPayloadNotificationsNoEmailRequested.json
  src/functionalTest/resources/json/success.feeNetValue1000.json
  src/functionalTest/resources/json/success.feeNetValue10000.json
  src/functionalTest/resources/json/success.feeNetValue5000.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1118
