Repository hmcts/probate-back-office, pull requests merged in 2020-05, with the labels that each got.

#1082 PRO-7324-ForeignDomUpdates
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/changerule/ImmovableEstateRule.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/java/uk/gov/hmcts/probate/service/StateChangeService.java
  src/main/resources/ResourceMessages.properties
  src/main/resources/ValidationMessages.properties
  src/test/java/uk/gov/hmcts/probate/changerule/ImmovableEstateRuleTest.java
  src/test/java/uk/gov/hmcts/probate/service/ConfirmationResponseServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/StateChangeServiceTest.java
Labels: ns:probate, rel:probate-back-office-pr-1082

#1083 PRO-7229: Updated to add pcq role for consolidation service.
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseType.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseType.json
Labels: ns:probate, rel:probate-back-office-pr-1083

#1084 PRO-7229: Updated to add missing states for pcqId search.
  bin/ccd-add-all-roles.sh
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  dependency-check-suppressions.xml
Labels: ns:probate, rel:probate-back-office-pr-1084

#1085 PRO-7366: try serviceonly setup of grant notifs
  src/main/java/uk/gov/hmcts/probate/config/SecurityConfiguration.java
  src/test/java/uk/gov/hmcts/probate/config/SecurityConfigurationTest.java
Labels: ns:probate, rel:probate-back-office-pr-1085

#1086 PRO-7366: force async
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerTest.java
Labels: ns:probate, rel:probate-back-office-pr-1086

#1088 Pro 7366 additional logging for grant norifications
  src/main/java/uk/gov/hmcts/probate/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/GrantNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/test/java/uk/gov/hmcts/probate/config/SecurityConfigurationTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerTest.java
Labels: ns:probate, rel:probate-back-office-pr-1088

#1090 Pro 7366 correct schedule update flow
  Jenkinsfile_CNP
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/requirements.yaml
  src/main/java/uk/gov/hmcts/probate/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/probate/service/GrantNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/ccd/CcdClientApi.java
  src/test/java/uk/gov/hmcts/probate/service/GrantNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/ccd/CcdClientApiTest.java
Labels: ns:probate, rel:probate-back-office-pr-1090

#1091 PRO-7411 - Authorisation updates
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  dependency-check-suppressions.xml
Labels: ns:probate, rel:probate-back-office-pr-1091
