Repository hmcts/probate-back-office, pull requests merged in 2020-09, with the labels that each got.

#1138 Update dev env setup
  .env
  README.md
  bin/dev.sh
  compose/dev.yml
  docker-compose.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1138

#1107 PRO-7557: Civil wording for Sols SOT (GoP and Intestacy)
  dependency-check-suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/util/FunctionalTestUtils.java
  src/functionalTest/resources/json/solicitorPDFPayloadAdmonWill.json
  src/functionalTest/resources/json/solicitorPDFPayloadIntestacy.json
  src/functionalTest/resources/json/solicitorPDFPayloadProbate.json
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementService.java
  src/main/resources/templates/pdf/legalStatementAdmon.html
  src/main/resources/templates/pdf/legalStatementIntestacy.html
  src/main/resources/templates/pdf/legalStatementProbate.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1107

#1149 Dtspb 512 deploy ccd
  Jenkinsfile_CNP
  bin/ccd-add-role.sh
  bin/ccd-add-roles.sh
  bin/ccd-import-definition.sh
  bin/idam-service-token.sh
  bin/idam-user-token.sh
  ccdImports/conversionScripts/createAllXLS.sh
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/requirements.yaml
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1149

#1157 Revert "Dtspb 512 deploy ccd (#1149)"
  Jenkinsfile_CNP
  bin/ccd-add-role.sh
  bin/ccd-add-roles.sh
  bin/ccd-import-definition.sh
  bin/idam-service-token.sh
  bin/idam-user-token.sh
  ccdImports/conversionScripts/createAllXLS.sh
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/requirements.yaml
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1157

#1152 DTSPRB-567: Adding in annotations to allow/disallow for null values
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/CaveatQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/evidencemanagement/upload/EmUploadService.java
  src/main/java/uk/gov/hmcts/probate/service/fee/FeeService.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1152

#1158 DTSPB-567: Added in new null checkers and moved nullable annotations.
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/CaveatQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/evidencemanagement/upload/EmUploadService.java
  src/main/java/uk/gov/hmcts/probate/service/fee/FeeService.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1158

#1156 Update dev env
  README.md
  docker-compose.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/util/FunctionalTestUtils.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1156

#1159 Dtspb 567 wrap null exceptions
  src/main/java/uk/gov/hmcts/probate/exception/ClientDataException.java
  src/main/java/uk/gov/hmcts/probate/service/CaveatQueryService.java
  src/test/java/uk/gov/hmcts/probate/service/CaveatQueryServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1159

#1165 Dtspb 567 fix sonar issues
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/CaveatQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/evidencemanagement/upload/EmUploadService.java
  src/main/java/uk/gov/hmcts/probate/service/fee/FeeService.java
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaveatQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/evidencemanagement/upload/EmUploadServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/fee/FeeServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1165

#1166 DTSPB-567 sonar fixes for master build pipeline
  src/main/java/uk/gov/hmcts/probate/service/fee/FeeService.java
  src/test/java/uk/gov/hmcts/probate/service/fee/FeeServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1166

#1167 DTSPB-630 Sonar Failure fixes
  src/main/java/uk/gov/hmcts/probate/service/fee/FeeService.java
  src/test/java/uk/gov/hmcts/probate/service/fee/FeeServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1167

#1169 DTSPB-630 explicit null check for Response Body in feeService
  src/main/java/uk/gov/hmcts/probate/service/fee/FeeService.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1169

#1148 DTSPB-531 updated ccd client version to 4.7.3
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1148
