Repository hmcts/probate-back-office, pull requests merged in 2020-06, with the labels that each got.

#1092 Pro 7027 add case reason stopped items
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
Labels: ns:probate, rel:probate-back-office-pr-1092

#1093 PRO-1234: added logging for ER validation
  src/main/java/uk/gov/hmcts/probate/controller/ExceptionRecordController.java
  src/main/java/uk/gov/hmcts/probate/controller/OCRFormsController.java
  src/main/java/uk/gov/hmcts/probate/service/ocr/OCRToCCDMandatoryField.java
  src/test/java/uk/gov/hmcts/probate/controller/ExceptionRecordControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/OCRFormsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/ocr/OCRToCCDMandatoryFieldTest.java
Labels: ns:probate, rel:probate-back-office-pr-1093

#1094 PRO-7469: added help text for sols legal st regeneration
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
Labels: ns:probate, rel:probate-back-office-pr-1094

#1095 Pro 7465 sols redirect LS amend
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/main/java/uk/gov/hmcts/probate/changerule/SolsExecutorRule.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/java/uk/gov/hmcts/probate/service/StateChangeService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/SolicitorLegalStatementNextStepsTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/StateChangeServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/SolicitorLegalStatementNextStepsTransformerTest.java
  src/test/resources/solicitorWillTypeAdmon.json
  src/test/resources/solicitorWillTypeIntestacy.json
  src/test/resources/solicitorWillTypeProbate.json
Labels: ns:probate, rel:probate-back-office-pr-1095

#1096 PRO-7483: Generate warnings for invalid email addresses in OCR data
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/probate/functional/bulkscanning/SolBaCcdServiceBulkScanningTests.java
  src/functionalTest/resources/json/expectedOCRDataAllInvalidEmailAddress.json
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/ocr/OCRToCCDMandatoryField.java
  src/main/java/uk/gov/hmcts/probate/service/ocr/OcrEmailValidator.java
  src/test/java/uk/gov/hmcts/probate/service/ocr/OCRToCCDMandatoryFieldTest.java
  src/test/java/uk/gov/hmcts/probate/service/ocr/OcrEmailValidatorTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1096

#1097 PRO-7487: Bulk Scan: Solicitors unavailable email address issues
  dependency-check-suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/bulkscanning/SolBaCcdServiceBulkScanningTests.java
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordCombSolicitorPA8A.json
  src/functionalTest/resources/json/expectedOCRDataMissingMandatoryFieldsSolPA1.json
  src/functionalTest/resources/json/expectedOCRDataMissingMandatoryFieldsSolPA8.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/CaveatSolicitorMandatoryFields.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/GORSolicitorMandatoryFields.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/IntestacySolicitorMandatoryFields.java
  src/test/java/uk/gov/hmcts/probate/service/ocr/OCRToCCDMandatoryFieldTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1097

#1102 update README
  compose/README.md
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1102

#1098 PRO-7506: changed await docs query
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1098
