Repository hmcts/probate-back-office, pull requests merged in 2020-03, with the labels that each got.

#973 Pro 7103 names of execs missing on redeclaration
  build.gradle
  compose/backend.yml
  compose/dm-store.yml
  docker/ccd-database/Dockerfile
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
Labels: ns:probate, rel:probate-back-office-pr-973

#972 PRO-6417: Clearup foreign dom data
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, rel:probate-back-office-pr-972

#977 PRO-7102: Merge Eligibility Criteria
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate, rel:probate-back-office-pr-977

#978 PRO-7108: Hide solicitor names for CW sol not on will
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate, rel:probate-back-office-pr-978

#979 Pro 7103 fix additional execs in redeclaration SoT
  compose/backend.yml
  compose/dm-store.yml
  docker/ccd-database/Dockerfile
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
Labels: ns:probate, rel:probate-back-office-pr-979

#980 PRO-7126: fixed caveats withdrawn when adding comment on caveat not m…
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEvent.json
Labels: ns:probate, rel:probate-back-office-pr-980

#982 PRO-7102: Move eligibility page for sols caveats
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEventToFields.json
  dependency-check-suppressions.xml
Labels: ns:probate, rel:probate-back-office-pr-982

#981 PRO-7108: Change label for sols names
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
Labels: ns:probate, rel:probate-back-office-pr-981

#983 WLA-317: Probate Welsh Update bulk print code to allow more than 30 c…
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/service/BulkPrintService.java
  src/test/java/uk/gov/hmcts/probate/service/BulkPrintServiceTest.java
Labels: ns:probate, rel:probate-back-office-pr-983

#985 Pro 7102 move eligibility pages to front
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEventToFields.json
  dependency-check-suppressions.xml
Labels: ns:probate, rel:probate-back-office-pr-985

#984 Pro 7146 remove solicitor foreign domicile from demo
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  dependency-check-suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/hardstops/SolCcdServiceDomicileHardStopTests.java
  src/functionalTest/resources/json/hardStop.deceasedDomicile.json
  src/functionalTest/resources/json/success.deceasedDomicile.json
  src/main/java/uk/gov/hmcts/probate/changerule/DomicilityRule.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/java/uk/gov/hmcts/probate/service/StateChangeService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/resources/ResourceMessages.properties
  src/main/resources/templates/pdf/admonWillGrant.html
  src/main/resources/templates/pdf/admonWillGrantDraft.html
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/intestacyGrant.html
  src/main/resources/templates/pdf/intestacyGrantDraft.html
  src/main/resources/templates/pdf/legalStatementAdmon.html
  src/main/resources/templates/pdf/legalStatementIntestacy.html
  src/main/resources/templates/pdf/legalStatementProbate.html
  src/test/java/uk/gov/hmcts/probate/changerule/DomicilityRuleTest.java
  src/test/java/uk/gov/hmcts/probate/service/ConfirmationResponseServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/StateChangeServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, rel:probate-back-office-pr-984

#992 Wla 317 prod
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/service/BulkPrintService.java
  src/test/java/uk/gov/hmcts/probate/service/BulkPrintServiceTest.java
Labels: ns:probate, rel:probate-back-office-pr-992

#989 BreakBuildProd06032020
  Jenkinsfile_CNP
Labels: ns:probate, rel:probate-back-office-pr-989

#898 PRO-6605 BSP Grant application recieved notification
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
  src/functionalTest/resources/json/personalRaiseGrantWithEmailNotifications.json
  src/functionalTest/resources/json/personalRaiseGrantWithoutEmailNotifications.json
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/probate/model/DocumentType.java
  src/main/java/uk/gov/hmcts/probate/model/State.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/RaiseGrantOfRepresentationNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/RegistryDetailsService.java
  src/main/java/uk/gov/hmcts/probate/service/docmosis/GrantOfRepresentationDocmosisMapperService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/TemplateService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/DocumentTransformer.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/service/RaiseGrantOfRepresentationNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, rel:probate-back-office-pr-898

#845 Pro 5389 add logging for cron hmrc
  Jenkinsfile_CNP
  build.gradle
  charts/probate-back-office/values.preview.template.yaml
  generatedassembledLetter.pdf
  src/functionalTest/resources/application.properties
  src/main/java/uk/gov/hmcts/probate/config/FeignClientConfiguration.java
  src/main/java/uk/gov/hmcts/probate/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/exception/handler/DefaultExceptionHandler.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/FileTransferApi.java
  src/main/java/uk/gov/hmcts/probate/service/FileTransferService.java
  src/main/java/uk/gov/hmcts/probate/service/IdamApi.java
  src/main/java/uk/gov/hmcts/probate/service/IdamAuthenticateUserService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/DataExtractDateValidator.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/ExelaDataExtractService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/HmrcDataExtractService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/IronMountainDataExtractService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/BaseFileService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/FileExtractDateFormatter.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/HmrcFileService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/TextFileBuilderService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/controller/DataExtractControllerTest.java
  src/test/java/uk/gov/hmcts/probate/exception/handler/DefaultExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/service/FileTransferServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/DataExtractDateValidatorTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/ExelaDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/HmrcDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/IronMountainDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/FileExtractDateFormatterTest.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/HmrcFileServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileServiceTest.java
  src/test/resources/FileTransferFile.dat
  src/test/resources/application.yml
  src/test/resources/expectedGeneratedFiles/hmrcEmptyOptionals.txt
  src/test/resources/expectedGeneratedFiles/hmrcMultipleCases.txt
  src/test/resources/expectedGeneratedFiles/hmrcPersonal.txt
  src/test/resources/expectedGeneratedFiles/hmrcPersonalMissingAddresses.txt
  src/test/resources/expectedGeneratedFiles/hmrcPersonalReplaced.txt
  src/test/resources/expectedGeneratedFiles/hmrcPersonalZeroIHTs.txt
  src/test/resources/expectedGeneratedFiles/hmrcPrimaryApplicantNo.txt
  src/test/resources/expectedGeneratedFiles/hmrcSolicitor.txt
  src/test/resources/expectedGeneratedFiles/ironMountainFilePopulatedZeroIHTs.txt
Labels: ns:probate, ns:probate-back-office-pr-845, rel:probate-back-office-pr-845

#997 Pro 5389 merge demo into master
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
  src/functionalTest/resources/json/personalRaiseGrantWithEmailNotifications.json
  src/functionalTest/resources/json/personalRaiseGrantWithoutEmailNotifications.json
  src/main/java/uk/gov/hmcts/probate/config/documents/DocumentTemplates.java
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/probate/model/DocumentType.java
  src/main/java/uk/gov/hmcts/probate/model/State.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/RaiseGrantOfRepresentationNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/RegistryDetailsService.java
  src/main/java/uk/gov/hmcts/probate/service/docmosis/GrantOfRepresentationDocmosisMapperService.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ExceptionRecordGrantOfRepresentationMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAddressMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldMartialStatusMapper.java
  src/main/java/uk/gov/hmcts/probate/service/notification/TemplateService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/DocumentTransformer.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/controller/CaseDataTestBuilder.java
  src/test/java/uk/gov/hmcts/probate/controller/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NextStepsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerUnitTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/service/RaiseGrantOfRepresentationNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAddressMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAdoptiveRelativesMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/TemplateServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/resources/application.yml
  src/test/resources/personalPayloadNotificationsGrantIntestacy.json
Labels: ns:probate, rel:probate-back-office-pr-997

#987 Pro 7124 schedule delayed grant notification
  bin/ccd-add-all-roles.sh
  bin/env_variables_all.txt
  bin/idam-client-setup.sh
  bin/linux-set-environment-variables.sh
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseType.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/SolCCDServiceAuthTokenGenerator.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/serviceauth/SolCcdServiceServiceAuthTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/util/FunctionalTestUtils.java
  src/functionalTest/resources/application.properties
  src/main/java/uk/gov/hmcts/probate/config/IdamConfiguration.java
  src/main/java/uk/gov/hmcts/probate/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/probate/model/AuthenticateUserResponse.java
  src/main/java/uk/gov/hmcts/probate/model/GrantDelayedResponse.java
  src/main/java/uk/gov/hmcts/probate/model/TokenExchangeResponse.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/EventId.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/CaseStoppedService.java
  src/main/java/uk/gov/hmcts/probate/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/probate/service/GrantDelayedNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/ccd/CcdClientApi.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/ExelaDataExtractService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/validator/EmailAddressNotifyApplicantValidationRule.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/config/SecurityConfigurationTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseStoppedServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/FileTransferServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/GrantDelayedNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAdoptiveRelativesMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/resources/application.yml
Labels: ns:probate, rel:probate-back-office-pr-987

#995 Pro 6913 awaiting docs notify
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  compose/dm-store.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/probate/model/GrantScheduleResponse.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/EventId.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/CaseStoppedService.java
  src/main/java/uk/gov/hmcts/probate/service/GrantNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/config/SecurityConfigurationTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseStoppedServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/GrantDelayedNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/GrantNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAdoptiveRelativesMapperTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/resources/application.yml
Labels: ns:probate, rel:probate-back-office-pr-995

#999 PRO-1234: corrected caveat expiry for scheduler role
  build.gradle
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseType.json
  src/main/resources/application.yml
Labels: ns:probate, rel:probate-back-office-pr-999

#1000 PRO-6605: Disable bulk print letter
  src/main/java/uk/gov/hmcts/probate/service/RaiseGrantOfRepresentationNotificationService.java
  src/test/java/uk/gov/hmcts/probate/service/RaiseGrantOfRepresentationNotificationServiceTest.java
Labels: ns:probate, rel:probate-back-office-pr-1000

#1001 PRO-1234: Unbreak build to master
  Jenkinsfile_CNP
Labels: ns:probate, rel:probate-back-office-pr-1001

#1006 PRO-7187: Fix app recvd email nots
  src/main/java/uk/gov/hmcts/probate/config/properties/registries/RegistriesProperties.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate, rel:probate-back-office-pr-1006

#1009 Merge master into demo
  .travis.yml
  Jenkinsfile_CNP.1
  Jenkinsfile_CNP_backup
  Jenkinsfile_nightly_remove
  kubernetes/.lint.yml
  kubernetes/config.aat.yaml
  kubernetes/deployment.template.yaml
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/resources/application.yml
Labels: ns:probate, rel:probate-back-office-pr-1009

#998 Prepare for AKS migration
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/requirements.yaml
  charts/probate-back-office/values.aat.template.yaml
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
Labels: ns:probate, rel:probate-back-office-pr-998

#1011 PRO-6071 [BO] Will Lodgement - receipt contains spelling mistakes
  src/main/resources/templates/pdf/willLodgementDepositReceipt.html
Labels: ns:probate, rel:probate-back-office-pr-1011

#1012 PRO-7024: corrected caveat expire auths
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseEvent.json
Labels: ns:probate, rel:probate-back-office-pr-1012

#1014 Swap to AKS on AAT
  Jenkinsfile_CNP
Labels: ns:probate, rel:probate-back-office-pr-1014

#990 Pro 6828 add solictors to caveats bulk scan phase2
  build.gradle
  dependency-check-suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/bulkscanning/SolBaCcdServiceBulkScanningTests.java
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordCombCitizenPA8A.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordCombSolicitorPA8A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombCitizenPA8A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombSolicitorPA8A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA8A.json
  src/main/java/uk/gov/hmcts/probate/controller/ExceptionRecordController.java
  src/main/java/uk/gov/hmcts/probate/controller/OCRFormsController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/CaveatCitizenMandatoryFields.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/CaveatSolicitorMandatoryFields.java
  src/main/java/uk/gov/hmcts/probate/model/exceptionrecord/ExceptionRecordOCRFields.java
  src/main/java/uk/gov/hmcts/probate/model/exceptionrecord/ExceptionRecordRequest.java
  src/main/java/uk/gov/hmcts/probate/service/CaveatNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ApplicationTypeMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ExceptionRecordCaveatMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAddressMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldPaymentMethodMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/qualifiers/ToApplicationTypeCaveat.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/qualifiers/ToSolsPaymentMethods.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/utils/OCRFieldExtractor.java
  src/main/java/uk/gov/hmcts/probate/service/ocr/OCRToCCDMandatoryField.java
  src/test/java/uk/gov/hmcts/probate/controller/ExceptionRecordControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/OCRFormsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ApplicationTypeMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ExceptionRecordCavestMapperAfterMappingTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ExceptionRecordGrantOfRepresentationMapperAfterMappingTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAddressMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/ocr/OCRToCCDMandatoryFieldTest.java
Labels: ns:probate, rel:probate-back-office-pr-990

#1019 Pro 6812 update to remove 404 bulk scanning
  src/functionalTest/java/uk/gov/hmcts/probate/functional/bulkscanning/SolBaCcdServiceBulkScanningTests.java
  src/main/java/uk/gov/hmcts/probate/controller/ExceptionRecordController.java
  src/main/java/uk/gov/hmcts/probate/controller/OCRFormsController.java
  src/main/java/uk/gov/hmcts/probate/exception/handler/DefaultExceptionHandler.java
  src/main/java/uk/gov/hmcts/probate/model/exceptionrecord/ExceptionRecordErrorResponse.java
  src/main/java/uk/gov/hmcts/probate/service/ocr/FormType.java
  src/test/java/uk/gov/hmcts/probate/controller/ExceptionRecordControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/OCRFormsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/exception/handler/DefaultExceptionHandlerTest.java
Labels: ns:probate, rel:probate-back-office-pr-1019

#782 PRO-6498 Update CTSC address change
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/main/resources/application.yml
  src/main/resources/templates/pdf/admonWillGrant.html
  src/main/resources/templates/pdf/admonWillGrantDraft.html
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/intestacyGrant.html
  src/main/resources/templates/pdf/intestacyGrantDraft.html
  src/test/resources/application.yml
Labels: do not merge, ns:probate, ns:probate-back-office-pr-782, rel:probate-back-office-pr-782

#1015 Pro 6829 extend caveat from bulk scan
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEvent.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/bulkscanning/SolBaCcdServiceBulkScanningTests.java
  src/functionalTest/resources/json/bulkScanUpdateCaseExceptionRecordExtendExpiryPA8A.json
  src/functionalTest/resources/json/expectedBulkScanUpdateCaseExceptionRecordExpiredCaveatErrorPA8A.json
  src/functionalTest/resources/json/expectedBulkScanUpdateCaseExceptionRecordExpiryOutsideOneMonthErrorPA8A.json
  src/main/java/uk/gov/hmcts/probate/controller/ExceptionRecordController.java
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/model/exceptionrecord/CaveatCaseUpdateRequest.java
  src/main/java/uk/gov/hmcts/probate/model/exceptionrecord/JourneyClassification.java
  src/main/java/uk/gov/hmcts/probate/model/exceptionrecord/SuccessfulCaveatUpdateResponse.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/ExceptionRecordService.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ScannedDocumentMapper.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/ExceptionRecordControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/ExceptionRecordServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformerTest.java
  src/test/resources/updateExceptionRecordDataPA8A.json
  src/test/resources/updateExceptionRecordDataPA8ANoAdditionalDocuments.json
  src/test/resources/updateExceptionRecordDataPA8ANoDocuments.json
Labels: ns:probate, rel:probate-back-office-pr-1015

#1025 PRO-7221: removed user info from logs
  src/main/java/uk/gov/hmcts/probate/controller/ExceptionRecordController.java
  src/main/java/uk/gov/hmcts/probate/service/FileTransferService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/HmrcFileService.java
Labels: ns:probate, rel:probate-back-office-pr-1025

#1024 AKS go live
  Jenkinsfile_CNP
Labels: ns:probate, rel:probate-back-office-pr-1024

#1016 Pro 7187 application recvd document
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  src/main/java/uk/gov/hmcts/probate/config/properties/registries/RegistriesProperties.java
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerUnitTest.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate, rel:probate-back-office-pr-1016
