Repository hmcts/probate-back-office, pull requests merged in 2021-03, with the labels that each got.

#1374 Dtspb 910 amend not applying reason
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1374

#1377 Dtspb 1471 cw title and clearing
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/applicantDetailsTabConfig.json
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/applicantDetailsUpdateTabConfig.json
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/caseDetailsTabConfig.json
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/caseDetailsUpdateTabConfig.json
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/deceasedTabConfig.json
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/deceasedUpdateTabConfig.json
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/createGrantOfProbateConfig.json
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page10.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page3.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page4.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page5.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page6.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page7.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page8.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page9.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/caseworker/grantOfProbateSolPath.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1377

#1379 Dtspb 1539 add exec mapping for legal statement
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorPDFPayloadProbateMultipleExecutors.json
  src/functionalTest/resources/json/solicitorPDFPayloadProbateSingleExecutor.json
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/ExecutorListMapperService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaseDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/LegalStatementExecutorTransformer.java
  src/main/resources/templates/pdf/legalStatementProbate.html
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/service/ExecutorListMapperServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/LegalStatementExecutorTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/util/CommonVariables.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1379

#1383 Dtspb 1547 executor screen fix
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1383

#1382 Dtspb 910 convert not applying fixed list to radio buttons
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1382

#1384 Dtspb 1566 solicitor not executor bug
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1384

#1387 Dtspb 910 switch to radio buttons
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1387

#1390 Dtspb 1570 bug adding to not applying list
  dependency-check-suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorPDFPayloadProbateMultipleExecutors.json
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformer.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1390

#1393 DTSPB-1538 - trust corps - amend applicant details
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/applicantDetailsTabConfig-NonTrust.json
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page4.js
  src/test/end-to-end/paths/caseworker/grantOfProbateSolPath-NonTrust.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1393

#1392 Dtspb 1579 move sole trader questions
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/nextsteps/SolCcdServiceNextStepsTests.java
  src/main/resources/templates/markdown/nextSteps.md
  src/test/resources/expectedConfirmationBody.md
  src/test/resources/expectedConfirmationBodyWithAllCombinations.md
  src/test/resources/expectedConfirmationBodyWithAllCombinationsAndMultiples.md
  src/test/resources/expectedConfirmationBodyWithDeadExecutor.md
  src/test/resources/expectedConfirmationBodyWithIHT217.md
  src/test/resources/expectedConfirmationBodyWithIHT400421.md
  src/test/resources/expectedConfirmationBodyWithMultipleDeadExecutors.md
  src/test/resources/expectedConfirmationBodyWithMultipleRenouncingExecutors.md
  src/test/resources/expectedConfirmationBodyWithNoWill.md
  src/test/resources/expectedConfirmationBodyWithRenouncingExecutor.md
  src/test/resources/expectedConfirmationBodyWithWillCordicils.md
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1392

#1367 Dtspb 1385 trust corp options
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/solicitorPDFPayloadProbateMultipleExecutors.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsExecutors.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsSolicitorAsPrimaryApplicant.json
  src/functionalTest/resources/json/success.trustCorpAttributesSaved.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/AdditionalExecutorTrustCorps.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/ExecutorListMapperService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CCDDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformer.java
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page2.js
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParentTest.java
  src/test/java/uk/gov/hmcts/probate/service/ExecutorListMapperServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/LegalStatementExecutorTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/util/CommonVariables.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1367

#1397 DTSPB-963: upgrade chart so demo env can pick up change
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1397

#1398 DTSPB-1617 - Upgrade gradle to 6.8.3
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1398

#1399 Dtspb 1471 cw trustcorpaddress
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/createGrantOfProbateConfig.json
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page3.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1399

#1395 DTSPB-1537 - cw amend page solicitor details
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/test/end-to-end/pages/createGrantOfProbate/checkAmendApplicantDetailsForSolCreatedApp.js
  src/test/end-to-end/pages/createGrantOfProbate/createGrantOfProbateConfig.json
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/caseworker/caseProgressReenterDeceasedDetailsPath.js
  src/test/end-to-end/paths/caseworker/gopApplyAsSolAmendAsCw.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1395

#1403 reverting dev dependencies
  package.json
  yarn.lock
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1403

#1400 DTSPB-1488: updated doc delay to 35 days
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/ScheduledNotificationsTests.java
  src/functionalTest/resources/application.properties
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1400

#1373 DTSPB-1466 remove iht400 information
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressAdmonWillTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressIntestacyTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressTests.java
  src/main/java/uk/gov/hmcts/probate/model/PageTextConstants.java
  src/main/java/uk/gov/hmcts/probate/model/htmltemplate/SendDocumentsDetailsHtmlTemplate.java
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/resources/templates/markdown/nextSteps.md
  src/test/java/uk/gov/hmcts/probate/service/tasklist/DefaultTaskListRendererTest.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/TaskListUpdateServiceTest.java
  src/test/resources/expectedConfirmationBodyWithAllCombinations.md
  src/test/resources/expectedConfirmationBodyWithAllCombinationsAndMultiples.md
  src/test/resources/expectedConfirmationBodyWithIHT400421.md
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1373

#1412 DTSPB-1253: adding - launchdarklyUserkeyBackend to the value yml and upgrade char…
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1412

#1414 fix the suppression issue on the master
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1414

#1409 Fix e2 e tests
  Jenkinsfile_nightly
  bin/run-e2e-tests.sh
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page3.js
  src/test/end-to-end/pages/solicitorApplyProbate/endState.js
  src/test/end-to-end/pages/utility/getCaseRefFromUrl.js
  src/test/end-to-end/paths/caseprogress/caseProgressApplicationStoppedPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressReenterDeceasedDetailsPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressStandardPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressStopEscalateIssuePath.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1409

#1418 DTSPB-1262 - Trust Corps - Will and codicil changes
  .eslintrc.js
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  package.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/IntegrationTestBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/success.validWillAndCodicilDates.json
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/CCDData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/transformer/CCDDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/validator/CodicilDateInPastRule.java
  src/main/java/uk/gov/hmcts/probate/validator/OriginalWillSignedDateInPastRule.java
  src/main/resources/ValidationMessages.properties
  src/test/end-to-end/pages/caseDetails/caseDetailsUpdated.js
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/caseDetailsTabConfig.json
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/grantOfProbate.json
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page1.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page5.js
  src/test/end-to-end/paths/caseworker/gopApplyAsSolAmendAsCw.js
  src/test/end-to-end/paths/caseworker/willLodgementPath.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateMultiExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecutor.js
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/validator/CodicilDateInPastRuleTest.java
  src/test/java/uk/gov/hmcts/probate/validator/OriginalWillDateSignedInPastTest.java
  yarn.lock
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1418

#1425 Dtspb 1543 resolve guava and bouncycastle suppressions
  build.gradle
  dependency-check-suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/ScheduledNotificationsTests.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1425

#1296 DTSPB-1091-Modify-Caveat-Entered-Email
  dependency-check-suppressions.xml
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/IntegrationTestBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caveats/SolsBoCaveatsServiceTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/util/FunctionalTestUtils.java
  src/functionalTest/resources/json/caveat/caveatSolicitorValidate.json
  src/functionalTest/resources/json/caveat/caveatSolicitorValidateNoDOB.json
  src/functionalTest/resources/json/caveatPayloadNoDOB.json
  src/functionalTest/resources/json/caveatPayloadNoDOBResponse.txt
  src/functionalTest/resources/json/caveatPayloadNotificationsCTSC.json
  src/functionalTest/resources/json/caveatPayloadNotificationsCTSCNoDOB.json
  src/functionalTest/resources/json/caveatPayloadNotificationsCTSCNoDOBResponse.txt
  src/functionalTest/resources/json/caveatPayloadNotificationsCTSCResponse.txt
  src/functionalTest/resources/json/caveatPayloadNotificationsResponse.txt
  src/functionalTest/resources/json/caveatPayloadNotificationsSolicitor.json
  src/functionalTest/resources/json/caveatPayloadNotificationsSolicitorNoDOB.json
  src/functionalTest/resources/json/caveatPayloadNotificationsSolicitorNoDOBResponse.txt
  src/functionalTest/resources/json/caveatPayloadNotificationsSolicitorResponse.txt
  src/functionalTest/resources/json/caveatSolicitorValidateResponse.txt
  src/functionalTest/resources/json/caveatSolicitorValidateResponseNoDOB.txt
  src/main/java/uk/gov/hmcts/probate/service/notification/CaveatPersonalisationService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/CaveatPersonalisationServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1296

#1423 DTSPB-1649 tomcat related suppressions resolution
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1423

#1421 DTSPB-1650+52 resolve suppressions beanutils and httpclient
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1421

#1436 DTSPB-1700 Resolve Hibernate related CVE suppression
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1436

#1422 Dtspb 1685 stop defaulting other exec exists
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformer.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1422

#1407 Dtspb 1653 use original legal statement
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/ExecutorListMapperService.java
  src/test/java/uk/gov/hmcts/probate/util/CommonVariables.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1407

#1424 DTSPB-1657 Resolve elastic search dependency suppression
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1424

#1434 Dtspb 1684 remove sols is main applicant code and xls
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/CCDData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CCDDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1434

#1438 DTSPB-1648 Resolve postgresql dependency
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1438

#1440 Dtspb 1707 change lay to named executor
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/AdditionalExecutorApplying.java
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/ExecutorListMapperService.java
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/createGrantOfProbateConfig-NonTrust.json
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/createGrantOfProbateConfig-PaperFormYes.json
  src/test/java/uk/gov/hmcts/probate/service/ExecutorListMapperServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/ExecutorsApplyingNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/util/CommonVariables.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1440

#1445 DTSPB-1711 - Fix CCDData related code smell
  src/main/java/uk/gov/hmcts/probate/model/ccd/CCDData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/CollectionMember.java
  src/main/java/uk/gov/hmcts/probate/transformer/CCDDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/validator/CodicilDateValidationRule.java
  src/test/java/uk/gov/hmcts/probate/validator/CodicilDateValidationRuleTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1445

#1447 DTSPB-1651+1686 Resolve CVE-2020-15250 and CVE-2021-22112
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1447

#1448 DTSPB-1715 Resolve CVE-2018-1000873 jackson
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1448

#1446 DTSPB-1693 - getPrimaryApplicantHasAlias null check
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1446

#1449 DTSPB-1640 - test updates to changes made
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/verifyTitleAndClearingTypeOption.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1449

#1444 Cw fix e2 e test
  bin/run-e2e-tests.sh
  src/test/config.js
  src/test/end-to-end/helpers/PuppeteerHelper.js
  src/test/end-to-end/pages/caseMatches/caseMatches.js
  src/test/end-to-end/pages/caseProgress/solicitorDetails.js
  src/test/end-to-end/pages/newCase/newCase.js
  src/test/end-to-end/paths/caseworker/caseProgressApplicationStoppedPath.js
  src/test/end-to-end/paths/caseworker/caseProgressReenterDeceasedDetailsPath.js
  src/test/end-to-end/paths/caseworker/caseProgressStandardPath.js
  src/test/end-to-end/paths/caseworker/caseProgressStopEscalateIssuePath.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1444

#1453 DTSPB-1534 Fix Solicitor E2E Test
  bin/run-e2e-tests.sh
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1453

#1437 DTSPB-1694 - solicitor as primary applicant change
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/ExecutorListMapperService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/LegalStatementExecutorTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/LegalStatementExecutorTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/util/CommonVariables.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1437

#1451 Dtspb 1712 wipe exec lists for titleandclearing change
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorAmendTitleAndClearingMultipleExecutors.json
  src/functionalTest/resources/json/solicitorPDFPayloadProbateMultipleExecutors.json
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/service/TitleAndClearingTypeService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaseDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/reset/ResetCaseDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/reset/ResetResponseCaseDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformer.java
  src/test/java/uk/gov/hmcts/probate/service/TitleAndClearingTypeServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/reset/ResetCaseDataTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/reset/ResetResponseCaseDataTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/util/CommonVariables.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1451

#1456 Dtspb 1724 none previously identified text
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/FormattingService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1456

#1364 DTSPB-1359: added negative validation to uk and overseas copies
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/fee/SolCcdServiceFeeTests.java
  src/functionalTest/resources/json/failure.negativeOverseasCopies.json
  src/functionalTest/resources/json/failure.negativeUKCopies.json
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/resources/ValidationMessages.properties
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1364
