Repository hmcts/probate-back-office, pull requests merged in 2021-06, with the labels that each got.

#1564 DTSPB-2034 fixed lay executor type
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/ExecutorListMapperService.java
  src/test/java/uk/gov/hmcts/probate/service/solicitorexecutor/ExecutorListMapperServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1564

#1556 DTSPB-1973 change email address
  src/main/java/uk/gov/hmcts/probate/model/htmltemplate/AppStoppedHtmlTemplate.java
  src/main/java/uk/gov/hmcts/probate/service/tasklist/AppStoppedTaskListRenderer.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/AppStoppedTaskListRendererTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1556

#1566 DTSPB-2045 capitalise probate practitioner
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressAdmonWillTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressIntestacyTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorAmendTitleAndClearingMultipleExecutors.json
  src/functionalTest/resources/json/solicitorExecutorsNotApplyingReasons.json
  src/functionalTest/resources/json/solicitorPayloadDispenseNotGiven.json
  src/functionalTest/resources/json/solicitorPayloadJudgeSeniorDistrict.json
  src/functionalTest/resources/json/solicitorPayloadLodgeApp.json
  src/functionalTest/resources/json/solicitorPayloadPartnersAllRenounce.json
  src/functionalTest/resources/json/solicitorPayloadPartnersInFirmOthRenounce.json
  src/functionalTest/resources/json/solicitorPayloadSolePrin.json
  src/functionalTest/resources/json/solicitorPayloadSoleSuccessorLegalStatement.json
  src/functionalTest/resources/json/solicitorPayloadSuccessorFirmAllRenounce.json
  src/functionalTest/resources/json/solicitorPayloadSuccessorFirmAllRenounceNoAdditional.json
  src/functionalTest/resources/json/solicitorPayloadSuccessorFirmLegalStatement.json
  src/functionalTest/resources/json/solicitorPayloadSuccessorFirmRenounce.json
  src/functionalTest/resources/json/solicitorPayloadTrustCorpsSchema.json
  src/functionalTest/resources/json/solicitorPayloadTrustCorpsTransformed.json
  src/functionalTest/resources/json/verifySolPayloadTrustCorpResolutionLodged.json
  src/main/java/uk/gov/hmcts/probate/model/htmltemplate/CaseTaskListHtmlTemplate.java
  src/main/java/uk/gov/hmcts/probate/service/tasklist/TaskStateRenderer.java
  src/main/resources/templates/pdf/legalStatementAdmon.html
  src/main/resources/templates/pdf/legalStatementGrantOfProbate.html
  src/main/resources/templates/pdf/legalStatementIntestacy.html
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/applicantDetailsTabConfig-NonTrust.json
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/applicantDetailsTabConfig-PaperFormYes.json
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/applicantDetailsTabConfig.json
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/applicantDetailsUpdateTabConfig.json
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/caseDetailsTabConfig-TrustCorp.json
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/applicantDetailsTabConfig.json
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/caseDetailsTabGopTrustCorpConfig.json
  src/test/end-to-end/pages/caseProgress/checkCaseProgressTab.js
  src/test/end-to-end/pages/solicitorApplyProbate/applyProbate/applyProbateConfig.json
  src/test/end-to-end/paths/caseprogress/caseProgressReenterPath.js
  src/test/java/uk/gov/hmcts/probate/service/tasklist/DefaultTaskListRendererTest.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/TaskListUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/TaskStateRendererTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1566

#1481 Dtspb 1526
  Jenkinsfile_CNP
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
  dependency-check-suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/lifeeventservice/LifeEventServiceTest.java
  src/main/java/uk/gov/hmcts/probate/controller/LifeEventController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/EventId.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/DeathRecord.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/probate/service/DeathRecordService.java
  src/main/java/uk/gov/hmcts/probate/service/LifeEventService.java
  src/main/java/uk/gov/hmcts/probate/service/ccd/CcdClientApi.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/LifeEventCCDIntegrationTest.java
  src/test/java/uk/gov/hmcts/probate/controller/LifeEventControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/DeathRecordServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/LifeEventServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/ccd/CcdClientApiTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/resources/LifeEventCCDIntegrationTest.properties
  src/test/resources/application.yml
  src/test/resources/lifeEventPayload.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1481

#1578 DTSPB-2058 config change
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1578

#1571 DTSPB-2071 ls changes
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/main/resources/templates/pdf/legalStatementGrantOfProbate.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1571

#1565 DTSPB-2047 updates to legal statements
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/main/resources/templates/pdf/legalStatementAdmon.html
  src/main/resources/templates/pdf/legalStatementGrantOfProbate.html
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/LegalStatementExecutorTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1565

#1570 DTSPB-2059 sole prin
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorSoleFirmPartner.json
  src/main/resources/templates/pdf/legalStatementGrantOfProbate.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1570

#1573 DTSPB-2068 ls bug fix
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorExecutorAliasNameLegalStatement.json
  src/main/resources/templates/pdf/legalStatementGrantOfProbate.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1573

#1583 DTSPB-2067 - amend test solicitor email addresses to probate-test domain
  src/functionalTest/resources/json/caseprogress/01-appCreated.json
  src/functionalTest/resources/json/caseprogress/01a-appStopped.json
  src/functionalTest/resources/json/caseprogress/02-appUpdated.json
  src/functionalTest/resources/json/caseprogress/02a-appCreated-update-app.json
  src/functionalTest/resources/json/caseprogress/02b-appUpdated-update-app.json
  src/functionalTest/resources/json/caseprogress/03-probateCreated.json
  src/functionalTest/resources/json/caseprogress/04-caseCreated.json
  src/functionalTest/resources/json/caseprogress/05-caseMarkAsReadyForExam.json
  src/functionalTest/resources/json/caseprogress/08-caseMatchingExamining.json
  src/functionalTest/resources/json/caseprogress/09-examineCase.json
  src/functionalTest/resources/json/caseprogress/10-caseMatchingReadyToIssue.json
  src/functionalTest/resources/json/caseprogress/11-markReadyToIssue.json
  src/functionalTest/resources/json/caseprogress/12-issueGrant.json
  src/functionalTest/resources/json/caseprogressadmonwill/01-appCreated.json
  src/functionalTest/resources/json/caseprogressadmonwill/02-appUpdated.json
  src/functionalTest/resources/json/caseprogressadmonwill/02a-appCreated-update-app.json
  src/functionalTest/resources/json/caseprogressadmonwill/02b-appUpdated-update-app.json
  src/functionalTest/resources/json/caseprogressadmonwill/03-probateCreated.json
  src/functionalTest/resources/json/caseprogressadmonwill/04-caseCreated.json
  src/functionalTest/resources/json/caseprogressadmonwill/05-caseMarkAsReadyForExam.json
  src/functionalTest/resources/json/caseprogressadmonwill/08-caseMatchingExamining.json
  src/functionalTest/resources/json/caseprogressadmonwill/09-examineCase.json
  src/functionalTest/resources/json/caseprogressadmonwill/10-caseMatchingReadyToIssue.json
  src/functionalTest/resources/json/caseprogressadmonwill/11-markReadyToIssue.json
  src/functionalTest/resources/json/caseprogressadmonwill/12-issueGrant.json
  src/functionalTest/resources/json/caseprogressintestacy/01-appCreated.json
  src/functionalTest/resources/json/caseprogressintestacy/02-appUpdated.json
  src/functionalTest/resources/json/caseprogressintestacy/02a-appCreated-update-app.json
  src/functionalTest/resources/json/caseprogressintestacy/02b-appUpdated-update-app.json
  src/functionalTest/resources/json/caseprogressintestacy/03-probateCreated.json
  src/functionalTest/resources/json/caseprogressintestacy/04-caseCreated.json
  src/functionalTest/resources/json/caseprogressintestacy/05-caseMarkAsReadyForExam.json
  src/functionalTest/resources/json/caseprogressintestacy/08-caseMatchingExamining.json
  src/functionalTest/resources/json/caseprogressintestacy/09-examineCase.json
  src/functionalTest/resources/json/caseprogressintestacy/10-caseMatchingReadyToIssue.json
  src/functionalTest/resources/json/caseprogressintestacy/11-markReadyToIssue.json
  src/functionalTest/resources/json/caseprogressintestacy/12-issueGrant.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsGopBrighton.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsGopBristol.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsGopLeeds.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsGopLiverpool.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsGopLondon.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsGopManchester.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsGopNewcastle.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsGopOxford.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsGopWinchester.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1583

#1586 DTSPB-2020 Sync All branches to master with every build
  Jenkinsfile_CNP
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1586

#1588 Dtspb 1174 supplementary evid to yes
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/evidenceHandledNo.json
  src/functionalTest/resources/json/evidenceHandledYes.json
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/DocumentControllerTest.java
  src/test/resources/evidenceHandledNo.json
  src/test/resources/evidenceHandledYes.json
  src/test/resources/evidenceHandledYesFromNull.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1588

#1572 Fix 7 failing probate man test on local
  build.gradle
  src/main/java/uk/gov/hmcts/probate/controller/OCRFormsController.java
  src/main/java/uk/gov/hmcts/probate/insights/AppInsights.java
  src/main/java/uk/gov/hmcts/probate/insights/EventRepository.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/CaveatQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/ElasticSearchService.java
  src/main/java/uk/gov/hmcts/probate/service/fee/FeeService.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFGeneratorService.java
  src/main/java/uk/gov/hmcts/probate/service/template/printservice/PrintService.java
  src/test/java/uk/gov/hmcts/probate/insights/AppInsightsTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaveatQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/ElasticSearchServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1572

#1222 TA-175: Consumer Pact for CoreCaseData API interaction
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/DocumentStoreClientConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/FeesRegisterConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/PdfGeneratorServiceConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/SendLetterServiceConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/ccd/AbstractCcdConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/ccd/ReadForCaseworkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/ccd/StartEventForCaseworkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/ccd/StartForCaseworkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/ccd/SubmitEventForCaseworkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/ccd/SubmitForCaseworkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/util/AssertionHelper.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/util/ObjectMapperTestUtil.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/util/ResourceLoader.java
  src/contractTest/resources/application.properties
  src/contractTest/resources/application.yml
  src/contractTest/resources/json/backoffice-case.json
  src/contractTest/resources/json/base-case.json
  src/contractTest/resources/json/dsl-backoffice-case.json
  src/contractTest/resources/logback.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1222

#1589 DTSPB-1997 fixed an unwanted stop
  src/main/java/uk/gov/hmcts/probate/changerule/SolsExecutorRule.java
  src/test/java/uk/gov/hmcts/probate/changerule/SolsExecutorRuleTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1589

#1587 DTSPB-2073 gop doc changes
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1587

#1585 fix missing trust corp name
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorPayloadJudgeSeniorDistrict.json
  src/main/resources/templates/pdf/legalStatementGrantOfProbate.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1585

#1582 DTSPB-2081 firm name not appearing
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorPartOtherRenouncing.json
  src/main/resources/templates/pdf/legalStatementGrantOfProbate.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1582

#1581 DTSPB-2023 initial commit
  README.md
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1581

#1591 Fix the pact commons jitpack version
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1591

#1597 Debug BO nightly failures
  Jenkinsfile_nightly
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1597

#1600 DTSPB-2105 change field from mandatory to optional
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1600

#1595 DTSPB-2088 fix
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/SolicitorApplicationCompletionTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/SolicitorApplicationCompletionTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1595

#1593 DTSPB-2059 and 2077 fixes
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorSolPartner.json
  src/functionalTest/resources/json/solicitorSolePrinSingleExec.json
  src/main/resources/templates/pdf/legalStatementGrantOfProbate.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1593

#1601 DTSPB-1977 - alias bug
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1601

#1598 Dtspb 2107 correct sf data for missing addresses
  src/main/java/uk/gov/hmcts/probate/service/notification/SmeeAndFordPersonalisationService.java
  src/test/java/uk/gov/hmcts/probate/service/notification/SmeeAndFordPersonalisationServiceTest.java
  src/test/resources/smeeAndFordExpectedData.txt
  src/test/resources/smeeAndFordExpectedDataExtraExecs.txt
  src/test/resources/smeeAndFordExpectedDataNoDocs.txt
  src/test/resources/smeeAndFordExpectedDataNoExecs.txt
  src/test/resources/smeeAndFordExpectedDataWithDelimeters.txt
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1598

#1610 DTSPB-963: forced rebuild
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/probate/service/payments/CreditAccountPaymentTransformer.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1610

#1611 DTSPB-2031 AC 10 fixed.
  src/main/resources/templates/pdf/legalStatementGrantOfProbate.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1611

#1607 Dtspb 2088 fix
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/SolicitorApplicationCompletionTransformer.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParentTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/SolicitorApplicationCompletionTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1607

#1602 DTSPB-2108 edit grant document
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/caseworkerPartOtherRenouncing.json
  src/functionalTest/resources/json/caseworkerPartSuccPowerReservedToOthers.json
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1602

#1619 DTSPB-2120: corrected siteId added exception log to pba retrieval
  Jenkinsfile_CNP
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/service/payments/CreditAccountPaymentTransformer.java
  src/main/java/uk/gov/hmcts/probate/service/payments/pba/PBARetrievalService.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/probate/service/payments/pba/PBARetrievalServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1619

#1626 DTSPB-2143: changed block size
  src/contractTest/resources/application.yml
  src/main/resources/application.yml
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1626

#1631 DTSPB-1454 e2e doctype order
  package.json
  src/test/end-to-end/pages/documentUpload/caveat/documentUploadConfig.json
  src/test/end-to-end/pages/documentUpload/documentUpload.js
  src/test/end-to-end/pages/documentUpload/grantOfProbate/documentUploadConfig.json
  src/test/end-to-end/pages/documentUpload/willLodgement/documentUploadConfig.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1631

#1634 DTSPB-1454 - fix eslint issues
  src/test/end-to-end/pages/documentUpload/documentUpload.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1634

#1633 DTSPB-2147 Fix SOT page.
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1633

#1394 DTSPB-1519 Add stopped date if case is stopped when updating task list
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/CaseProgressTestsBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressAdmonWillTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressGopTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressIntestacyTests.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1394

#1635 DTSPB-1454 e2e doctype order - fix caveat issue
  src/test/end-to-end/pages/documentUpload/caveat/documentUploadConfig.json
  src/test/end-to-end/pages/documentUpload/documentUpload.js
  src/test/end-to-end/pages/documentUpload/grantOfProbate/documentUploadConfig.json
  src/test/end-to-end/pages/documentUpload/willLodgement/documentUploadConfig.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1635
