Repository hmcts/probate-back-office, pull requests merged in 2021-02, with the labels that each got.

#1317 Dtspb 902 change page 2 sols appy
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  dependency-check-suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/success.SolicitorInfoAttributes.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/service/SolicitorExecutorService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/SolicitorExecutorTransformer.java
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/applicantDetailsTabConfig.json
  src/test/end-to-end/pages/solicitorApplyProbate/applyProbate/page2.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecutor.js
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParentTest.java
  src/test/java/uk/gov/hmcts/probate/service/SolicitorExecutorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/SolicitorExecutorTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1317

#1316 LD sdk user key for the backend user
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/service/FeatureToggleService.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1316

#1282 DTSPB-1213 : Exui crossbrowser tests for probate pages
  Jenkinsfile_nightly
  bin/run-crossbrowser-tests.sh
  bin/run-e2e-tests.sh
  package.json
  src/test/config.js
  src/test/crossbrowser/supportedBrowsers.js
  src/test/end-to-end/codecept.conf.js
  src/test/end-to-end/helpers/JSWait.js
  src/test/end-to-end/helpers/SauceLabsReportingHelper.js
  src/test/end-to-end/helpers/WebDriverHelper.js
  src/test/end-to-end/pages/caseDetails/caseDetails.js
  src/test/end-to-end/pages/createCase/createCase.js
  src/test/end-to-end/paths/solicitor/applyCaveat.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateMultiExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateNoWill.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateWillLeftAnnexed.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateWillLeftAnnexedFailure.js
  src/test/end-to-end/saucelabs.conf.js
  src/test/reporter/customReporter.js
  yarn.lock
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1282

#1300 Dtspb 906 tc none of these
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/functionalTest/resources/json/casematch/applyForGrantPayoad.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/grantOfProbate.json
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page2.js
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParentTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1300

#1314 DTSPB-1299 enable exui e2e on ccd
  .vscode/launch.json
  bin/run-e2e-tests.sh
  package.json
  src/test/config.js
  src/test/end-to-end/pages/IDAM/signIn.js
  src/test/end-to-end/paths/solicitor/applyCaveat.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateMultiExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateNoWill.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateWillLeftAnnexed.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateWillLeftAnnexedFailure.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1314

#1305 spin down ccd xui preview instance
  Jenkinsfile_CNP
  bin/ccd-add-role.sh
  bin/ccd-add-roles.sh
  bin/ccd-import-definition.sh
  bin/idam-service-token.sh
  bin/idam-user-token.sh
  ccdImports/conversionScripts/createBSXLS.sh
  ccdImports/conversionScripts/importAllXLS.sh
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/requirements.yaml
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1305

#1310 Dtspb 36 add will to upload docs types
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/main/java/uk/gov/hmcts/probate/model/DocumentType.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1310

#1320 DTSPB-1342 - application grounds content update
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/caseDetailsTabConfig.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1320

#1324 Dtspb 1302 exec transformer refactor
  src/main/java/uk/gov/hmcts/probate/service/SolicitorExecutorService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/SolicitorExecutorTransformer.java
  src/test/java/uk/gov/hmcts/probate/service/SolicitorExecutorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/SolicitorExecutorTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/util/CommonVariables.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1324

#1318 DTSPB-1340: upgrade ccdclient version
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1318

#1330 DTSPB-1376 professional user rename
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/applicantDetailsTabConfig.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1330

#1331 Dtspb 909 dispense with notice page
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/success.TrustCorpAttributesSaved.json
  src/functionalTest/resources/json/success.nonTrustCorpOptionsSaved.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/grantOfProbate.json
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page3.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page4.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page5.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateMultiExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecutor.js
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParentTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1331

#1337 Dtspb 1382 swap dod dob
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/test/end-to-end/pages/solicitorApplyProbate/deceasedDetails/page1.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1337

#1329 Dtspb 1349 trust corp exec spike
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/success.nonTrustCorpOptionsSaved.json
  src/functionalTest/resources/json/success.trustCorpAttributesSaved.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/AdditionalExecutorNotApplying.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/AdditionalExecutorNotApplyingPowerReserved.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/AdditionalExecutorPartners.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/AdditionalExecutorTrustCorps.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/OtherPartnerExecutorApplying.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/grantOfProbate.json
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page3.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/verifyTitleAndClearingTypeOption.js
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParentTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1329

#1334 TA-175: Update Fee Register Pact to comply with V2
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/FeesRegisterConsumerTest.java
  src/contractTest/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1334

#1340 DTSPB-1402 reinstate app grounds / DTSPB-1410 add schemaVersion
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1340

#1328 DTSPB-1369: removed defaulting behaviour
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1328

#1341 Dtspb 1402 reinstate app grounds
  src/test/end-to-end/pages/caseDetails/checkCaseDetailsDoNotAppear.js
  src/test/end-to-end/pages/caseDetails/grantOfProbate/caseDetailsTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/caseDetailsUpdateTabConfig.json
  src/test/end-to-end/pages/createGrantOfProbate/page8.js
  src/test/end-to-end/pages/solicitorApplyProbate/applyProbate/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page3.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/caseworker/grantOfProbatePath.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1341

#1349 Dtspb 1358 validate against neg copies amounts in config
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/test/end-to-end/pages/documentUpload/documentUpload.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1349

#1351 DTSPB-891 Update java chart versions
  build.gradle
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/requirements.yaml
  src/main/resources/application.properties
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1351

#1307 DTSPB-1084: reinstate pending FTs
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/ScheduledNotificationsTests.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1307

#1350 Dtspb 1440 trust corp sols mappings
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/solicitorPayloadNotificationsExecutors.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsSolicitorAsPrimaryApplicant.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/AdditionalExecutorApplying.java
  src/main/java/uk/gov/hmcts/probate/service/SolicitorExecutorService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/SolicitorExecutorTransformer.java
  src/test/java/uk/gov/hmcts/probate/service/SolicitorExecutorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/SolicitorExecutorTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/util/CommonVariables.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1350

#1355 Dtspb 1439 max four execs validation
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/caseCreator/java/uk/gov/hmcts/probate/casecreator/util/RelaxedServiceAuthTokenGenerator.java
  src/caseCreator/java/uk/gov/hmcts/probate/casecreator/util/TestCaseCreator.java
  src/caseCreator/java/uk/gov/hmcts/probate/casecreator/util/TestCaseCreatorConfig.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/changerule/ExecutorsRule.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/transformer/CCDDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/validator/NumberOfApplyingExecutorsValidationRule.java
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/applicantDetailsTabConfig.json
  src/test/java/uk/gov/hmcts/probate/changerule/ExecutorsRuleTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CCDDataTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1355

#1359 yarn upgrade
  dependency-check-suppressions.xml
  package.json
  yarn.lock
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1359

#1360 DTSPB-1448: upgrade package.json and yarn.lock to latest a
  dependency-check-suppressions.xml
  package.json
  yarn.lock
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1360

#1362 Dtspb 910 add trust corps other execs page
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  dependency-check-suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/checkyouranswers/SolCcdServiceCheckYourAnswersTests.java
  src/functionalTest/resources/json/success.nonTrustCorpOptionsSaved.json
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/ExecutorListMapperService.java
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/FormattingService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CCDDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/SolicitorExecutorTransformer.java
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/grantOfProbate.json
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page4.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page5.js
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParentTest.java
  src/test/java/uk/gov/hmcts/probate/service/ExecutorListMapperServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CCDDataTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/SolicitorExecutorTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1362

#1370 fixing the prod issue
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1370

#1371 Dtspb 1304 accept sot
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/nextsteps/SolCcdServiceNextStepsTests.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/copiesTabConfig.json
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/completeApplication.json
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page3.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page4.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page5.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page6.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page7.js
  src/test/end-to-end/paths/caseworker/gopApplyAsSolAmendAsCw.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateMultiExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateNoWill.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateWillLeftAnnexed.js
  src/test/java/uk/gov/hmcts/probate/controller/NextStepsControllerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1371

#1368 Dtspb 1384 non trust corp options
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/success.nonTrustCorpOptionsSaved.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/verifyTitleAndClearingTypeOption.js
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParentTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1368

#1346 DTSPB-1380 initiateExelaExtractDateRange added to DataExtractController
  src/functionalTest/java/uk/gov/hmcts/probate/functional/dataextract/DataExtractTests.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/ExelaDataExtractService.java
  src/test/java/uk/gov/hmcts/probate/controller/DataExtractControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/ExelaDataExtractServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1346

#1372 Removed log that prints the case details
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1372
