Repository hmcts/probate-back-office, pull requests merged in 2021-05, with the labels that each got.

#1523 DTSPB-710 Fix space issue for failing e2e in nightly
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page2.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1523

#1522 Dtspb 1919 update admon will journey
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorPDFPayloadAdmonWillWithWillAndCodicilDates.json
  src/functionalTest/resources/json/solicitorPayloadTrustCorpsTransformed.json
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaseDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/LegalStatementExecutorTransformer.java
  src/main/resources/templates/pdf/legalStatementAdmon.html
  src/main/resources/templates/pdf/legalStatementProbateTrustCorps.html
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/admonWillDetails.json
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page1.js
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/LegalStatementExecutorTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1522

#1526 DTSPB-1526: New vault secrets for Life Event Verification
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1526

#1525 DTSPB-1930 - trust corps - duplicate sol exec bug
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorPayloadLegalStatementNoDuplicateExecsCheck.json
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/ExecutorListMapperService.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/LegalStatementExecutorTransformer.java
  src/main/resources/templates/pdf/legalStatementProbateTrustCorps.html
  src/test/java/uk/gov/hmcts/probate/service/solicitorexecutor/ExecutorListMapperServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/LegalStatementExecutorTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1525

#1527 DTSPB-1927 - trust corps - fix code smells
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/AdditionalExecutorApplying.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/AdditionalExecutorNotApplying.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/SolsAddress.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/probate/service/TitleAndClearingTypeService.java
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/ExecutorListMapperService.java
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/FormattingService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaseDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/reset/ResetCaseDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/LegalStatementExecutorTransformer.java
  src/main/java/uk/gov/hmcts/probate/validator/CodicilDateValidationRule.java
  src/main/java/uk/gov/hmcts/probate/validator/NoneOfTheseSelectedValidationRule.java
  src/main/java/uk/gov/hmcts/probate/validator/PartnersAddedValidationRule.java
  src/main/java/uk/gov/hmcts/probate/validator/PartnersAllRenouncingValidator.java
  src/main/java/uk/gov/hmcts/probate/validator/PractitionersPositionInTrustValidationRule.java
  src/test/java/uk/gov/hmcts/probate/service/GrantNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/solicitorexecutor/FormattingServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1527

#1531 Dtspb 1955 fix solicitor always named bug
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/ExecutorListMapperService.java
  src/test/java/uk/gov/hmcts/probate/service/solicitorexecutor/ExecutorListMapperServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1531

#1529 DTSPB-1949 change order of sol journey and update e2e
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/test/end-to-end/pages/caseProgress/solicitorDetails.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page2a.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page3.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/caseworker/caseProgressApplicationStoppedPath.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateMultiExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateNoWill.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateWillLeftAnnexed.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1529

#1482 DTSPB-1514: added new sol link
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1482

#1534 DTSPB-1514: force rebuild
  Jenkinsfile_CNP
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1534

#1506 DTSPB-1881-Fixing Apply Caveat e2e test
  src/test/end-to-end/paths/solicitor/applyCaveat.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1506

#1381 DTSPB-1531 Delete caveat application functionality added.
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/State.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1381

#1380 Delete application functionality added.
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/State.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1380

#1537 DTSPB-1848 hint text updated.
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/test/end-to-end/pages/caseProgressStopEscalateIssue/solCheckAnswersHtmlCheck.js
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page1.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page1.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1537

#1540 DTSPB-1380: updated excela email on vault - force rebuild
  Jenkinsfile_CNP
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1540

#1521 DTSPB-1599: added upload LS doc
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/nextsteps/SolCcdServiceNextStepsTests.java
  src/functionalTest/resources/json/success.nextsteps-LegalStatementUploaded.json
  src/main/java/uk/gov/hmcts/probate/model/DocumentType.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/CCDData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CCDDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/copiesTabConfig.json
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/completeApplication.json
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page3.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page4.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page5.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page6.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page7.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page8.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page2.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/caseprogress/caseProgressReenterPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressStandardPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressStopEscalateIssuePath.js
  src/test/end-to-end/paths/caseworker/gopApplyAsSolAmendAsCw.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateMultiExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateNoWill.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecNotNamedApplying.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateWillLeftAnnexed.js
  src/test/java/uk/gov/hmcts/probate/service/ConfirmationResponseServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CCDDataTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1521

#1535 DTSPB-1959 - Remove carriage returns and linefeeds when comparing contents in functional tests
  src/functionalTest/java/uk/gov/hmcts/probate/functional/IntegrationTestBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/casematch/CaseMatchingTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caveats/SolsBoCaveatsServiceTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/checkyouranswers/SolCcdServiceCheckYourAnswersTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/ScheduledNotificationsTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1535

#1542 DTSPB-1985 remove hint from summary
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1542

#1543 DTSPB-1992 remove line from legal statement
  src/main/resources/templates/pdf/legalStatementProbateTrustCorps.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1543

#1546 DTSPB-1864 - reinstate failing legal statement test
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorPayLoadSuccessorFirmAllRenounce.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1546

#1545 Dtspb 710 Nightly build fixes
  src/test/end-to-end/helpers/WebDriverHelper.js
  src/test/end-to-end/pages/IDAM/signIn.js
  src/test/end-to-end/pages/caseMatches/caseMatches.js
  src/test/end-to-end/pages/caseProgress/caseworkerChangeState.js
  src/test/end-to-end/pages/caseProgress/checkCaseProgressTab.js
  src/test/end-to-end/pages/caseProgress/clickGoAndSignOut.js
  src/test/end-to-end/pages/caseProgress/completeApplication.js
  src/test/end-to-end/pages/caseProgress/confirmApplication.js
  src/test/end-to-end/pages/caseProgress/navigateToCaseCaseworker.js
  src/test/end-to-end/pages/caseProgress/selectPenultimateNextStepAndGo.js
  src/test/end-to-end/pages/caseProgressStopEscalateIssue/addCaseStoppedReason.js
  src/test/end-to-end/pages/documentUpload/documentUpload.js
  src/test/end-to-end/pages/newCase/newCase.js
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page3.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page2a.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/caseworker/caseProgressReenterDeceasedDetailsPath.js
  src/test/end-to-end/paths/caseworker/grantOfProbatePath.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1545

#1544 DTSPB-1993 rename legal statement
  src/functionalTest/resources/json/solicitorPayloadLegalStatementNoDuplicateExecsCheck.json
  src/main/java/uk/gov/hmcts/probate/model/DocumentType.java
  src/main/resources/templates/pdf/legalStatementGrantOfProbate.html
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/completeApplication.json
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1544

#1458 Dtspb 1578 upgrade codecept3
  .eslintignore
  .eslintrc.js
  package.json
  src/test/end-to-end/pages/caseProgress/checkCaseProgressTab.js
  src/test/end-to-end/paths/caseworker/caseProgressApplicationStoppedPath.js
  src/test/end-to-end/paths/caseworker/caseProgressReenterDeceasedDetailsPath.js
  src/test/end-to-end/paths/caseworker/caseProgressStandardPath.js
  src/test/end-to-end/paths/caseworker/caseProgressStopEscalateIssuePath.js
  src/test/end-to-end/paths/caseworker/caveatPath.js
  src/test/end-to-end/paths/caseworker/caveatPath2.js
  src/test/end-to-end/paths/caseworker/caveatPath3.js
  src/test/end-to-end/paths/caseworker/caveatPath4.js
  src/test/end-to-end/paths/caseworker/grantOfProbatePath.js
  src/test/end-to-end/paths/caseworker/willLodgementPath.js
  src/test/end-to-end/paths/solicitor/applyCaveat.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateMultiExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateNoWill.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateWillLeftAnnexed.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateWillLeftAnnexedFailure.js
  src/test/reporter/resources/angular.min.js
  yarn.lock
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1458

#1552 DTSPB-1986 - Trust corps - remove lost will hard stop
  src/functionalTest/java/uk/gov/hmcts/probate/functional/casematch/CaseMatchingTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/hardstops/SolCcdServiceWillUpdateHardStopTests.java
  src/functionalTest/resources/json/casematch/grantOfProbateMatchCase.json
  src/functionalTest/resources/json/noHardStop.noWillAccessOriginalAdmon.json
  src/functionalTest/resources/json/noHardStop.noWillAccessOriginalProbate.json
  src/main/java/uk/gov/hmcts/probate/changerule/NoOriginalWillRule.java
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/java/uk/gov/hmcts/probate/service/StateChangeService.java
  src/main/resources/ResourceMessages.properties
  src/test/java/uk/gov/hmcts/probate/changerule/NoOriginalWillRuleTest.java
  src/test/java/uk/gov/hmcts/probate/service/ConfirmationResponseServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/StateChangeServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1552

#1551 Dtspb 1982 replace solicitor with probate practitioner
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressAdmonWillTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressIntestacyTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressTests.java
  src/functionalTest/resources/json/solicitorAmendTitleAndClearingMultipleExecutors.json
  src/functionalTest/resources/json/solicitorExecutorsNotApplyingReasons.json
  src/functionalTest/resources/json/solicitorPayloadDispenseNotGiven.json
  src/functionalTest/resources/json/solicitorPayloadJudgeSeniorDistrict.json
  src/functionalTest/resources/json/solicitorPayloadLodgeApp.json
  src/functionalTest/resources/json/solicitorPayloadPartnersAllRenounce.json
  src/functionalTest/resources/json/solicitorPayloadPartnersInFirm.json
  src/functionalTest/resources/json/solicitorPayloadPartnersInFirmOthRenounce.json
  src/functionalTest/resources/json/solicitorPayloadSolePrin.json
  src/functionalTest/resources/json/solicitorPayloadSoleSuccessorLegalStatement.json
  src/functionalTest/resources/json/solicitorPayloadSuccessorFirmAllRenounce.json
  src/functionalTest/resources/json/solicitorPayloadSuccessorFirmLegalStatement.json
  src/functionalTest/resources/json/solicitorPayloadSuccessorFirmRenounce.json
  src/functionalTest/resources/json/solicitorPayloadTrustCorpsSchema.json
  src/functionalTest/resources/json/solicitorPayloadTrustCorpsTransformed.json
  src/functionalTest/resources/json/verifySolPayloadTrustCorpResolutionLodged.json
  src/main/java/uk/gov/hmcts/probate/service/tasklist/TaskStateRenderer.java
  src/test/end-to-end/pages/caseProgress/checkCaseProgressTab.js
  src/test/end-to-end/paths/caseprogress/caseProgressReenterPath.js
  src/test/java/uk/gov/hmcts/probate/service/tasklist/DefaultTaskListRendererTest.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/TaskListUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/TaskStateRendererTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1551

#1550 DTSPB-2000 SOT wording update.
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1550

#1549 DTSPB-1998 update hint text.
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1549

#1539 Dtspb 1704 xui local image setup
  docker-compose.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1539

#1554 DTSPB-1946: remve null pointer from Transfromer
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1554

#1559 Dtspb 1982 change solicitor to probate practitioner
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/nextsteps/SolCcdServiceNextStepsTests.java
  src/functionalTest/resources/json/solicitorPayloadSuccessorFirmAllRenounceNoAdditional.json
  src/functionalTest/resources/json/solicitorPayloadTrustCorpsNoSolExecRepeat.json
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/createGrantOfProbateConfig-NonTrust.json
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/createGrantOfProbateConfig-PaperFormYes.json
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/createGrantOfProbateConfig.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1559

#1561 DTSPB-2033 Changed wording in dropdown options
  src/main/java/uk/gov/hmcts/probate/transformer/SolicitorLegalStatementNextStepsTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/SolicitorLegalStatementNextStepsTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1561

#1562 DTSPB-2031 bug fixes.
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/main/resources/templates/pdf/legalStatementAdmon.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1562
