Repository hmcts/probate-back-office, pull requests merged in 2021-10, with the labels that each got.

#1703 DTSPB-143: Pro 7573 welsh applicaiton received bulk scan
  src/functionalTest/resources/json/grantRaisedPaperBulkScanEmailExpectedSolicitorWelshResponse.txt
  src/functionalTest/resources/json/grantRaisedPaperBulkScanEmailExpectedWelshResponse.txt
  src/functionalTest/resources/json/grantRaisedPaperBulkScanPayloadWelsh.json
  src/functionalTest/resources/json/grantRaisedPaperBulkScanSolicitorPayloadWelsh.json
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1703

#1719 DTSPB-2255 add logic for power reserved text on grant based on title …
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorPayloadTrustCorpsPartnersInFirmPowerReserved.json
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/digitalGrantReissue.html
  src/main/resources/templates/pdf/digitalGrantReissueDraft.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1719

#1603 DTSPB-1600 add applicant name to search criteria
  ccdImports/configFiles/CCD_Probate_Backoffice/SearchInputFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/SearchResultFields.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1603

#1736 DTSPB-2388 Upgrade to Gradle version 7.2
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1736

#1742 DTSPB-1868 SpringBoot 2.5.5 changes
  build.gradle
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
  dependency-check-suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/bulkscanning/SolBaCcdServiceBulkScanningTests.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1742
