Repository hmcts/probate-back-office, pull requests merged in 2021-09, with the labels that each got.

#1720 DTSPB:2325: patch serenity report failures
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1720

#1718 Dtspb 2325 data exract post tc enhancements
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/HmrcFileService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/SmeeAndFordPersonalisationService.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/HmrcFileServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/SmeeAndFordPersonalisationServiceTest.java
  src/test/resources/expectedGeneratedFiles/hmrcMultipleCases.txt
  src/test/resources/expectedGeneratedFiles/hmrcPersonal.txt
  src/test/resources/expectedGeneratedFiles/hmrcPersonalZeroIHTs.txt
  src/test/resources/expectedGeneratedFiles/hmrcPrimaryApplicantNo.txt
  src/test/resources/smeeAndFordExpectedData.txt
  src/test/resources/smeeAndFordExpectedDataNoDocs.txt
  src/test/resources/smeeAndFordExpectedDataNullDOD.txt
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1718

#1717 DTSPB-2321: Fix legal statement
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/main/resources/templates/pdf/legalStatementGrantOfProbate.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1717

#1724 DTSPB-2333 alter logic to cater for cases where prim app isn't set
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/digitalGrantReissue.html
  src/main/resources/templates/pdf/digitalGrantReissueDraft.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1724

#1707 Dtspb 956 case stopped
  ccdImports/configFiles/CCD_Probate_Backoffice/SearchInputFields.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1707
