Repository hmcts/probate-back-office, pull requests merged in 2021-11, with the labels that each got.

#1757 DTSPB-2450 fix cve
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1757

#1755 DTSPB-2438 Fix for info logs printing and exclusion pattern
  .gitignore
  build.gradle
  config/fortify-client.properties
  pacts/probate_backOffice-ccdDataStoreAPI_Cases.json
  pacts/probate_backOffice-em_dm_store.json
  pacts/probate_backOffice-feeRegister_lookUp.json
  pacts/probate_backOffice-rpePdfService_PDFGenerationEndpointV2.json
  pacts/probate_backOffice-rpeSendLetterService_SendLetterController.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1755

#1759 Commons changes for will and codicils condition
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1759

#1758 Dtspb 2429 Postgres v11
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1758

#1763 DTSPB-2429 rename component variable
  infrastructure/variables.tf
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1763

#1762 Revert "Dtspb 2429 Postgres v11"
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1762

#1764 DTSPB-2429 create psql db v11
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1764

#1765 Dtspb 2122 use secrets
  bin/run-e2e-tests.sh
  src/test/config.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1765

#1767 Dtspb 2339 codicils condition
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1767

#1769 Add missing fields
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1769

#1744 DTSPB-2410 refactor logic if prim app not applying, don't show on sot
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1744

#1608 Dtspb 2042 add logs to email notifications
  src/main/java/uk/gov/hmcts/probate/service/NotificationClientService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1608

#1773 DTSPB-XXXX: fixed e2e with delay
  src/test/config.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1773

#1771 Dtspb 2453 model changes for ee
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1771

#1642 Dtspb 2043 email validation for pp c ws
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseField.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseField.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseField.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1642

#1749 Dtspb 2097 add grant issued date on edge cases
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1749

#1745 Dtspb 2083 pa16 changes
  docker-compose.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/CaseProgressTestsBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressIntestacyTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/nextsteps/SolCcdServiceNextStepsTests.java
  src/functionalTest/resources/expected-html/caseprogress/deceased-dtls-entered-pa16-html.txt
  src/functionalTest/resources/json/caseprogressintestacy/03a-probateCreated.json
  src/functionalTest/resources/json/caseprogressintestacy/04b-caseCreated.json
  src/functionalTest/resources/json/caseprogressintestacy/expectedDocumentText/04b-caseCreated
  src/functionalTest/resources/json/success.nextsteps-LegalStatementUploaded-PA16.json
  src/main/java/uk/gov/hmcts/probate/businessrule/BusinessRule.java
  src/main/java/uk/gov/hmcts/probate/businessrule/PA16FormBusinessRule.java
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/model/PageTextConstants.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/CCDData.java
  src/main/java/uk/gov/hmcts/probate/model/htmltemplate/SendDocumentsDetailsHtmlTemplate.java
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/java/uk/gov/hmcts/probate/service/tasklist/AppStoppedTaskListRenderer.java
  src/main/java/uk/gov/hmcts/probate/service/tasklist/DefaultTaskListRenderer.java
  src/main/java/uk/gov/hmcts/probate/service/tasklist/EscalatedTaskListRenderer.java
  src/main/java/uk/gov/hmcts/probate/service/tasklist/StoppedTaskListRenderer.java
  src/main/java/uk/gov/hmcts/probate/service/tasklist/TaskListRendererFactory.java
  src/main/java/uk/gov/hmcts/probate/service/tasklist/TaskListUpdateService.java
  src/main/java/uk/gov/hmcts/probate/service/tasklist/TaskStateRenderer.java
  src/main/java/uk/gov/hmcts/probate/service/template/markdown/MarkdownDecoratorService.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFDecoratorService.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementService.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/caseextra/CaseExtra.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/caseextra/PA16FormCaseExtra.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/caseextra/decorator/CaseExtraDecorator.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/caseextra/decorator/SolicitorCoversheetPDFDecorator.java
  src/main/java/uk/gov/hmcts/probate/transformer/CCDDataTransformer.java
  src/main/resources/templates/markdown/nextSteps.md
  src/main/resources/templates/pdf/solicitorCoverSheet.html
  src/test/java/uk/gov/hmcts/probate/businessrule/PA16FormBusinessRuleTest.java
  src/test/java/uk/gov/hmcts/probate/service/ConfirmationResponseServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/DefaultTaskListRendererTest.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/TaskListRendererFactoryTest.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/TaskListUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/TaskStateRendererTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/markdown/MarkdownDecoratorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PDFDecoratorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/SolicitorCoversheetPDFDecoratorTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/caseextra/decorator/CaseExtraDecoratorTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CCDDataTransformerTest.java
  src/test/resources/caseprogress/intestacy/solicitorCaseProgressSendDocumentsNoPA16Form
  src/test/resources/caseprogress/intestacy/solicitorCaseProgressSendDocumentsWithPA16Form
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1745

#1775 DTSPB-2482: Legal statement change for excepted estate
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1775
