Repository hmcts/probate-back-office, pull requests merged in 2021-04, with the labels that each got.

#1462 DTSPB-1759 - trust corps - bug dom country
  src/test/end-to-end/pages/caseDetails/grantOfProbate/deceasedTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/deceasedUpdateTabConfig.json
  src/test/end-to-end/pages/createGrantOfProbate/createGrantOfProbateConfig.json
  src/test/end-to-end/pages/createGrantOfProbate/page8.js
  src/test/end-to-end/paths/caseworker/grantOfProbatePath.js
  src/test/end-to-end/paths/caseworker/grantOfProbateSolPath-NonTrust.js
  src/test/end-to-end/paths/caseworker/grantOfProbateSolPath-PaperFormYes.js
  src/test/end-to-end/paths/caseworker/grantOfProbateSolPath.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1462

#1465 DTSPB-1253: Ld userkey from vault
  Jenkinsfile_CNP
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/service/FeatureToggleService.java
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1465

#1431 Dtspb 1380 modify data extract controller - improve range qry
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/ExelaDataExtractService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/HmrcDataExtractService.java
  src/main/resources/application.yml
  src/main/resources/templates/elasticsearch/caseMatching/grants_issued_date_range_query_exela.json
  src/main/resources/templates/elasticsearch/caseMatching/grants_issued_date_range_query_hmrc.json
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/ExelaDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/HmrcDataExtractServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1431

#1473 DTSPB-1380: run pact on pr
  src/contractTest/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1473

#1476 DTSPB-1380: inc data range extract sizing to 10K
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1476

#1479 Update Chart.yaml
  charts/probate-back-office/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1479

#1484 DTSPB-1775 probateCommons version changed.
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1484

#1483 Dtspb 1829 make question always visible
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/test/end-to-end/pages/solicitorApplyProbate/applyProbate/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page4.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1483

#1486 DTSPB-1380: do date range qry in blocks
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/ExelaDataExtractService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1486

#1489 DTSPB-1380: set date block size to 10 days incl
  src/contractTest/resources/application.yml
  src/main/resources/application.yml
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1489

#1488 Dtspb 1740 Added validation for anyOtherApplyingPartners
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/validator/PartnersAddedValidationRule.java
  src/main/resources/ValidationMessages.properties
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page2.js
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/validator/PartnersAddedValidationRuleTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1488

#1378 DTSPB-1544: changed docmosis url on lower envs
  docker-compose.yml
  src/contractTest/resources/application.yml
  src/functionalTest/resources/application.properties
  src/main/resources/application.yml
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1378

#1491 DTSPB-1745 - trust corp title and clearing changes
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/validator/PartnersAddedValidationRule.java
  src/main/resources/ValidationMessages.properties
  src/test/java/uk/gov/hmcts/probate/validator/PartnersAddedValidationRuleTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1491

#1490 DTSPB-1380: dec data block sizes
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1490

#1492 Dtspb 1749 none of these
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/reset/ResetResponseCaseDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/validator/NoneOfTheseSelectedValidationRule.java
  src/main/java/uk/gov/hmcts/probate/validator/PartnersAddedValidationRule.java
  src/main/java/uk/gov/hmcts/probate/validator/TitleAndClearingPageValidationRule.java
  src/main/resources/ValidationMessages.properties
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/grantOfProbate.json
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page2.js
  src/test/end-to-end/paths/caseprogress/caseProgressApplicationStoppedPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressReenterPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressStandardPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressStopEscalateIssuePath.js
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParentTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/reset/ResetResponseCaseDataTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/validator/NoneOfTheseSelectedValidationRuleTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1492

#1495 Dtspb 1743 validation for when all renouncing
  dependency-check-suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/failure.practitionerExecAndApplyingAllRenouncing.json
  src/functionalTest/resources/json/failure.practitionerExecAndApplyingSuccAllRenouncing.json
  src/functionalTest/resources/json/failure.practitionerExecAndApplyingTCTNoT.json
  src/functionalTest/resources/json/failure.practitionerNotAnExecNotApplyingNoPartnersAdded.json
  src/functionalTest/resources/json/failure.practitionerNotAnExecNotApplyingNoPartnersTrustCorp.json
  src/main/java/uk/gov/hmcts/probate/validator/PartnersAllRenouncingValidator.java
  src/main/resources/ValidationMessages.properties
  src/test/config.js
  src/test/java/uk/gov/hmcts/probate/validator/PartnersAllRenouncingValidatorTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1495

#1494 DTSPB-1380: reduce block to 2, added logging
  dependency-check-suppressions.xml
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/ExelaDataExtractService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1494

#1496 Match journey with Miro for 673
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/success.nonTrustCorpOptionsSaved.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/reset/ResetResponseCaseDataTransformer.java
  src/test/end-to-end/pages/createGrantOfProbate/checkAmendApplicantDetailsForSolCreatedApp.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page3.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/verifyTitleAndClearingTypeOption.js
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParentTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/reset/ResetResponseCaseDataTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1496

#1501 Dtspb 1848 add hint text to will question
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/applicantDetailsTabConfig-NonTrust.json
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/applicantDetailsTabConfig-PaperFormYes.json
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/applicantDetailsTabConfig.json
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/applicantDetailsUpdateTabConfig.json
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/applicantDetailsTabConfig.json
  src/test/end-to-end/pages/solicitorApplyProbate/applyProbate/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page1.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1501

#1504 DTSPB-1845 tc content changes
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/createGrantOfProbateConfig-PaperFormYes.json
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/createGrantOfProbateConfig.json
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/grantOfProbate.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1504

#1497 DTSPB-1380: improved parsing of delimeters in deceased data
  src/main/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationService.java
  src/test/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1497

#1503 Dtspb 1850 update review and confirm legal statement
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page1.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1503

#1474 DTSPB-1171: added welsh
  src/functionalTest/java/uk/gov/hmcts/probate/functional/IntegrationTestBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caveats/SolsBoCaveatsServiceTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/util/FunctionalTestUtils.java
  src/functionalTest/resources/json/caveatPayloadNoDOBWelsh.json
  src/functionalTest/resources/json/caveatPayloadNoDOBWelshResponse.txt
  src/functionalTest/resources/json/caveatPayloadNotificationsSolicitorNoDOBWelsh.json
  src/functionalTest/resources/json/caveatPayloadNotificationsSolicitorNoDOBWelshResponse.txt
  src/functionalTest/resources/json/caveatPayloadNotificationsSolicitorResponseWelsh.txt
  src/functionalTest/resources/json/caveatPayloadNotificationsSolicitorWelsh.json
  src/functionalTest/resources/json/caveatPayloadNotificationsWelsh.json
  src/functionalTest/resources/json/caveatPayloadNotificationsWelshResponse.txt
  src/main/java/uk/gov/hmcts/probate/service/notification/CaveatPersonalisationService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/CaveatPersonalisationServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1474

#1509 DTSPB-1171: suppress ES version issue
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1509

#1510 DTSPB-1856 Fix CVE suppression
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1510

#1512 Dtspb 1878 updates to legal statement with new text box
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorPDFPayloadAdmonWill.json
  src/functionalTest/resources/json/solicitorPDFPayloadIntestacy.json
  src/functionalTest/resources/json/solicitorPayloadTrustCorpsTransformed.json
  src/main/resources/templates/pdf/legalStatementAdmon.html
  src/main/resources/templates/pdf/legalStatementIntestacy.html
  src/main/resources/templates/pdf/legalStatementProbateTrustCorps.html
  src/test/end-to-end/pages/createGrantOfProbate/checkAmendDomAndAssetsForSolCreatedApp.js
  src/test/end-to-end/pages/createGrantOfProbate/page3.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page10.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page2.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page4.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page8.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page9.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1512

#1499 change crud permissions for bulkScanEnvelopes
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseField.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1499

#1513 Dtspb 1873 update admon will review sot page
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page1.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1513

#1514 update sot page for admon will.
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page1.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1514

#1427 Dtspb 1296 sf daily feed
  Jenkinsfile_CNP
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/IntegrationTestBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/dataextract/DataExtractTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/util/FunctionalTestUtils.java
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailAddresses.java
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/SmeeAndFordDataExtractService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/SmeeAndFordPersonalisationService.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
  src/main/resources/templates/dataExtracts/SmeeAndFordHeaderRow.csv
  src/test/java/uk/gov/hmcts/probate/controller/DataExtractControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/SmeeAndFordDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/SmeeAndFordPersonalisationServiceTest.java
  src/test/resources/application.yml
  src/test/resources/smeeAndFordExpectedData.txt
  src/test/resources/smeeAndFordExpectedDataNoDocs.txt
  src/test/resources/smeeAndFordExpectedDataNullDOD.txt
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1427

#1515 DTSPB-1883 - Trust Corps - show new fields on case details tabs
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  src/test/config.js
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/caseDetailsTabConfig-Succ.json
  src/test/end-to-end/pages/caseDetails/cwCreateGopSol/caseDetailsTabConfig-TrustCorp.json
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/caseDetailsTabAdmonWillConfig.json
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/caseDetailsTabDeceasedDtlsConfig.json
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/caseDetailsTabGopConfig.json
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/caseDetailsTabGopTrustCorpConfig.json
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/caseDetailsTabIntestacyConfig.json
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/caseDetailsTabUpdatesConfig.json
  src/test/end-to-end/pages/caseMatches/caseMatches.js
  src/test/end-to-end/pages/createCaveat/page2.js
  src/test/end-to-end/pages/createGrantOfProbate/page2.js
  src/test/end-to-end/pages/createGrantOfProbate/page3.js
  src/test/end-to-end/pages/createGrantOfProbate/page7.js
  src/test/end-to-end/pages/createGrantOfProbate/page8.js
  src/test/end-to-end/pages/createGrantOfProbate/page9.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page10.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page2.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page4.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page6.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page8.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page9.js
  src/test/end-to-end/pages/createWillLodgement/page2.js
  src/test/end-to-end/pages/createWillLodgement/page3.js
  src/test/end-to-end/pages/documentUpload/documentUpload.js
  src/test/end-to-end/pages/solicitorApplyCaveat/applicationDetails/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/cyaPage.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/grantOfProbate.json
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page1.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page3.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page4.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/verifyTitleAndClearingTypeOption.js
  src/test/end-to-end/paths/caseprogress/caseProgressApplicationStoppedPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressReenterPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressStandardPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressStopEscalateIssuePath.js
  src/test/end-to-end/paths/caseworker/gopApplyAsSolAmendAsCw.js
  src/test/end-to-end/paths/caseworker/grantOfProbateSolPath-NonTrust.js
  src/test/end-to-end/paths/caseworker/grantOfProbateSolPath.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateMultiExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateNoWill.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecNotNamedApplying.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateWillLeftAnnexed.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateWillLeftAnnexedFailure.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1515

#1493 DTSPB-1808 - trust corps caseworker title/clearing changes work
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1493

#1332 DTSPB-1222 Split the Admon Will Details page, one page for applicant…
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/admonWillDetails.json
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page3.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page3.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1332

#1516 Dtspb 1873 sot page buf fix
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1516

#1323 DTSPB-1237 Updated the Admon Will page so that if 'Yes' is selected …
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page2.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1323

#1511 DTSPB1818 bintray to jitpack migration
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1511

#1518 DTSPB-1874 admon will and intestacy legal statement changes
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorPDFIntestacyCodicils.json
  src/main/resources/templates/pdf/legalStatementAdmon.html
  src/main/resources/templates/pdf/legalStatementIntestacy.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1518

#1519 Dtspb 1222 fix merge issues
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page3.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1519
