Repository hmcts/probate-back-office, pull requests merged in 2021-07, with the labels that each got.

#1616 Dtspb 3482 exui hidden field fixes
  .gitignore
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1616

#1620 DTSPB-1069: fixing the exui hidden end to end IDs changes
  src/test/end-to-end/pages/solicitorApplyCaveat/applicationDetails/page2.js
  src/test/end-to-end/pages/solicitorApplyCaveat/applyCaveat/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page1.js
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page3.js
  src/test/end-to-end/pages/solicitorApplyProbate/applyProbate/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page1.js
  src/test/end-to-end/pages/solicitorApplyProbate/deceasedDetails/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/deceasedDetails/page4.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page1.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/intestacyDetails/page1.js
  src/test/end-to-end/pages/solicitorApplyProbate/intestacyDetails/page2.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1620

#1569 DTSPB-1374 add handed off to legacy site option and add to case searc…
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/SearchInputFields.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/success.caseHandedOffToLegacySite.json
  src/functionalTest/resources/json/success.caseNotHandedOffToLegacySite.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/end-to-end/pages/createGrantOfProbate/page1.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1569

#1636 DTSPB-2156 - run solicitor e2e tests locally using XUI
  package.json
  src/test/end-to-end/helpers/JSWait.js
  src/test/end-to-end/pages/createGrantOfProbate/page1.js
  src/test/end-to-end/pages/createGrantOfProbate/page3.js
  src/test/end-to-end/pages/newCase/newCase.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page2.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1636

#1641 DTSPB-1176 unlink coversheet document and amend unit tests
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  src/functionalTest/resources/expected-html/caseprogress/admonwill/04-caseCreated
  src/functionalTest/resources/expected-html/caseprogress/admonwill/04a-caseCreatedWillHasCodicils
  src/functionalTest/resources/expected-html/caseprogress/admonwill/04b-caseCreatedIHT217
  src/functionalTest/resources/expected-html/caseprogress/case-created-html.txt
  src/functionalTest/resources/expected-html/caseprogress/case-mark-ready-to-issue-html.txt
  src/functionalTest/resources/expected-html/caseprogress/case-matching-examining-html.txt
  src/functionalTest/resources/expected-html/caseprogress/case-matching-ready-to-issue-html.txt
  src/functionalTest/resources/expected-html/caseprogress/case-ready-for-exam-html.txt
  src/functionalTest/resources/expected-html/caseprogress/examine-case-html.txt
  src/functionalTest/resources/expected-html/caseprogress/generate-grant-html.txt
  src/functionalTest/resources/expected-html/caseprogress/gop/04a-caseCreatedRenouncingExecutors
  src/functionalTest/resources/expected-html/caseprogress/gop/04b-caseCreatedWillHasCodicils
  src/functionalTest/resources/expected-html/caseprogress/gop/04c-caseCreatedIHT217
  src/functionalTest/resources/expected-html/caseprogress/intestacy/04-caseCreated
  src/functionalTest/resources/expected-html/caseprogress/intestacy/04a-caseCreatedIHT217
  src/main/java/uk/gov/hmcts/probate/model/PageTextConstants.java
  src/main/resources/templates/markdown/nextSteps.md
  src/test/java/uk/gov/hmcts/probate/service/tasklist/DefaultTaskListRendererTest.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/TaskListUpdateServiceTest.java
  src/test/resources/caseprogress/admonwill/solicitorCaseProgressSendDocuments
  src/test/resources/caseprogress/admonwill/solicitorCaseProgressSendDocumentsIHT217
  src/test/resources/caseprogress/admonwill/solicitorCaseProgressSendDocumentsWillHasCodicils
  src/test/resources/caseprogress/gop/solicitorCaseProgressSendDocuments
  src/test/resources/caseprogress/gop/solicitorCaseProgressSendDocumentsIHT217
  src/test/resources/caseprogress/gop/solicitorCaseProgressSendDocumentsWillHasCodicils
  src/test/resources/caseprogress/intestacy/solicitorCaseProgressSendDocuments
  src/test/resources/caseprogress/intestacy/solicitorCaseProgressSendDocumentsIHT217
  src/test/resources/expectedConfirmationBody.md
  src/test/resources/expectedConfirmationBodyWithAllCombinations.md
  src/test/resources/expectedConfirmationBodyWithAllCombinationsAndMultiples.md
  src/test/resources/expectedConfirmationBodyWithDeadExecutor.md
  src/test/resources/expectedConfirmationBodyWithIHT217.md
  src/test/resources/expectedConfirmationBodyWithIHT400421.md
  src/test/resources/expectedConfirmationBodyWithMultipleDeadExecutors.md
  src/test/resources/expectedConfirmationBodyWithMultipleRenouncingExecutors.md
  src/test/resources/expectedConfirmationBodyWithNoWill.md
  src/test/resources/expectedConfirmationBodyWithRenouncingExecutor.md
  src/test/resources/expectedConfirmationBodyWithWillCordicils.md
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1641

#1643 DTSPB-2167 - Upgrade TC to ExUI
  README.md
  bin/run-crossbrowser-tests.sh
  bin/run-e2e-tests-cw.sh
  bin/run-e2e-tests.sh
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  package.json
  src/test/config.js
  src/test/end-to-end/codecept.conf.js
  src/test/end-to-end/helpers/PuppeteerHelper.js
  src/test/end-to-end/pages/IDAM/signIn.js
  src/test/end-to-end/pages/caseDetails/caseDetails.js
  src/test/end-to-end/pages/caseDetails/caseDetailsUpdated.js
  src/test/end-to-end/pages/caseProgress/navigateToCaseCaseworker.js
  src/test/end-to-end/pages/caseProgress/navigateToCaseSolicitor.js
  src/test/end-to-end/pages/caseProgress/solicitorDetails.js
  src/test/end-to-end/pages/createCase/createCase.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/page1.js
  src/test/end-to-end/pages/newCase/newCase.js
  src/test/end-to-end/pages/newCase/newCaseConfig.json
  src/test/end-to-end/pages/nextStep/nextStep.js
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page1.js
  src/test/end-to-end/pages/solicitorApplyProbate/applyProbate/page1.js
  src/test/end-to-end/pages/solicitorApplyProbate/applyProbate/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page1.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page3.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page4.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page5.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page6.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page7.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page8.js
  src/test/end-to-end/pages/solicitorApplyProbate/cyaPage.js
  src/test/end-to-end/pages/solicitorApplyProbate/deceasedDetails/page1.js
  src/test/end-to-end/pages/solicitorApplyProbate/deceasedDetails/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/deceasedDetails/page3.js
  src/test/end-to-end/pages/solicitorApplyProbate/deceasedDetails/page4.js
  src/test/end-to-end/pages/solicitorApplyProbate/endState.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page1.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page3.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page4.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page5.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page6.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/verifyTitleAndClearingTypeOption.js
  src/test/end-to-end/pages/solicitorApplyProbate/intestacyDetails/page1.js
  src/test/end-to-end/pages/solicitorApplyProbate/intestacyDetails/page2.js
  src/test/end-to-end/pages/solicitorApplyProbate/intestacyDetails/page3.js
  src/test/end-to-end/pages/solicitorApplyProbate/intestacyDetails/page4.js
  src/test/end-to-end/pages/utility/getCaseRefFromUrl.js
  src/test/end-to-end/pages/utility/navigateToCaseCaseworker.js
  src/test/end-to-end/paths/caseprogress/caseProgressApplicationStoppedPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressStandardPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressStopEscalateIssuePath.js
  src/test/end-to-end/paths/caseworker/gopApplyAsSolAmendAsCw.js
  src/test/end-to-end/saucelabs.conf.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1643

#1646 DTSPB-2183: rename event label
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEvent.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1646

#1637 DTSPB-66: shutter jurisdiction
  ccdImports/configFiles/CCD_Probate_Backoffice/Jurisdiction.json
  ccdImports/configFiles/CCD_Probate_Caveat/Jurisdiction.json
  ccdImports/configFiles/CCD_Probate_Legacy_Cases/Jurisdiction.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/Jurisdiction.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/Jurisdiction.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/Jurisdiction.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1637

#1651 Fix pact test vintage engine
  build.gradle
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/PBAPaymentConsumerForbiddenFailureTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/PBAPaymentConsumerSuccessTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/PBARetrievalConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/SidamAuthenticateUserConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/SidamConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/SidamExchangeCodeConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/ccd/SubmitEventForCaseworkerConsumerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1651

#1652 DTSPB-2188: fixed NPE
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/test/java/uk/gov/hmcts/probate/service/ConfirmationResponseServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1652

#1568 DTSPB-1973 email address update
  src/main/java/uk/gov/hmcts/probate/model/htmltemplate/AppStoppedHtmlTemplate.java
  src/main/java/uk/gov/hmcts/probate/service/tasklist/AppStoppedTaskListRenderer.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/AppStoppedTaskListRendererTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1568

#1638 DTSPB-2161 grant document changes and admon ls changes
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/caseworkerPartOtherRenouncing.json
  src/functionalTest/resources/json/caseworkerPartSuccPowerReservedToOthers.json
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/legalStatementAdmon.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1638

#1640 Dtspb 2166 fix grant
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/brightonGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/bristolGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/gopGrantDraftForCardiffResponse.txt
  src/functionalTest/resources/json/gopGrantForCardiffResponse.txt
  src/functionalTest/resources/json/leedsGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/liverpoolGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/londonGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/manchesterGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/newcastleGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/oxfordGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/winchesterGopGenerateGrantResponse.txt
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1640

#1653 DTSPB-2160 - tc exec issue
  dependency-check-suppressions.xml
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/PBAPaymentConsumerSuccessTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/PBARetrievalConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/SidamAuthenticateUserConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/SidamConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/SidamExchangeCodeConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/ccd/SubmitEventForCaseworkerConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/brightonGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/bristolGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/gopGrantDraftForCardiffResponse.txt
  src/functionalTest/resources/json/gopGrantForCardiffResponse.txt
  src/functionalTest/resources/json/leedsGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/liverpoolGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/londonGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/manchesterGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/newcastleGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/oxfordGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/solicitorPayloadMultiExecTcReadyToIssue.json
  src/functionalTest/resources/json/winchesterGopGenerateGrantResponse.txt
  src/main/resources/templates/pdf/admonWillGrant.html
  src/main/resources/templates/pdf/admonWillGrantDraft.html
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/intestacyGrant.html
  src/main/resources/templates/pdf/intestacyGrantDraft.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1653

#1655 initial commit
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1655

#1606 DTSPB-1886 upgrade elastic search
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1606

#1656 DTSPB-2206 Disable idam pact test temporarily
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/SidamAuthenticateUserConsumerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1656

#1657 Dtspb 2204 make fields optional
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1657

#1659 DTSPB-2199 not named probate practitioner appearing on grant - TC
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorPayloadTrustCorpsNotNamed.json
  src/functionalTest/resources/json/solicitorPayloadTrustCorpsNotNamedPowerReserved.json
  src/functionalTest/resources/json/solicitorPayloadTrustCorpsNotNamedTcExec.json
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1659

#1663 DTSPB-2212 - fix incorrect exec count issue incorrectly creating a hard stop
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/changerule/ExecutorsRule.java
  src/test/java/uk/gov/hmcts/probate/changerule/ExecutorsRuleTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1663

#1660 DTSPB-2196 SOT page update
  src/functionalTest/resources/json/solicitorPDFPayloadProbate.json
  src/functionalTest/resources/json/solicitorPDFPayloadProbateMultipleExecutors.json
  src/functionalTest/resources/json/solicitorPDFPayloadProbateSingleExecutor.json
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/resources/solicitorWillTypeProbate.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1660

#1666 DTSPB-2217: upgrade tomcat embed
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1666

#1672 Dtspb 2225 fix validator for execs
  src/main/java/uk/gov/hmcts/probate/validator/NumberOfApplyingExecutorsValidationRule.java
  src/test/java/uk/gov/hmcts/probate/validator/NumberOfApplyingExecutorsValidationRuleTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1672

#1671 DTSPB-2222 Delete the Pact test which doesnt have provider impl
  Jenkinsfile_nightly
  dependency-check-suppressions.xml
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/SidamAuthenticateUserConsumerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1671

#1669 DTSPB-2195: removed GI state from SF extract query
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/ExelaDataExtractService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/HmrcDataExtractService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/IronMountainDataExtractService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/SmeeAndFordDataExtractService.java
  src/main/resources/templates/elasticsearch/caseMatching/grants_issued_date_range_query_smeeford.json
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/ExelaDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/HmrcDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/IronMountainDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/SmeeAndFordDataExtractServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1669

#1674 DTSPB-1868 Upgrade Gradle version
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1674

#1673 Dtspb 2225 fixed
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/validator/NumberOfApplyingExecutorsValidationRule.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/validator/NumberOfApplyingExecutorsValidationRuleTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1673

#1676 DTSPB-1868 Update gradle using wrapper command
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1676

#1677 Dtspb 2225 call validator for cw
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1677

#1678 Dtspb 2237 tc reissue
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/SolBaCcdServiceDocumentsTests.java
  src/functionalTest/resources/json/solicitorPayloadReissueCtsc.json
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/resources/templates/pdf/digitalGrantReissue.html
  src/main/resources/templates/pdf/digitalGrantReissueDraft.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1678

#1681 Fix variable name change in ccd-data-store-api
  docker-compose.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1681

#1684 Uopgrade elasticsearch
  build.gradle
  charts/probate-back-office/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1684
