Repository hmcts/probate-back-office, pull requests merged in 2022-06, with the labels that each got.

#1929 DTSPB-2809: fix readme and local setup
  README.md
  bin/wiremock.sh
  ccdImports/conversionScripts/importAllXLS.sh
  docker-compose.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1929

#1943 DTSPB-2829: Update postgres version
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.preview.template.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1943

#1947 DTSPB-2845: move persistence.enabled property to new location
  charts/probate-back-office/values.preview.template.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1947

#1952 DTSPB-2850: fix pr logstash
  README.md
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.preview.template.yaml
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-1952

#1957 DTSPB-2839 upgrade notify client
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1957

#1961 DTSPB-2725 no docs
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1961

#1959 Dtspb 2810 prevent npe
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/AdditionalExecutorNotApplying.java
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/NotApplyingExecutorsMapper.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/AdditionalExecutorNotApplyingTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1959

#1964 DTSPB-2866: added try catch and logging
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/service/caseaccess/AssignCaseAccessService.java
  src/main/java/uk/gov/hmcts/probate/service/organisations/OrganisationsRetrievalService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/CaveatControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/caseaccess/AssignCaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/organisations/OrganisationsRetrievalServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformerTest.java
  src/test/resources/caseDetailWithOrgPolicy.json
  src/test/resources/solicitorCreateCaveatPayloadWithOrgPolicy.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1964

#1962 DTSPB-2824: Investigation and Implement: Effective way for Scheduling…
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1962

#1966 DTSPB-2869: pointo to springdoc
  src/main/java/uk/gov/hmcts/probate/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/probate/config/SwaggerConfig.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/controller/ExceptionRecordController.java
  src/main/java/uk/gov/hmcts/probate/controller/OCRFormsController.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1966

#1970 Setup CCD Diff
  .github/workflows/ccd-diff.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1970

#1981 added new secret for blob store connection
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1981

#1985 DTSPB-2892 Update dependency-check-suppressions.xml
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1985
