Repository hmcts/probate-back-office, pull requests merged in 2022-09, with the labels that each got.

#2008 DTSSE-1790 Update README.md
  README.md
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2008

#2044 DTSPB-3013: suppress snakeYaml dependency warnings untill addressed i…
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2044

#2033 DTSPB-2913: configure frontend environment as 'local'
  docker-compose.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2033

#2038 DTSPB-2682 Amended codicils in Admon legal statement
  src/functionalTest/java/uk/gov/hmcts/probate/functional/checkyouranswers/SolCcdServiceCheckYourAnswersTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/LegalStatementGenerationTests.java
  src/functionalTest/resources/json/solicitorPDFPayloadAdmonWillWithMultipleCodicils.json
  src/functionalTest/resources/json/solicitorPDFPayloadAdmonWillWithOneCodicil.json
  src/main/resources/templates/pdf/legalStatementAdmon.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2038

#2046 DTSPB-2290 modified text content
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2046

#2028 Dtspb 2772 zipservice file
  Jenkinsfile_CNP
  build.gradle
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
  dependency-check-suppressions.xml
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/util/FunctionalTestUtils.java
  src/main/java/uk/gov/hmcts/probate/blob/component/BlobUpload.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/exception/ZipFileException.java
  src/main/java/uk/gov/hmcts/probate/model/zip/ZippedManifestData.java
  src/main/java/uk/gov/hmcts/probate/schedule/SmeeAndFordExtractTask.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/DataExtractDateValidator.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/SmeeAndFordDataExtractService.java
  src/main/java/uk/gov/hmcts/probate/service/documentmanagement/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/probate/service/documentmanagement/DocumentManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/service/evidencemanagement/header/HttpHeadersFactory.java
  src/main/java/uk/gov/hmcts/probate/service/evidencemanagement/header/IdamHttpHeaderFactory.java
  src/main/java/uk/gov/hmcts/probate/service/notification/SmeeAndFordPersonalisationService.java
  src/main/java/uk/gov/hmcts/probate/service/zip/ZipFileService.java
  src/main/resources/application.yml
  src/main/resources/templates/dataExtracts/ManifestFileHeaderRow.csv
  src/test/java/uk/gov/hmcts/probate/schedule/SmeeAndFordExtractTaskTest.java
  src/test/java/uk/gov/hmcts/probate/service/DocumentServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/SmeeAndFordDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/documentmanagement/DocumentManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/probate/service/evidencemanagement/header/IdamHttpHeaderFactoryTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/SmeeAndFordPersonalisationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/zip/ZipFileServiceTest.java
  src/test/resources/application.yml
  src/test/resources/zip/TestPage1.pdf
  src/test/resources/zip/TestPage2.pdf
  src/test/resources/zip/TestPage3.pdf
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2028

#2049 DTSPB-2417: Probate practitioner validation fixes in digital journey
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/validator/CodicilDateValidationRule.java
  src/main/java/uk/gov/hmcts/probate/validator/OriginalWillSignedDateValidationRule.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/validator/CodicilDateValidationRuleTest.java
  src/test/java/uk/gov/hmcts/probate/validator/OriginalWillDateValidationRuleTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2049

#2055 Fortify fix
  src/main/java/uk/gov/hmcts/probate/service/zip/ZipFileService.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2055
