Repository hmcts/probate-back-office, pull requests merged in 2022-11, with the labels that each got.

#2088 BO nightly test fix
  Jenkinsfile_nightly
  bin/run-e2e-tests.sh
  src/test/end-to-end/pages/shareCase/shareCaseSelection.js
  src/test/end-to-end/pages/shareCase/shareCaseVerifyUserRemove.js
  src/test/end-to-end/pages/shareCase/verifyShareCase.js
  src/test/end-to-end/paths/solicitor/applyShareCase.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2088

#2089 DTSPB-3120 Suppress CVE-2022-42252
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2089

#2067 DTSPB-3041: SB upgrade to 2.7.4
  README.md
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2067

#2018 Dtspb 2886 automate case move out from dormant
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/State.json
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/EventId.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/ReturnedCaseDetails.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/schedule/MakeDormantCasesTask.java
  src/main/java/uk/gov/hmcts/probate/schedule/ReactivateDormantCasesTask.java
  src/main/java/uk/gov/hmcts/probate/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/CaseStoppedService.java
  src/main/java/uk/gov/hmcts/probate/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/probate/service/DormantCaseService.java
  src/main/java/uk/gov/hmcts/probate/service/GrantNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/ccd/CcdClientApi.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/resources/application.yml
  src/main/resources/templates/elasticsearch/caseMatching/dormant_date_range_query.json
  src/main/resources/templates/elasticsearch/caseMatching/reactivate_dormant_date_range_query.json
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/schedule/MakeDormantCasesTaskTest.java
  src/test/java/uk/gov/hmcts/probate/schedule/ReactivateDormantCasesTaskTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseStoppedServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/DormantCaseServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/ExelaCriteriaServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/GrantNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/ExelaDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/HmrcDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/IronMountainDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/SmeeAndFordDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/HmrcFileServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/SmeeAndFordPersonalisationServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2018

#2093 Revert "Dtspb 2886 automate case move out from dormant"
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/State.json
  dependency-check-suppressions.xml
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/EventId.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/ReturnedCaseDetails.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/schedule/MakeDormantCasesTask.java
  src/main/java/uk/gov/hmcts/probate/schedule/ReactivateDormantCasesTask.java
  src/main/java/uk/gov/hmcts/probate/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/CaseStoppedService.java
  src/main/java/uk/gov/hmcts/probate/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/probate/service/DormantCaseService.java
  src/main/java/uk/gov/hmcts/probate/service/GrantNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/ccd/CcdClientApi.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/resources/application.yml
  src/main/resources/templates/elasticsearch/caseMatching/dormant_date_range_query.json
  src/main/resources/templates/elasticsearch/caseMatching/reactivate_dormant_date_range_query.json
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/schedule/MakeDormantCasesTaskTest.java
  src/test/java/uk/gov/hmcts/probate/schedule/ReactivateDormantCasesTaskTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseStoppedServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/DormantCaseServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/ExelaCriteriaServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/GrantNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/ExelaDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/HmrcDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/IronMountainDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/SmeeAndFordDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/HmrcFileServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/SmeeAndFordPersonalisationServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2093

#2097 Dtspb 3143 timeliness messaging
  src/functionalTest/resources/json/exceptedEstates/ihtEstateBeforeSwitchDate/expectedConfirmation.txt
  src/functionalTest/resources/json/exceptedEstates/ihtEstateCompletedNo/expectedConfirmation.txt
  src/functionalTest/resources/json/exceptedEstates/ihtEstateCompletedYes207/expectedConfirmation.txt
  src/functionalTest/resources/json/exceptedEstates/ihtEstateCompletedYes400421/expectedConfirmation.txt
  src/main/resources/templates/markdown/nextSteps.md
  src/main/resources/templates/markdown/nextStepsNoDocumentsRequired.md
  src/test/resources/expectedConfirmationBody.md
  src/test/resources/expectedConfirmationBodyWithAllCombinations.md
  src/test/resources/expectedConfirmationBodyWithAllCombinationsAndMultiples.md
  src/test/resources/expectedConfirmationBodyWithDeadExecutor.md
  src/test/resources/expectedConfirmationBodyWithIHT217.md
  src/test/resources/expectedConfirmationBodyWithIHT400421.md
  src/test/resources/expectedConfirmationBodyWithMultipleDeadExecutors.md
  src/test/resources/expectedConfirmationBodyWithMultipleRenouncingExecutors.md
  src/test/resources/expectedConfirmationBodyWithNoWill.md
  src/test/resources/expectedConfirmationBodyWithNotarialCopy.md
  src/test/resources/expectedConfirmationBodyWithPA14Form.md
  src/test/resources/expectedConfirmationBodyWithPA15Form.md
  src/test/resources/expectedConfirmationBodyWithPA16Form.md
  src/test/resources/expectedConfirmationBodyWithPA17Form.md
  src/test/resources/expectedConfirmationBodyWithRenouncingExecutor.md
  src/test/resources/expectedConfirmationBodyWithTcResolutionLodged.md
  src/test/resources/expectedConfirmationBodyWithWillCordicils.md
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2097
