Repository hmcts/probate-back-office, pull requests merged in 2022-04, with the labels that each got.

#1875 Dtspb 2007 auth translation text and hint update
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  dependency-check-suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/nextsteps/SolCcdServiceNextStepsTests.java
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/caseDetailsTabUpdatesConfig.json
  src/test/java/uk/gov/hmcts/probate/service/template/markdown/MarkdownDecoratorServiceTest.java
  src/test/resources/caseprogress/gop/solicitorCaseProgressSendDocumentsWithAuthenticatedTranslationOfWill
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1875

#1860 Dtspb 2219 ccd self serve
  Jenkinsfile_CNP
  bin/README.md
  bin/add-roles.sh
  bin/build-preview-ccd-definitions.sh
  bin/build-release-ccd-definitions.sh
  bin/ccd-add-role.sh
  bin/ccd-import-definition-pipeline.sh
  bin/idam-create-caseworker.sh
  bin/idam-lease-service-token.sh
  bin/idam-lease-user-token.sh
  bin/idam-role.sh
  bin/variables/load-aat-environment-variables.sh
  bin/variables/load-demo-environment-variables.sh
  bin/variables/load-ithc-environment-variables.sh
  bin/variables/load-perftest-environment-variables.sh
  bin/variables/load-preview-environment-variables.sh
  bin/variables/load-prod-environment-variables.sh
  bin/variables/unload-environment-variables.sh
  build.gradle
  ccdImports/conversionScripts/convertJsonToXLS-pipeline.sh
  ccdImports/conversionScripts/createAllXLS-pipeline.sh
  ccdImports/conversionScripts/importAllXLS-pipeline.sh
  ccdImports/conversionScripts/importAllXLS.sh
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/casematch/CaseMatchingTests.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1860

#1819 Dtspb 1420 newcastle will lodgement
  src/contractTest/resources/application.yml
  src/functionalTest/resources/json/newcastleGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/willLodgementDepositReceiptResponse.txt
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/willlodgement/request/WillLodgementDetails.java
  src/main/resources/application.yml
  src/main/resources/templates/pdf/willLodgementDepositReceipt.html
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1819

#1839 DTSPB-1454: set doc upload type ordering
  .vscode/launch.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  ccdImports/configFiles/CCD_Probate_Caveat/FixedLists.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/FixedLists.json
  src/test/end-to-end/pages/caseDetails/caveat/documentsTabUploadDocumentConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/documentUploadTabConfig.json
  src/test/end-to-end/pages/caseDetails/willLodgement/documentsTabUploadDocumentConfig.json
  src/test/end-to-end/pages/documentUpload/caveat/documentUploadConfig.json
  src/test/end-to-end/pages/documentUpload/documentUpload.js
  src/test/end-to-end/pages/documentUpload/grantOfProbate/documentUploadConfig.json
  src/test/end-to-end/pages/documentUpload/willLodgement/documentUploadConfig.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1839

#1885 Dtspb 2689 fix postgress suppression
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1885

#1577 DTSPB-1390 test docmosis changes
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
  src/functionalTest/resources/json/expectedDocumentGrantAdmonWillWelsh.txt
  src/functionalTest/resources/json/expectedDocumentGrantGOPWelsh.txt
  src/functionalTest/resources/json/expectedDocumentGrantIntestacyWelsh.txt
  src/functionalTest/resources/json/expectedDocumentReissueAdmonWillWelsh.txt
  src/functionalTest/resources/json/expectedDocumentReissueGOPWelsh.txt
  src/functionalTest/resources/json/expectedDocumentReissueIntestacyWelsh.txt
  src/functionalTest/resources/json/expectedPersonalDocumentAdmonWillReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentGrantReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentGrantReissuedNameDoubleBarrelled.txt
  src/functionalTest/resources/json/expectedPersonalDocumentGrantReissuedNameWithApostrophe.txt
  src/functionalTest/resources/json/expectedPersonalDocumentIntestacyReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshAdmonWillReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissuedNameDoubleBarrelled.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissuedNameWithApostrophe.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshIntestacyReissued.txt
  src/functionalTest/resources/json/personalPayloadGrantReissuedNameDoubleBarrelled.json
  src/functionalTest/resources/json/personalPayloadGrantReissuedNameWithApostrophe.json
  src/functionalTest/resources/json/personalPayloadWelshGrantReissuedNameDoubleBarrelled.json
  src/functionalTest/resources/json/personalPayloadWelshGrantReissuedNameWithApostrophe.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1577

#1848 Dtspb 2570 ls partners wording
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/LegalStatementGenerationTests.java
  src/main/resources/templates/pdf/legalStatementGrantOfProbate.html
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1848

#1889 Dtspb 2646 fix npe last modified date
  src/main/java/uk/gov/hmcts/probate/transformer/CCDDataTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CCDDataTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1889

#1883 DTSPB-2687 stop ignoring IOException when loading json file in func t…
  src/functionalTest/java/uk/gov/hmcts/probate/functional/IntegrationTestBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/bulkscanning/SolBaCcdServiceBulkScanningTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/casematch/CaseMatchingTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/casematch/CaseSearchTestBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/casematch/LegacyTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/CaseProgressTestsBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressAdmonWillTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressGopTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressIntestacyTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caveats/SolsBoCaveatsServiceTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/checkyouranswers/SolCcdServiceCheckYourAnswersTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/CoversheetGenerationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/DocumentGenerationTestBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/DocumentGenerationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/GrantGenerationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/LegalStatementGenerationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/WelshGrantGenerationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/fee/SolCcdServiceFeeTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/hardstops/SolCcdServiceExecutorHardStopTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/hardstops/SolCcdServiceWillUpdateHardStopTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/lifeeventservice/LifeEventServiceTest.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/nextsteps/SolCcdServiceNextStepsTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/ScheduledNotificationsTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/payments/SolCcdServicePBAPaymentTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/printservice/SolCcdServicePrintServiceTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/search/StandingSearchTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/serviceauth/SolCcdServiceServiceAuthTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/util/FunctionalTestUtils.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1883

#1876 DTSPB-2647 Validate Bulk Scan Executors Email Address
  src/functionalTest/java/uk/gov/hmcts/probate/functional/bulkscanning/BulkScanPA1FormV2OCRValidationTests.java
  src/functionalTest/resources/json/bulkscan/version2/validation/expectedWarnings/invalidApplyingExecutor0EmailAddress.txt
  src/functionalTest/resources/json/bulkscan/version2/validation/requestPayload/Post2022PA1PInvalidExecutor0EmailAddress.json
  src/functionalTest/resources/json/bulkscan/version2/validation/requestPayload/Post2022PA1PValidExecutor0EmailAddress.json
  src/main/java/uk/gov/hmcts/probate/service/ocr/OcrEmailValidator.java
  src/test/java/uk/gov/hmcts/probate/service/ocr/OcrEmailValidatorTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1876

#1877 DTSPB-2618: Error message in Request information event for paper appl…
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/service/InformationRequestService.java
  src/main/resources/ValidationMessages.properties
  src/test/java/uk/gov/hmcts/probate/controller/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/probate/service/InformationRequestServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1877
