Repository hmcts/probate-back-office, pull requests merged in 2022-07, with the labels that each got.

#1987 DTSPB-2896 Update dependency-check-suppressions.xml
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1987

#1991 DTSPB-2873: case id already used in another test causing duplicate pa…
  src/functionalTest/resources/json/solicitorValidateProbateExecutorsPA15.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1991

#1993 DTSPB-2903 Remove password from the ReadMe.md line 114
  README.md
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1993

#2001 DTSPB-2940 CVE
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2001

#2003 fixed probate man case match e2e test
  src/test/end-to-end/pages/caseMatches/probateManCaseMatches.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2003

#1922 Dtspb 1603 change sot to legal statement tab
  README.md
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  ccdImports/configFiles/CCD_Probate_Backoffice/State.json
  src/main/java/uk/gov/hmcts/probate/service/DocumentGeneratorService.java
  src/test/end-to-end/pages/caseDetails/grantOfProbate/examChecklistTabConfig.json
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/sotTabConfig.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1922

#2006 Upgrade Chart version
  charts/probate-back-office/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2006

#1971 DTSPB-2858 send corrent email if no docs required
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/probate/model/State.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/service/notification/TemplateService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerUnitTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/TemplateServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1971

#1977 Dtspb 1714 upgrade commons sb
  build.gradle
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-1977

#1997 DTSPB-2686: Moved cron job from ORCH to BO
  build.gradle
  src/main/java/uk/gov/hmcts/probate/BusinessRulesValidationApplication.java
  src/main/java/uk/gov/hmcts/probate/schedule/SmeeAndFordExtractTask.java
  src/main/java/uk/gov/hmcts/probate/service/task/ScheduledTaskRunner.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataJsonTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/StandingSearchJsonTest.java
  src/test/java/uk/gov/hmcts/probate/schedule/SmeeAndFordExtractTaskTest.java
  src/test/java/uk/gov/hmcts/probate/service/task/ScheduledTaskRunnerTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PdfServiceHtmlTemplateTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1997

#2010 ccd chart upgrade
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.preview.template.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2010
