Repository hmcts/probate-back-office, pull requests merged in 2022-03, with the labels that each got.

#1845 added checks for new IHT tab
  src/test/end-to-end/pages/caseDetails/grantOfProbate/ihtTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/ihtUpdateTabConfig.json
  src/test/end-to-end/paths/caseworker/grantOfProbatePathEE.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1845

#1800 Dtspb 2536 validate iht estate gross net
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/validator/IHTValidationRule.java
  src/main/resources/ValidationMessages.properties
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CCDDataTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/validator/IHTValidationRuleTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1800

#1853 Fix e2e
  src/test/end-to-end/pages/caseDetails/caveat/historyTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/documentUploadTabConfig.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/historyTabConfig.json
  src/test/end-to-end/pages/caseDetails/willLodgement/historyTabConfig.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1853

#1851 DTSPB-2642 Update Java chart version
  charts/probate-back-office/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1851

#1852 DTSPB-2643: corrected NPE on execMapper
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/ExecutorListMapperService.java
  src/test/java/uk/gov/hmcts/probate/service/solicitorexecutor/ExecutorListMapperServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1852

#1854 DTSPB 2616 Fix Senerity Report
  Jenkinsfile_CNP
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1854

#1855 Dtspb 2538 correct iht field data types
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1855

#1802 DTSPB-2247 email validation for ocr data
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentsReceivedNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/EmailValidationService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/RaiseGrantOfRepresentationNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/ocr/OcrEmailValidator.java
  src/main/java/uk/gov/hmcts/probate/validator/EmailAddressNotificationDefaultValidationRule.java
  src/main/java/uk/gov/hmcts/probate/validator/EmailAddressNotificationValidationRule.java
  src/test/java/uk/gov/hmcts/probate/controller/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerUnitTest.java
  src/test/java/uk/gov/hmcts/probate/service/DocumentsReceivedNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/EmailValidationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/RaiseGrantOfRepresentationNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/util/EmailAddressUtils.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1802

#1849 DTSPB-2639: corrected estate form view on tab
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1849

#1858 DTSPB-2645 update security.sh for Nightly Security scan
  security.sh
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1858

#1862 DTSPB-2556: Update elasticsearch
  docker-compose.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1862

#1810 DTSPB-2245: corrected IHT date message
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/validator/IHTFourHundredDateValidationRule.java
  src/main/resources/ValidationMessages.properties
  src/test/java/uk/gov/hmcts/probate/validator/IHTFourHundredDateValidationRuleTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1810

#1844 DTSPB-699: Investigate implementing Open ID Connect (OICD) - Reducing…
  build.gradle
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/bulkscanning/SolBaCcdServiceBulkScanningTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/fee/SolCcdServiceFeeTests.java
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombCitizenPA1A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombCitizenPA1P.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombCitizenPA8A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombSolicitorPA1A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombSolicitorPA1P.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombSolicitorPA8A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA1A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA1P.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA8A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputSolicitorPA1P.json
  src/main/java/uk/gov/hmcts/probate/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/probate/service/IdamAuthenticateUserService.java
  src/main/java/uk/gov/hmcts/probate/service/IdamTokens.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/probate/service/IdamAuthenticateUserServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/payments/pba/PBARetrievalServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1844

#1861 DTSPB-2429 Changes to point prod to v11 probateman DB
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1861

#1865 DTSPB-1234: fix
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1865

#1868 Reverted DTSPB-699: Investigate implementing Open ID Connect (OICD) - Reducing number of IDAM calls
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/BusinessRulesValidationApplication.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/IdamAuthenticateUserService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/IdamAuthenticateUserServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1868

#1869 Reverted DTSPB-699: Investigate implementing Open ID Connect (OICD) -…
  build.gradle
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/bulkscanning/SolBaCcdServiceBulkScanningTests.java
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombCitizenPA1A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombCitizenPA1P.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombCitizenPA8A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombSolicitorPA1A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombSolicitorPA1P.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombSolicitorPA8A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA1A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA1P.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA8A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputSolicitorPA1P.json
  src/main/java/uk/gov/hmcts/probate/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/probate/service/IdamTokens.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/security/SecurityUtilsTest.java
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1869

#1796 Dtspb 2520 add pagination to scheduled data jobs
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/dataextract/DataExtractTests.java
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailAddresses.java
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/ReturnedCases.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/ExelaCriteriaService.java
  src/main/java/uk/gov/hmcts/probate/service/FileTransferService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/ExelaDataExtractService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/HmrcDataExtractService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/IronMountainDataExtractService.java
  src/main/java/uk/gov/hmcts/probate/service/dataextract/SmeeAndFordDataExtractService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationService.java
  src/main/resources/application.yml
  src/main/resources/templates/elasticsearch/caseMatching/grants_issued_date_range_query_exela.json
  src/main/resources/templates/elasticsearch/caseMatching/grants_issued_date_range_query_hmrc.json
  src/main/resources/templates/elasticsearch/caseMatching/grants_issued_date_range_query_smeeford.json
  src/test/java/uk/gov/hmcts/probate/service/CaseQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/ExelaCriteriaServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/ExelaDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/HmrcDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/IronMountainDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/SmeeAndFordDataExtractServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationServiceTest.java
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1796

#1863 fix case progress e2e tests
  bin/run-e2e-tests.sh
  package.json
  src/test/end-to-end/pages/caseProgress/deceasedDetails.js
  src/test/end-to-end/pages/caseProgress/deceasedDetails2.js
  src/test/end-to-end/pages/utility/navigateToCase.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1863

#1873 DTSPB-2666: fixed excela email problem
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailAddresses.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/resources/application.yml
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1873

#1856 DTSPB-2615: Upgrade Springboot version for probate Backoffice Service
  build.gradle
  dependency-check-suppressions.xml
  src/caseCreator/java/uk/gov/hmcts/probate/casecreator/util/TestCaseCreator.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/PBAPaymentConsumerSuccessTest.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/DocumentGenerationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/lifeeventservice/LifeEventServiceTest.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/printservice/SolCcdServicePrintServiceTests.java
  src/main/java/uk/gov/hmcts/probate/config/SwaggerConfig.java
  src/main/java/uk/gov/hmcts/probate/service/docmosis/CaveatDocmosisService.java
  src/main/java/uk/gov/hmcts/probate/service/docmosis/GenericMapperService.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/config/SecurityConfigurationTest.java
  src/test/java/uk/gov/hmcts/probate/model/evidencemanagement/EvidenceManagementFileTest.java
  src/test/java/uk/gov/hmcts/probate/service/DocumentGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/docmosis/CaveatDocmosisServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/docmosis/GrantOfRepresentationDocmosisMapperServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/docmosis/PreviewLetterServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1856

#1866 DTSPB-2669 Increase storage so that demo pipeline doesnt fail
  infrastructure/main.tf
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1866

#1843 Dtspb 2054 dispense notice
  README.md
  src/main/java/uk/gov/hmcts/probate/businessrule/DispenseNoticeSupportDocsRule.java
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/model/PageTextConstants.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/CCDData.java
  src/main/java/uk/gov/hmcts/probate/model/htmltemplate/SendDocumentsDetailsHtmlTemplate.java
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/java/uk/gov/hmcts/probate/service/tasklist/TaskStateRenderer.java
  src/main/java/uk/gov/hmcts/probate/service/template/markdown/MarkdownDecoratorService.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/caseextra/DispenseNoticeCaseExtra.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/caseextra/decorator/SolicitorCoversheetPDFDecorator.java
  src/main/java/uk/gov/hmcts/probate/transformer/CCDDataTransformer.java
  src/main/resources/templates/markdown/nextSteps.md
  src/main/resources/templates/pdf/solicitorCoverSheet.html
  src/test/java/uk/gov/hmcts/probate/service/tasklist/TaskStateRendererTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/markdown/MarkdownDecoratorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/SolicitorCoversheetPDFDecoratorTest.java
  src/test/resources/caseprogress/gop/solicitorCaseProgressSendDocumentsWithDispenseNoticeSupportDocs
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1843

#1874 DTSPB-1493 point to new commons version
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1874
