Repository hmcts/probate-back-office, pull requests merged in 2022-10, with the labels that each got.

#2065 DTSPB-3033 Supress CVE-2022-38752
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2065

#2062 Update to use terraform created storage secrets
  Jenkinsfile_CNP
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
  src/contractTest/resources/application.yml
  src/main/resources/application.yml
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2062

#2059 Dtspb 3021 rearrange pr nightly tests
  Jenkinsfile_CNP
  bin/run-e2e-tests-pr.sh
  charts/probate-back-office/values.preview.template.yaml
  dependency-check-suppressions.xml
  package.json
  src/test/end-to-end/pages/IDAM/signIn.js
  src/test/end-to-end/paths/caseprogress/pr_specific/caseProgressStandardPath.js
  src/test/end-to-end/paths/caseworker/pr_specific/caveatPath.js
  src/test/end-to-end/paths/caseworker/pr_specific/grantOfProbatePathEE.js
  src/test/end-to-end/paths/solicitor/pr_specific/applyCaveat.js
  src/test/end-to-end/paths/solicitor/pr_specific/applyGrantOfProbateMultiExecutorEE.js
  src/test/end-to-end/paths/solicitor/pr_specific/applyGrantOfProbateNoWillEE.js
  src/test/end-to-end/paths/solicitor/pr_specific/applyGrantOfProbateSingleExecutorEE.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2059

#2050 DTSPB-2364 Updated content probate practitioner details
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/test/end-to-end/pages/solicitorApplyProbate/applyProbate/applyProbateConfig.json
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2050

#2032 Dtspb 2997 hand off flag v2
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/lifeeventservice/LifeEventServiceTest.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/controller/LifeEventController.java
  src/main/java/uk/gov/hmcts/probate/controller/NextStepsController.java
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/service/HandOffLegacyService.java
  src/main/java/uk/gov/hmcts/probate/service/LifeEventCCDService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/HandOffLegacyTransformer.java
  src/test/config.js
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NextStepsUnitTest.java
  src/test/java/uk/gov/hmcts/probate/service/HandOffLegacyServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/HandOffLegacyTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/service/LifeEventCCDServiceTest.java
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2032

#2048 DTSPB-2932 CW Default dateOfDeathType on diedOn
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2048

#2052 DTSPB-2543-3016 Move error message for gross and net values
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/validator/IHTValidationRule.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2052

#2058 CaveatePath.js updated
  package.json
  src/test/end-to-end/legacyE2ePath/caveatPath2.js
  src/test/end-to-end/legacyE2ePath/caveatPath4.js
  src/test/end-to-end/paths/caseworker/caveatPath3.js
  src/test/end-to-end/paths/caseworker/pr_specific/caveatPath.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2058

#2070 Changed order email and zip file generation
  src/main/java/uk/gov/hmcts/probate/service/dataextract/SmeeAndFordDataExtractService.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2070

#2025 Dtspb 2229 sort by evidence added
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/SearchResultFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/WorkBasketResultFields.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/DocumentGenerationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
  src/functionalTest/resources/json/personalRaiseGrantWithEvidenceHandledNo.json
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseDataParent.java
  src/main/java/uk/gov/hmcts/probate/service/EvidenceUploadService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/DocumentControllerUnitTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerUnitTest.java
  src/test/java/uk/gov/hmcts/probate/service/EvidenceUploadServiceTest.java
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2025

#2047 DTSPB-3012: added new validations
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/validator/IhtNetQualifyingValueValidationRule.java
  src/main/resources/ValidationMessages.properties
  src/test/end-to-end/pages/solicitorApplyProbate/deceasedDetails/deceasedDetailsConfig.json
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/validator/IhtNetQualifyingValueValidationRuleTest.java
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2047

#2004 DTSPB-2728 Share A Case
  package.json
  src/test/config.js
  src/test/end-to-end/pages/IDAM/signInShareCase.js
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/createGrantOfProbateConfig.json
  src/test/end-to-end/pages/shareCase/shareCaseDelete.js
  src/test/end-to-end/pages/shareCase/shareCaseSelection.js
  src/test/end-to-end/pages/shareCase/shareCaseVerifyUserRemove.js
  src/test/end-to-end/pages/shareCase/verifyShareCase.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/solicitor/applyShareCase.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2004

#2074 Spaces Removed
  src/test/config.js
  src/test/end-to-end/pages/IDAM/signInShareCase.js
  src/test/end-to-end/pages/shareCase/shareCaseDelete.js
  src/test/end-to-end/pages/shareCase/shareCaseSelection.js
  src/test/end-to-end/pages/shareCase/shareCaseVerifyUserRemove.js
  src/test/end-to-end/pages/shareCase/verifyShareCase.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/solicitor/applyShareCase.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2074

#2076 Sf exception fix
  src/main/java/uk/gov/hmcts/probate/service/zip/ZipFileService.java
  src/test/java/uk/gov/hmcts/probate/service/zip/ZipFileServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2076

#2080 DTSPB-3100: removed s2s pact tests
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/ServiceAuthenConsummerDetailTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/ServiceAuthenConsummerLeaseTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2080

#2077 Errors rectified for Jenkin Build.
  src/test/end-to-end/pages/IDAM/signInShareCase.js
  src/test/end-to-end/pages/shareCase/shareCaseSelection.js
  src/test/end-to-end/pages/shareCase/verifyShareCase.js
  src/test/end-to-end/paths/solicitor/applyShareCase.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2077

#2081 Sf zip file fix
  src/main/java/uk/gov/hmcts/probate/service/zip/ZipFileService.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2081

#2082 DTSPB-1835: Bump life events client
  build.gradle
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
  dependency-check-suppressions.xml
  src/test/resources/LifeEventCCDIntegrationTest.properties
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2082
