Repository hmcts/probate-back-office, pull requests merged in 2022-02, with the labels that each got.

#1824 DTSPB-2584: Resolve the below deprecated warning form Java repos
  charts/probate-back-office/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1824

#1826 DTSPB-2586: fix vulnerabilities
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1826

#1820 DTSPB-2581: clean up FTs
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/casematch/CaseMatchingTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/casematch/CaseSearchTestBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/casematch/LegacyTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caveats/SolsBoCaveatsServiceTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/CoversheetGenerationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/DocumentGenerationTestBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/DocumentGenerationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/GrantGenerationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/LegalStatementGenerationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/WelshGrantGenerationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/fee/SolCcdServiceFeeTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/nextsteps/SolCcdServiceNextStepsTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/payments/SolCcdServicePBAPaymentTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/printservice/SolCcdServicePrintServiceTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/util/FunctionalTestUtils.java
  src/functionalTest/resources/json/casematch/applyForGrantPayload.json
  src/functionalTest/resources/json/casematch/caveatLegacySearch.json
  src/functionalTest/resources/json/casematch/grantOfProbateLegacy.json
  src/functionalTest/resources/json/casematch/standingSearchLegacySearch.json
  src/functionalTest/resources/json/solicitorPDFPayloadProbateAccountSuccess.json
  src/functionalTest/resources/json/solicitorValidateProbateExecutors.json
  src/functionalTest/resources/json/solicitorValidateProbateExecutorsPA17.json
  src/functionalTest/resources/json/success.feeNetValue1000.json
  src/functionalTest/resources/json/success.feeNetValue10000.json
  src/main/resources/application.yml
  src/test/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1820

#1799 Dtspb 2447 ee cw create
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  dependency-check-suppressions.xml
  package.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/InheritanceTax.java
  src/main/java/uk/gov/hmcts/probate/transformer/CCDDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/validator/CaseworkerAmendAndCreateValidationRule.java
  src/main/java/uk/gov/hmcts/probate/validator/CaseworkerAmendValidationRule.java
  src/main/java/uk/gov/hmcts/probate/validator/DeceasedAddressValidationRule.java
  src/main/java/uk/gov/hmcts/probate/validator/DobDodValidationRule.java
  src/main/java/uk/gov/hmcts/probate/validator/ExecutorsAddressValidationRule.java
  src/main/java/uk/gov/hmcts/probate/validator/IHTValidationRule.java
  src/main/resources/ValidationMessages.properties
  src/main/resources/application.yml
  src/test/end-to-end/pages/caseDetails/grantOfProbate/applicantDetailsTabConfigEE.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/caseDetailsTabConfigEE.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/caseDetailsUpdateTabConfigEE.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/deceasedTabConfigEE.json
  src/test/end-to-end/pages/caseMatches/grantOfProbate/caseMatchesConfigEE.json
  src/test/end-to-end/pages/createCase/createCaseConfig.json
  src/test/end-to-end/pages/createGrantOfProbate/createGrantOfProbateConfig.json
  src/test/end-to-end/pages/createGrantOfProbate/page4.js
  src/test/end-to-end/pages/createGrantOfProbateManual/createGrantOfProbateManualConfig.json
  src/test/end-to-end/pages/createGrantOfProbateManual/page1.js
  src/test/end-to-end/pages/createGrantOfProbateManual/page2.js
  src/test/end-to-end/pages/createGrantOfProbateManual/page3.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/caseworker/grantOfProbatePathEE.js
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/validator/IHTValidationRuleTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1799

#1833 DTSPB-XXXX:upgrade chart to fix master
  charts/probate-back-office/Chart.yaml
  probate-back-office-staging-java.log
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1833

#1837 DTSPB-2604 Fix dep suppression and failure
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1837
