Repository hmcts/probate-back-office, pull requests merged in 2022-08, with the labels that each got.

#2021 Dtspb 2958 fix preview
  Jenkinsfile_CNP
  bin/build-preview-ccd-definitions.sh
  charts/probate-back-office/values.preview.template.yaml
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2021

#2005 Dtspb 2857 deceased name in app received
  src/functionalTest/resources/json/caseworkerCreatedPersonalEmailPaperFormYesResponse.txt
  src/functionalTest/resources/json/caseworkerCreatedSolicitorEmailPaperFormYesResponse.txt
  src/functionalTest/resources/json/paperApplicationReceivedCitizenFromCaseworkerEmailExpectedResponse.txt
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2005

#2013 DTSPB-2830 remove suppressions
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2013

#1965 DTSPB-2740: Hand Off Flag Change
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1965

#2029 Add backstage configuration file
  catalog-info.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2029

#1912 Dtspb 2638 statement of truth in assembled letters
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/functionalTest/resources/json/document/generateLetter.json
  src/functionalTest/resources/json/document/generateLetterDefaultLocation.json
  src/functionalTest/resources/json/solicitorValidateProbateExecutorsPA17.json
  src/main/java/uk/gov/hmcts/probate/model/DocumentType.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/probate/transformer/DocumentTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/assembly/AssembleLetterTransformer.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/DocumentGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/DocumentTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-1912

#2030 Revert "DTSPB-2740: Hand Off Flag Change"
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2030

#2031 probate case match only works on demo and aat
  src/test/end-to-end/paths/caseworker/grantOfProbateProbateManCaseMatchPath.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2031
