Repository hmcts/probate-back-office, pull requests merged in 2023-10, with the labels that each got.

#2412 update all charts to move to Workload Identity
  charts/probate-back-office/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2412

#2410 Revert "DTSPB-3760 update renovate config"
  build.gradle
  renovate.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2410

#2414 DTSPB-3818-fix-fortify-scan updated readme file to remove launchdarkl…
  README.md
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2414

#2415 DTSPB-3835 Fix CVE-2023-4586
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2415

#2416 NoC - e2e Lint Issues Fix
  README.md
  src/test/end-to-end/pages/noticeOfChange/navigateToNoc.js
  src/test/end-to-end/pages/noticeOfChange/nocConfirmationPage.js
  src/test/end-to-end/pages/noticeOfChange/nocPage1.js
  src/test/end-to-end/pages/noticeOfChange/nocPage2.js
  src/test/end-to-end/pages/noticeOfChange/nocPage3.js
  src/test/end-to-end/paths/solicitor/applyNOCPPToPPGrantOfProbate.js
  src/test/end-to-end/paths/solicitor/pr_specific/applyNOCPPToPPCaveat.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2416

#2373 DTSPB-3756 added CRUD role to caseworker-probate-systemupdate user
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
Labels: ns:probate, prd:probate, add-or-update, rel:probate-back-office-pr-2373

#2418 DTSPB-3841 Fix CVE
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2418

#2420 DTSPB-3841-fix-bo suppress cve for netty
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2420

#2321 DTSPB-1418 update doc tab for pp e2e
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  src/test/end-to-end/pages/caseDetails/grantOfProbate/documentUploadSolTabConfig.json
  src/test/end-to-end/pages/caseProgress/tabDetails.js
  src/test/end-to-end/pages/caseProgressStandard/caseProgressConfig.json
  src/test/end-to-end/pages/caseProgressStopEscalateIssue/caseProgressConfig.json
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/caseprogress/caseProgressReenterPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressStopEscalateIssuePath.js
  src/test/end-to-end/paths/caseprogress/pr_specific/caseProgressStandardPath.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2321

#2377 DTSPB-3694 PostCode Exception
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordCombCitizenPA1A.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordCombCitizenPA1AAutomated.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordCombCitizenPA1P.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordCombCitizenPA1PAutomated.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordCombSolicitorPA1A.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordCombSolicitorPA1AAutomated.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordCombSolicitorPA1P.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordCombSolicitorPA1PAutomated.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordMissingMandatoryPA1A.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordMissingMandatoryPA1P.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordPA1A.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordPA1AAutomated.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordPA1P.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordPA1PAutomated.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordPA1PUnprocessed.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordSolicitorPA1P.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordSolicitorPA1PAutomated.json
  src/functionalTest/resources/json/bulkscan/version2/validation/requestPayload/Post2022PA1PMissingIhtIdentifier.json
  src/functionalTest/resources/json/expectedOCRDataAllInvalidEmailAddress.json
  src/functionalTest/resources/json/expectedOCRDataAllMandatoryFields.json
  src/functionalTest/resources/json/expectedOCRDataMissingMandatoryFields.json
  src/functionalTest/resources/json/expectedOCRDataMissingMandatoryFieldsSolPA1.json
  src/main/java/uk/gov/hmcts/probate/controller/ExceptionRecordController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/GORCitizenMandatoryFields.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/GORSolicitorMandatoryFields.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/IntestacyCitizenMandatoryFields.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/ocr/IntestacySolicitorMandatoryFields.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAddressMapper.java
  src/main/java/uk/gov/hmcts/probate/service/ocr/CCDMandatoryFieldKeys.java
  src/main/java/uk/gov/hmcts/probate/service/ocr/pa1a/PA1ACommonMandatoryFieldsValidator.java
  src/main/java/uk/gov/hmcts/probate/service/ocr/pa1p/PA1PCitizenMandatoryFieldsValidator.java
  src/test/java/uk/gov/hmcts/probate/service/ocr/OCRFieldTestUtils.java
  src/test/java/uk/gov/hmcts/probate/service/ocr/pa1a/PA1ACitizenMandatoryFieldsValidatorTest.java
  src/test/java/uk/gov/hmcts/probate/service/ocr/pa1a/PA1ACommonMandatoryFieldsValidatorTest.java
  src/test/java/uk/gov/hmcts/probate/service/ocr/pa1p/PA1PCitizenMandatoryFieldsValidatorTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2377, enable_keep_helm
