Repository hmcts/probate-back-office, pull requests merged in 2023-02, with the labels that each got.

#2172 Dtspb 3321 new branch
  Jenkinsfile_CNP
  build.gradle
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.preview.template.yaml
  dependency-check-suppressions.xml
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/AssignCaseServiceConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/util/ObjectMapperTestUtil.java
  src/main/java/uk/gov/hmcts/probate/BusinessRulesValidationApplication.java
  src/main/java/uk/gov/hmcts/probate/controller/ExceptionRecordController.java
  src/main/java/uk/gov/hmcts/probate/service/IdamApi.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/LegalStatementExecutorTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/validator/NotificationsExecutorsApplyingValidationRuleTest.java
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2172

#2168 DTSPB-3319 - fix for legacy search bug on prod
  ccdImports/configFiles/CCD_Probate_Legacy_Search/CaseEventToComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/CaseEventToFields.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2168

#2177 Dtspb-3321 cve and autoscaling
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2177

#2136 bump life events client
  build.gradle
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2136

#2118 DTSPB-3264 - Optimise cftlib local setup
  README.md
  bin/variables/load-local-environment-variables.sh
  build.gradle
  src/cftlib/java/uk/gov/hmcts/probate/CftLibConfig.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2118

#2181 Add validation to extra copies >= 0
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2181

#2167 Dtspb 3294 w2 p e2e fix
  Jenkinsfile_CNP
  README.md
  bin/run-e2e-tests-cw.sh
  bin/run-e2e-tests-pr.sh
  bin/run-e2e-tests.sh
  package.json
  src/test/config.js
  src/test/end-to-end/codecept.conf.js
  src/test/end-to-end/helpers/JSWait.js
  src/test/end-to-end/pages/IDAM/signIn.js
  src/test/end-to-end/pages/IDAM/signInShareCase.js
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/copiesTabConfig.json
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/postPaymentReviewTabConfig.json
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/serviceRequestReviewTabConfig.json
  src/test/end-to-end/pages/caseDetails/solicitorApplyProbate/serviceRequestTabConfig.json
  src/test/end-to-end/pages/caseProgress/checkCaseProgressTab.js
  src/test/end-to-end/pages/probateManCaseUrlVerification/probateManCaseUrlVerification.js
  src/test/end-to-end/pages/solicitorApplyCaveat/completeApplication/page1.js
  src/test/end-to-end/pages/solicitorApplyCaveat/completeApplication/page3.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/completeApplication.json
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page6.js
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/page8.js
  src/test/end-to-end/pages/solicitorApplyProbate/makePayment/caveatPaymentPage1.js
  src/test/end-to-end/pages/solicitorApplyProbate/makePayment/makePaymentConfig.json
  src/test/end-to-end/pages/solicitorApplyProbate/makePayment/paymentPage1.js
  src/test/end-to-end/pages/solicitorApplyProbate/makePayment/paymentPage2.js
  src/test/end-to-end/pages/solicitorApplyProbate/makePayment/postPaymentReviewPage.js
  src/test/end-to-end/pages/solicitorApplyProbate/makePayment/reviewPaymentPage.js
  src/test/end-to-end/pages/solicitorApplyProbate/makePayment/viewPaymentStatusPage.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/pages/utility/navigateToCase.js
  src/test/end-to-end/paths/caseprogress/caseProgressReenterPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressStopEscalateIssuePath.js
  src/test/end-to-end/paths/caseprogress/pr_specific/caseProgressStandardPath.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateMultiExecutorEE.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateNoWill.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecNotNamedApplying.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecNotNamedApplyingEE.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateWillLeftAnnexed.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateWillLeftAnnexedEE.js
  src/test/end-to-end/paths/solicitor/pr_specific/applyCaveat.js
  src/test/end-to-end/paths/solicitor/pr_specific/applyGrantOfProbateMultiExecutor.js
  src/test/end-to-end/paths/solicitor/pr_specific/applyGrantOfProbateNoWillEE.js
  src/test/end-to-end/paths/solicitor/pr_specific/applyGrantOfProbateSingleExecutorEE.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2167

#2204 dtspb-3348 speeding up nightly
  package.json
  src/test/end-to-end/codecept.conf.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2204

#2191 DTSPB-3330 Making stopReasonList READONLY when resolving stop
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2191

#2208 DTSPB-3390: cve fixes
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2208

#2201 Dtspb 2928 remove case printed column
  ccdImports/configFiles/CCD_Probate_Backoffice/SearchInputFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/SearchResultFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/WorkBasketResultFields.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2201
