Repository hmcts/probate-back-office, pull requests merged in 2023-01, with the labels that each got.

#2084 DTSPB-3065 Removed probate_backend whitelisting
  dependency-check-suppressions.xml
  docker-compose.yml
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2084

#2107 Dtspb 3230 new cw flow experiance caseworker
  Jenkinsfile_CNP
  bin/add-ccd-roles.sh
  dependency-check-suppressions.xml
  package.json
  src/main/java/uk/gov/hmcts/probate/model/DocumentType.java
  src/main/java/uk/gov/hmcts/probate/service/tasklist/TaskStateRenderer.java
  src/test/config.js
  src/test/end-to-end/legacyE2ePath/caseworker_xui_issues/grantOfProbateSolPath-NonTrust.js
  src/test/end-to-end/legacyE2ePath/caseworker_xui_issues/grantOfProbateSolPath-PaperFormYes.js
  src/test/end-to-end/legacyE2ePath/caseworker_xui_issues/grantOfProbateSolPath.js
  src/test/end-to-end/legacyE2ePath/grantOfProbatePath.js
  src/test/end-to-end/legacyE2ePath/multiuser/gopApplyAsSolAmendAsCw.js
  src/test/end-to-end/pages/documentUpload/documentUpload.js
  src/test/end-to-end/pages/handleEvidence/handleEvidence.js
  src/test/end-to-end/pages/nextStep/nextStep.js
  src/test/end-to-end/pages/nextStep/nextStepConfig.json
  src/test/end-to-end/pages/resolveStop/resolveStop.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/pages/stopCaseProbate/stopCaseProbate.js
  src/test/end-to-end/paths/caseworker/pr_specific/grantOfProbatePathEECwEx.js
  src/test/end-to-end/paths/caseworker/pr_specific/grantOfProbatePathEECwNonEx.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2107

#2125 DTSPB-321: fix sonar code smell
  src/main/java/uk/gov/hmcts/probate/service/DormantCaseService.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2125

#2128 DTSPB-3279 - Configure renovate to create fewer PRs
  .gitignore
  renovate.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2128

#2134 DTSPB-3283: made case match info fields readonly
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEventToComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseEventToComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseEventToFields.json
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2134

#2139 Fix for Nightly E2E Test
  src/test/end-to-end/codecept.conf.js
  src/test/end-to-end/pages/caseMatches/probateManCaseMatches.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2139

#2119 Gradle update from 7.2 to 7.6
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2119

#2143 Dtspb 3286 bo nightly fix 2
  src/test/end-to-end/pages/documentUpload/documentUpload.js
Labels: ns:probate, prd:probate, nightly

#2117 DTSPB-3065 Correct the removal of Probate-backend on local
  dependency-check-suppressions.xml
  docker-compose.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2117

#2150 Adding waitTime
  src/test/end-to-end/pages/caseProgress/checkCaseProgressTab.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2150

#2152 Java chart update
  charts/probate-back-office/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2152

#2160 E2e fix master
  src/test/end-to-end/legacyE2ePath/grantOfProbatePath.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2160

#2155 Dtspb 3298 make will lodgement cm optional
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseEventToComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseEventToFields.json
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2155

#2166 DTSPB-3315 Fix Amend Case Details issue on Ready to Issue State
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2166
