Repository hmcts/probate-back-office, pull requests merged in 2023-08, with the labels that each got.

#2342 DTSPB-3618 Escalation To Registrar
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2342

#2255 DTSPB-2770 add relationship to applicant details tab
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2255

#2358 Dtspb 2849 update puppeteer to playwright
  .gitignore
  package.json
  src/test/end-to-end/codecept.conf.js
  src/test/end-to-end/helpers/JSWait.js
  src/test/end-to-end/helpers/PlaywrightHelper.js
  src/test/end-to-end/pages/caseProgress/checkCaseProgressTab.js
  src/test/end-to-end/pages/documentUpload/documentUpload.js
  yarn-error.log
  yarn.lock
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2358

#2365 DTSPB-2849 - Fix Lint Issues
  src/test/end-to-end/helpers/JSWait.js
  src/test/end-to-end/helpers/PlaywrightHelper.js
  src/test/end-to-end/pages/caseProgress/checkCaseProgressTab.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2365

#2366 DTSPB-3734 opening hours change back office
  src/functionalTest/resources/expected-html/caseprogress/case-escalated-html.txt
  src/functionalTest/resources/expected-html/caseprogress/case-stopped-html.txt
  src/main/java/uk/gov/hmcts/probate/service/tasklist/NoTaskListCaseRenderer.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/EscalatedTaskListRendererTest.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/StoppedTaskListRendererTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2366

#2370 DTSPB-3743 Ordering Application Submitted in Ascending order
  ccdImports/configFiles/CCD_Probate_Backoffice/SearchResultFields.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2370

#2369 Dtspb 3707 moving service request
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseTypeTab.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/fee/SolCcdServiceFeeTests.java
  src/functionalTest/resources/json/caseprogress/04a-caseCreated.json
  src/functionalTest/resources/json/caseprogress/04b-caseCreated.json
  src/functionalTest/resources/json/caseprogress/04c-caseCreated.json
  src/functionalTest/resources/json/caseprogress/04e-caseCreated.json
  src/functionalTest/resources/json/caseprogressadmonwill/04-caseCreated.json
  src/functionalTest/resources/json/caseprogressadmonwill/04a-caseCreated.json
  src/functionalTest/resources/json/caseprogressadmonwill/04b-caseCreated.json
  src/functionalTest/resources/json/caseprogressintestacy/04-caseCreated.json
  src/functionalTest/resources/json/caseprogressintestacy/04a-caseCreated.json
  src/functionalTest/resources/json/caseprogressintestacy/04b-caseCreated.json
  src/functionalTest/resources/json/exceptedEstates/ihtEstateBeforeSwitchDate/caseCreate.json
  src/functionalTest/resources/json/exceptedEstates/ihtEstateCompletedNo/caseCreate.json
  src/functionalTest/resources/json/exceptedEstates/ihtEstateCompletedYes207/caseCreate.json
  src/functionalTest/resources/json/exceptedEstates/ihtEstateCompletedYes400421/caseCreate.json
  src/functionalTest/resources/json/nextsteps/authenticatedTranslation/nextSteps.json
  src/functionalTest/resources/json/nextsteps/tcResolutionLodged/nextsteps.json
  src/functionalTest/resources/json/success.nextsteps-LegalStatementUploaded-PA16.json
  src/functionalTest/resources/json/success.nextsteps-LegalStatementUploaded-PA17.json
  src/functionalTest/resources/json/success.nextsteps-LegalStatementUploaded.json
  src/integrationTest/java/uk/gov/hmcts/probate/controller/CaveatControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/NextStepsControllerIT.java
  src/main/java/uk/gov/hmcts/probate/controller/CaveatController.java
  src/main/java/uk/gov/hmcts/probate/controller/NextStepsController.java
  src/main/java/uk/gov/hmcts/probate/service/tasklist/TaskStateRenderer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaseDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/SolicitorApplicationCompletionTransformer.java
  src/main/java/uk/gov/hmcts/probate/validator/ServiceRequestAlreadyCreatedValidationRule.java
  src/test/java/uk/gov/hmcts/probate/controller/CaveatControllerUnitTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NextStepsUnitTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CaseDataTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/SolicitorApplicationCompletionTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/validator/ServiceRequestAlreadyCreatedValidationRuleTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2369
