Repository hmcts/probate-back-office, pull requests merged in 2023-05, with the labels that each got.

#2296 DTSPB-3550 yarn3 upgrade
  .gitignore
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  build.gradle
  package.json
  yarn.lock
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2296

#2299 DTSPB-3550 Suppress CVE
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2299

#2232 Dtspb 3394 default email notification for grant issue to yes
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2232

#2258 DTSPB-3379 Superuser Amend Dormant Case
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2258

#2302 Dtspb 3449 e2e post grant issue
  src/test/end-to-end/pages/caseProgressStopEscalateIssue/addCaseStoppedAgainReason.js
  src/test/end-to-end/pages/caseProgressStopEscalateIssue/addCaseStoppedReason.js
  src/test/end-to-end/pages/nextStep/nextStepConfig.json
  src/test/end-to-end/paths/caseworker/pr_specific/grantOfProbatePathEECwNonEx.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2302

#2303 DTSPB-3564 e2e Fix for Stop Reason order change
  src/test/end-to-end/pages/caseProgressStopEscalateIssue/addCaseStoppedAgainReason.js
  src/test/end-to-end/pages/caseProgressStopEscalateIssue/addCaseStoppedReason.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2303

#2240 Dtspb 3371
  ccdImports/configFiles/CCD_Probate_Legacy_Search/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/AuthorisationCaseType/AuthorisationCaseType-shutter.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/AuthorisationCaseType/AuthorisationCaseType-unshutter.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/CaseField.json
  src/cftlib/java/uk/gov/hmcts/probate/CftLibConfig.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/dataextract/DataExtractTests.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/DataExtractControllerIT.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/EventId.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2240

#2305 DTSPB-3568 remove extra Find Match Event
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2305

#2291 DTSPB-3503 Application timeliness- PP Back end change
  src/contractTest/resources/application.yml
  src/functionalTest/resources/expected-html/caseprogress/case-stopped-html.txt
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/model/htmltemplate/CaseStoppedHtmlTemplate.java
  src/main/java/uk/gov/hmcts/probate/service/tasklist/StoppedTaskListRenderer.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/tasklist/StoppedTaskListRendererTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2291

#2314 DTSPB-3586 e2e Fix for Share a Case
  src/test/end-to-end/pages/shareCase/shareCaseDelete.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2314

#2316 DTSPB-3596 fix SME Referral state order
  ccdImports/configFiles/CCD_Probate_Backoffice/State.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2316
