Repository hmcts/probate-back-office, pull requests merged in 2023-04, with the labels that each got.

#2267 Update staging mem values.aat.template.yaml
  charts/probate-back-office/values.aat.template.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2267

#2269 Update values.aat.template.yaml
  charts/probate-back-office/values.aat.template.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2269

#2270 Dtspb 3523 update dockerfile
  Dockerfile
  charts/probate-back-office/values.aat.template.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2270

#2273 Revert "Dtspb 3523 update dockerfile (#2270)"
  Dockerfile
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2273

#2227 Dtspb 3404 remove duplicate email
  dependency-check-suppressions.xml
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caveats/SolsBoCaveatsServiceTests.java
  src/functionalTest/resources/json/caveatPayloadNotificationsCTSC.json
  src/functionalTest/resources/json/caveatPayloadNotificationsCTSCNoDOB.json
  src/functionalTest/resources/json/caveatPayloadNotificationsCTSCNoDOBResponse.txt
  src/functionalTest/resources/json/caveatPayloadNotificationsCTSCResponse.txt
  src/integrationTest/java/uk/gov/hmcts/probate/service/NotificationServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/service/notification/TemplateServiceIT.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/service/notification/TemplateService.java
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2227

#2261 DTSPB-3516 Remove Security.sh
  dependency-check-suppressions.xml
  security.sh
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2261

#2182 Dtspb 3202 Ordering of new scanned document types
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  charts/probate-back-office/values.preview.template.yaml
  dependency-check-suppressions.xml
  package.json
  src/integrationTest/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationServiceIT.java
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/service/ExelaCriteriaService.java
  src/main/java/uk/gov/hmcts/probate/service/ReprintService.java
  src/main/java/uk/gov/hmcts/probate/service/ScannedDocumentOrderingService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/SmeeAndFordPersonalisationService.java
  src/main/java/uk/gov/hmcts/probate/service/zip/ZipFileService.java
  src/main/java/uk/gov/hmcts/probate/transformer/ReprintTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerUnitTest.java
  src/test/java/uk/gov/hmcts/probate/service/ExelaCriteriaServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/ReprintTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/service/ScannedDocumentOrderingServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/SmeeAndFordPersonalisationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/zip/ZipFileServiceTest.java
  src/test/resources/scannedDocuments/expectedOrderedScannedDocuments.json
  src/test/resources/scannedDocuments/expectedScannedSupportingDocs.json
  src/test/resources/scannedDocuments/orderedScannedDocuments.json
  src/test/resources/scannedDocuments/unorderedScannedDocuments.json
  src/test/resources/scannedDocuments/unorderedScannedSupportingDocs.json
  src/test/resources/smeeAndFordExpectedData.txt
  src/test/resources/smeeAndFordExpectedDataExtraExecs.txt
  src/test/resources/smeeAndFordExpectedDataNoDocs.txt
  src/test/resources/smeeAndFordExpectedDataNoExecs.txt
  src/test/resources/smeeAndFordExpectedDataWithDelimeters.txt
  yarn.lock
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2182

#2217 Dtspb 3318 clean up state dropdown
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/State.json
  dependency-check-suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressAdmonWillTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressGopTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressIntestacyTests.java
  src/main/java/uk/gov/hmcts/probate/model/ApplicationState.java
  src/main/java/uk/gov/hmcts/probate/model/StateConstants.java
  src/main/java/uk/gov/hmcts/probate/model/caseprogress/TaskListState.java
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/test/end-to-end/pages/caseProgress/selectPenultimateNextStepAndGo.js
  src/test/end-to-end/paths/caseprogress/pr_specific/caseProgressStandardPath.js
  src/test/java/uk/gov/hmcts/probate/model/caseprogress/TaskListConstantsTest.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/DefaultTaskListRendererTest.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/TaskListRendererFactoryTest.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/TaskListUpdateServiceTest.java
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2217

#2282 DTSPB-3532 Suppress Security scan vulnerabilities after Remove securi…
  audit.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2282

#2262 DTSPB-3351 Shutter Prod EXUI
  Jenkinsfile_CNP
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2262

#2257 DTSPB-3208 Caveat email content changes
  dependency-check-suppressions.xml
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caveats/SolsBoCaveatsServiceTests.java
  src/functionalTest/resources/json/caveat/caveatSolicitorValidate.json
  src/functionalTest/resources/json/caveatPayloadNoDOBResponse.txt
  src/functionalTest/resources/json/caveatPayloadNotificationsResponse.txt
  src/functionalTest/resources/json/caveatPayloadNotificationsSolicitorNoDOBResponse.txt
  src/functionalTest/resources/json/caveatPayloadNotificationsSolicitorNoDOBWelshResponse.txt
  src/functionalTest/resources/json/caveatPayloadNotificationsSolicitorResponse.txt
  src/functionalTest/resources/json/caveatPayloadNotificationsSolicitorResponseWelsh.txt
  src/functionalTest/resources/json/caveatSolicitorValidateResponse.txt
  src/functionalTest/resources/json/caveatSolicitorValidateResponseNoDOB.txt
  src/integrationTest/java/uk/gov/hmcts/probate/service/NotificationServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/service/notification/CaveatPersonalisationServiceIT.java
  src/main/java/uk/gov/hmcts/probate/service/notification/CaveatPersonalisationService.java
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2257

#2288 DTSPB-3518 Shutter Prod EXUI
  Jenkinsfile_CNP
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2288

#2294 DTSPB-3518 unshutter Prod EXUI
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2294

#2295 DTSPB-3518 unshutter Prod EXUI
  Jenkinsfile_CNP
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2295

#2292 DTSPB-3549 bugfix compare to nearest millisecond as we only store to …
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/probate/service/ccd/CcdClientApi.java
  src/test/java/uk/gov/hmcts/probate/service/ccd/CcdClientApiTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2292
