Repository hmcts/probate-back-office, pull requests merged in 2023-07, with the labels that each got.

#2345 DTSPB-2954 e2e Fix W2P
  src/test/end-to-end/pages/caseProgress/checkCaseProgressTab.js
  src/test/end-to-end/pages/solicitorApplyProbate/makePayment/viewPaymentStatusPage.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2345

#2278 DTSPB-3437 Delete Duplicate Caveat Welsh Confirmation Email
  src/contractTest/resources/application.yml
  src/integrationTest/java/uk/gov/hmcts/probate/service/NotificationServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/service/notification/TemplateServiceIT.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/service/notification/TemplateService.java
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2278

#2327 DTSPB-3522 test change
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/GrantGenerationTests.java
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/digitalGrantReissue.html
  src/main/resources/templates/pdf/digitalGrantReissueDraft.html
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2327

#2216 DTSPB-3432
  Jenkinsfile_CNP
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2216

#2334 DTSPB-3602 Welsh Caveat raised changes
  src/contractTest/resources/application.yml
  src/functionalTest/resources/json/caveatPayloadNoDOBWelshResponse.txt
  src/functionalTest/resources/json/caveatPayloadNotificationsWelshResponse.txt
  src/integrationTest/java/uk/gov/hmcts/probate/service/NotificationServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/service/notification/CaveatPersonalisationServiceIT.java
  src/main/java/uk/gov/hmcts/probate/service/notification/CaveatPersonalisationService.java
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2334

#2352 DTSPB-3696-Adding optional to Import and valid
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToComplexTypes.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2352

#2348 DTSPB-3652 Hide Columns From Find result Screen
  ccdImports/configFiles/CCD_Probate_Backoffice/SearchResultFields.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2348
