Repository hmcts/probate-back-office, pull requests merged in 2023-12, with the labels that each got.

#2443 DTSPB-3899 remove fortify
  Jenkinsfile_nightly
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2443

#2438 point prod to use new DB after migration
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2438

#2452 update suppressions
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2452

#2453 DTSPB-3928 update the auth checker lib
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2453

#2447 DTSPB-3914 update the cmd pdf service
  build.gradle
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/PdfGeneratorServiceConsumerTest.java
  src/main/java/uk/gov/hmcts/probate/config/PDFServiceConfiguration.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2447

#2450 DTSPB-3925 update service auth client
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2450

#2451 Fix NOC and SAC e2e
  src/test/config.js
  src/test/end-to-end/helpers/JSWait.js
  src/test/end-to-end/pages/shareCase/shareCaseSelection.js
  src/test/end-to-end/pages/shareCase/verifyShareCase.js
  src/test/end-to-end/pages/utility/navigateToCase.js
  src/test/end-to-end/paths/solicitor/applyNOCPPToPPGrantOfProbate.js
  src/test/end-to-end/paths/solicitor/pr_specific/applyNOCPPToPPCaveat.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2451

#2456 DTSPB-3938 updated the ccd client
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2456
