Repository hmcts/probate-back-office, pull requests merged in 2023-06, with the labels that each got.

#2318 Dtspb 3594 add show event notes
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Legacy_Search/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Standing_Search/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Will_Lodgement/CaseEvent.json
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2318

#2277 DTSPB-3449 Post Grant issue changes
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/State.json
  src/main/java/uk/gov/hmcts/probate/service/CaseQueryService.java
  src/main/resources/templates/elasticsearch/caseMatching/dormant_date_range_query.json
  src/main/resources/templates/elasticsearch/caseMatching/grants_issued_date_range_query_exela.json
  src/main/resources/templates/elasticsearch/caseMatching/grants_issued_date_range_query_hmrc.json
  src/test/end-to-end/pages/nextStep/nextStepConfig.json
  src/test/end-to-end/paths/caseworker/pr_specific/grantOfProbatePathEECwNonEx.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2277

#2324 DTSPB-3617 address CVE-2023-20883
  build.gradle
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2324

#2322 DTSPB-3614 WillLodgement generate deposit receipt NPE fix
  Jenkinsfile_CNP
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/probate/model/ccd/willlodgement/request/WillLodgementData.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/willlodgement/request/WillLodgementDataTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2322

#2325 DTSPB-3619 add timeout config to functional test failing on pipelines
  src/functionalTest/java/uk/gov/hmcts/probate/functional/IntegrationTestBase.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2325

#2326 DTSPB-3622 add cherished DocumentType so removal works
  src/main/java/uk/gov/hmcts/probate/model/DocumentType.java
  src/test/java/uk/gov/hmcts/probate/service/DocumentGeneratorServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2326

#2253 Dtspb 3438 2 superuser change case state
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/solicitorPayloadChangeCaseState.json
  src/integrationTest/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerIT.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/validator/ChangeToSameStateValidationRule.java
  src/main/resources/ValidationMessages.properties
  src/test/config.js
  src/test/end-to-end/pages/IDAM/signInSuperUser.js
  src/test/end-to-end/pages/changeState/changeState.js
  src/test/end-to-end/pages/nextStep/nextStepConfig.json
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/caseworker/pr_specific/grantOfProbatePathEECwEx.js
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/validator/ChangeToSameStateValidationRuleTest.java
  src/test/resources/solicitorPayloadChangeCaseStateForCaseMatchingIssueGrant.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2253

#2330 Revert "Dtspb 3438 2 superuser change case state"
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/solicitorPayloadChangeCaseState.json
  src/integrationTest/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerIT.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/validator/ChangeToSameStateValidationRule.java
  src/main/resources/ValidationMessages.properties
  src/test/config.js
  src/test/end-to-end/pages/IDAM/signInSuperUser.js
  src/test/end-to-end/pages/changeState/changeState.js
  src/test/end-to-end/pages/nextStep/nextStepConfig.json
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/caseworker/pr_specific/grantOfProbatePathEECwEx.js
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/validator/ChangeToSameStateValidationRuleTest.java
  src/test/resources/solicitorPayloadChangeCaseStateForCaseMatchingIssueGrant.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2330

#2331 Dtspb 3438 3 superuser change case state
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/solicitorPayloadChangeCaseState.json
  src/integrationTest/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerIT.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/validator/ChangeToSameStateValidationRule.java
  src/main/resources/ValidationMessages.properties
  src/test/config.js
  src/test/end-to-end/pages/IDAM/signInSuperUser.js
  src/test/end-to-end/pages/changeState/changeState.js
  src/test/end-to-end/pages/nextStep/nextStepConfig.json
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/caseworker/pr_specific/grantOfProbatePathEECwEx.js
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/validator/ChangeToSameStateValidationRuleTest.java
  src/test/resources/solicitorPayloadChangeCaseStateForCaseMatchingIssueGrant.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2331

#2332 DTSPB-3632 Trun off Superuser E2E Test
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/test/config.js
  src/test/end-to-end/pages/IDAM/signInSuperUser.js
  src/test/end-to-end/pages/changeState/changeState.js
  src/test/end-to-end/pages/nextStep/nextStepConfig.json
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/caseworker/pr_specific/grantOfProbatePathEECwEx.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2332

#2339 DTSPB-3644 upgrade guava
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2339
