Repository hmcts/probate-back-office, pull requests merged in 2023-11, with the labels that each got.

#2421 DTSPB-3809 data feed with executor name
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/BaseFileService.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2421

#2424 update azurerm version
  infrastructure/state.tf
Labels: ns:probate, prd:probate, add-or-update, rel:probate-back-office-pr-2424

#2426 DTSPB-3852 upgrade java logging
  build.gradle
  src/main/java/uk/gov/hmcts/probate/config/EvidenceManagementRestTemplate.java
Labels: ns:probate, prd:probate, add-or-update, rel:probate-back-office-pr-2426

#2422 DTSPB-3628 update health checks to sampling only
  lib/applicationinsights.json
Labels: ns:probate, prd:probate, nightly, enable_keep_helm, rel:probate-back-office-pr-2422

#2419 Dtspb 3838 data field name
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputError.json
  src/integrationTest/java/uk/gov/hmcts/probate/controller/ExceptionRecordControllerIT.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ExceptionRecordCaveatMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ExceptionRecordGrantOfRepresentationMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAdditionalExecutorsNotApplyingMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAddressMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAdoptiveRelativesMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldDefaultLocalDateFieldMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldIhtFormCompletedOnlineMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldIhtFormTypeMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldIhtMoneyMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldMartialStatusMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldNumberMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldPaymentMethodMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldSolicitorWillTypeMapper.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldYesOrNoMapper.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAdditionalExecutorsNotApplyingMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAddressMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldAdoptiveRelativesMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldDefaultLocalDateFieldMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldIhtMoneyMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldMartialStatusMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldNumberMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldPaymentMethodMapperTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldYesOrNoMapperTest.java
Labels: ns:probate, prd:probate, add-or-update, enable_keep_helm, rel:probate-back-office-pr-2419

#2428 DTSPB-3866 fix munged caveatReference
  src/main/java/uk/gov/hmcts/probate/service/ccd/CcdReferenceFormatterService.java
  src/test/java/uk/gov/hmcts/probate/service/ccd/CcdReferenceFormatterServiceTest.java
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2428

#2378 DTSPB-3683 Remove DOB From CW Caveats Applicaiton
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEventToFields.json
  src/caseCreator/resources/json/create.caveat.pa.ccd.json
  src/test/end-to-end/pages/caseDetails/caveat/caseMatchesTabConfig.json
  src/test/end-to-end/pages/caseDetails/caveat/deceasedDetailsTabConfig.json
  src/test/end-to-end/pages/caseDetails/caveat/deceasedDetailsTabUpdateConfig.json
  src/test/end-to-end/pages/createCaveat/createCaveatConfig.json
  src/test/end-to-end/pages/createCaveat/page2.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2378

#2436 provision v15 probatemandb on AAT and Prod
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:probate, prd:probate, add-or-update, rel:probate-back-office-pr-2436

#2434 DTSPB-3821 set Admon Will CaseType for PP BulkScan
  dependency-check-suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/probate/controller/ExceptionRecordControllerIT.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/ExceptionRecordService.java
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldSolicitorWillTypeMapper.java
  src/test/end-to-end/pages/caseProgressStopEscalateIssue/addResolveStopDetails.js
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/ExceptionRecordServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/OCRFieldSolicitorWillTypeMapperTest.java
  src/test/resources/expectedExceptionRecordDataSolicitorSingleExecutorAdmonWillPA1P.json
Labels: ns:probate, prd:probate, destroy, rel:probate-back-office-pr-2434

#2437 force envs to run user permission script
  dependency-check-suppressions.xml
  infrastructure/main.tf
Labels: ns:probate, prd:probate, destroy, rel:probate-back-office-pr-2437
