Repository hmcts/probate-back-office, pull requests merged in 2024-10, with the labels that each got.

#2715 Dtspb 4335 lev handoff failed
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  src/integrationTest/java/uk/gov/hmcts/probate/controller/LifeEventCCDIntegrationIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/LifeEventControllerIT.java
  src/main/java/uk/gov/hmcts/probate/controller/LifeEventController.java
  src/main/java/uk/gov/hmcts/probate/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/probate/service/LifeEventCCDService.java
  src/test/java/uk/gov/hmcts/probate/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/probate/service/LifeEventCCDServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2715

#2763 DTSPB-4266 citizen hub caseworker journey
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
  src/functionalTest/resources/json/personalPayloadNotifications.json
  src/integrationTest/java/uk/gov/hmcts/probate/controller/NotificationControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/service/NotificationServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/service/notification/TemplateServiceIT.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/probate/service/InformationRequestCorrespondenceService.java
  src/main/java/uk/gov/hmcts/probate/service/InformationRequestService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/TemplateService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/DocumentGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/InformationRequestCorrespondenceServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/InformationRequestServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2763

#2692 DTSPB-4295: Add new name diff reasons
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/AdditionalExecutorApplying.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2692

#2714 DTSPB-4345 Fix Alias Name bug
  src/contractTest/resources/application.yml
  src/functionalTest/resources/json/expectedDocumentGrantAdmonWillWelsh.txt
  src/functionalTest/resources/json/expectedDocumentGrantGOPWelsh.txt
  src/functionalTest/resources/json/expectedDocumentGrantIntestacyWelsh.txt
  src/functionalTest/resources/json/expectedDocumentGrantWithExecutorGOPWelsh.txt
  src/functionalTest/resources/json/expectedDocumentReissueAdmonWillWelsh.txt
  src/functionalTest/resources/json/expectedDocumentReissueIntestacyWelsh.txt
  src/functionalTest/resources/json/expectedPersonalDocumentAdmonWillReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentGrantReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentGrantReissuedNameDoubleBarrelled.txt
  src/functionalTest/resources/json/expectedPersonalDocumentGrantReissuedNameWithApostrophe.txt
  src/functionalTest/resources/json/expectedPersonalDocumentIntestacyReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshAdmonWillReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissuedNameDoubleBarrelled.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissuedNameWithApostrophe.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshIntestacyReissued.txt
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, enable_keep_helm, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2714

#2787 DTSPB-3185: Bump welsh SOT to match updated docmosis doc
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2787

#2773 DTSPB-4307: Update request information notify IDs
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2773

#2783 DTSPB-4384 Modify concealment used for values in logs.
  src/main/java/uk/gov/hmcts/probate/service/EmailValidationService.java
  src/main/java/uk/gov/hmcts/probate/service/EmailWithFileService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationClientService.java
  src/test/java/uk/gov/hmcts/probate/service/EmailWithFileServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2783

#2778 DTSPB-4380 Update markdown filtering
  build.gradle
  src/main/java/uk/gov/hmcts/probate/service/MarkdownValidatorService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/validator/PersonalisationValidationRule.java
  src/test/java/uk/gov/hmcts/probate/service/MarkdownValidatorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/validator/PersonalisationValidationRuleTest.java
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2778

#2817 DTSPB-4406 Alter markdown filtering to permit 'html-like' entities
  src/main/java/uk/gov/hmcts/probate/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/probate/service/MarkdownValidatorService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/validator/PersonalisationValidationRule.java
  src/test/java/uk/gov/hmcts/probate/service/MarkdownValidatorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/validator/PersonalisationValidationRuleTest.java
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2817

#2815 DTSPB-4054 | Updated E2E Test for Case Progress Tab
  src/test/end-to-end/pages/caseProgress/checkCaseProgressTab.js
Labels: ns:probate, prd:probate, nightly, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2815

#2834 Fix lint issue in CheckCaseProgressTab.js
  src/test/end-to-end/pages/caseProgress/checkCaseProgressTab.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2834

#2811 update controller with new make dormant method
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  src/integrationTest/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerIT.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2811
