Repository hmcts/probate-back-office, pull requests merged in 2024-09, with the labels that each got.

#2688 Dtspb 4332 fix net value
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2688

#2703 DTSPB-4310: Remove code related to short term inactive/dormant cases fix
  src/contractTest/resources/application.yml
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/AuditEvent.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/AuditEventsResponse.java
  src/main/java/uk/gov/hmcts/probate/schedule/DataMigrationIssueDormantCasesTask.java
  src/main/java/uk/gov/hmcts/probate/service/AuditEventService.java
  src/main/java/uk/gov/hmcts/probate/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/probate/service/MigrationIssueDormantCaseService.java
  src/main/java/uk/gov/hmcts/probate/service/ccd/CcdClientApi.java
  src/main/java/uk/gov/hmcts/probate/service/client/CaseDataApiV2.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/schedule/DataMigrationIssueDormantCasesTaskTest.java
  src/test/java/uk/gov/hmcts/probate/service/AuditEventServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/MigrationIssueDormantCaseServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/ccd/CcdClientApiTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2703

#2651 DTSPB-4201 change email to welsh
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
  src/functionalTest/resources/json/digitalApplicationRecievedExpectedResonseWelsh.txt
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2651

#2691 DTSPB-4189 fix codicil wording for pa digital
  src/contractTest/resources/application.yml
  src/functionalTest/resources/json/expectedDocumentGrantAdmonWillWelsh.txt
  src/functionalTest/resources/json/expectedDocumentGrantGOPWelsh.txt
  src/functionalTest/resources/json/expectedDocumentGrantIntestacyWelsh.txt
  src/functionalTest/resources/json/expectedDocumentGrantWithExecutorGOPWelsh.txt
  src/functionalTest/resources/json/expectedDocumentReissueAdmonWillWelsh.txt
  src/functionalTest/resources/json/expectedDocumentReissueIntestacyWelsh.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshAdmonWillReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissuedNameDoubleBarrelled.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissuedNameWithApostrophe.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshIntestacyReissued.txt
  src/main/resources/application.yml
  src/main/resources/templates/pdf/admonWillGrant.html
  src/main/resources/templates/pdf/admonWillGrantDraft.html
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/digitalGrantReissue.html
  src/main/resources/templates/pdf/digitalGrantReissueDraft.html
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2691

#2621 DTSPB-4236 added esclated to registrar functionality .
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseState.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/State.json
  src/main/resources/templates/elasticsearch/caseMatching/dormant_date_range_query.json
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2621

#2716 DTSPB-4356 Reset ExceptedEstateFields for NA not IhtFormEstate
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaseDataTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CaseDataTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2716

#2755 Fix Document Type in the FixedLists.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2755
