Repository hmcts/probate-back-office, pull requests merged in 2024-01, with the labels that each got.

#2445 DTSPB-3907 updated the hmrc client letter library
  build.gradle
Labels: ns:probate, prd:probate, nightly, enable_keep_helm, rel:probate-back-office-pr-2445

#2465 Decommission v11 postgres db
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:probate, prd:probate, destroy, rel:probate-back-office-pr-2465

#2439 DTSPB-3892 removethe extra section of code
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombSolicitorPA1A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombSolicitorPA1P.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputSolicitorPA1P.json
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2439

#2475 Test ft2
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2475

#2477 update template for welsh grants
  src/contractTest/resources/application.yml
  src/functionalTest/resources/json/expectedDocumentGrantAdmonWillWelsh.txt
  src/functionalTest/resources/json/expectedDocumentGrantGOPWelsh.txt
  src/functionalTest/resources/json/expectedDocumentGrantIntestacyWelsh.txt
  src/functionalTest/resources/json/expectedDocumentGrantWithExecutorGOPWelsh.txt
  src/functionalTest/resources/json/expectedDocumentReissueAdmonWillWelsh.txt
  src/functionalTest/resources/json/expectedDocumentReissueGOPWelsh.txt
  src/functionalTest/resources/json/expectedDocumentReissueIntestacyWelsh.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshAdmonWillReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissuedNameDoubleBarrelled.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissuedNameWithApostrophe.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshIntestacyReissued.txt
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2477

#2464 Dtspb 3783 shutter ex UI
  Jenkinsfile_CNP
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseType/AuthorisationCaseType-shutter.json
  src/functionalTest/empty/uk/gov/hmcts/probate/functional/IntegrationTestBase.java
  src/functionalTest/empty/uk/gov/hmcts/probate/functional/SolCCDServiceAuthTokenGenerator.java
  src/functionalTest/empty/uk/gov/hmcts/probate/functional/TestContextConfiguration.java
  src/functionalTest/empty/uk/gov/hmcts/probate/functional/bulkscanning/BulkScanPA1FormV2OCRTransformationTests.java
  src/functionalTest/empty/uk/gov/hmcts/probate/functional/model/ClientAuthorizationCodeResponse.java
  src/functionalTest/empty/uk/gov/hmcts/probate/functional/model/ClientAuthorizationResponse.java
  src/functionalTest/empty/uk/gov/hmcts/probate/functional/util/FunctionalTestUtils.java
Labels: ns:probate, prd:probate, add-or-update, enable_keep_helm, rel:probate-back-office-pr-2464

#2482 Dtspb 3783 ft back
  build.gradle
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2482

#2484 e2e - Fix Lint errors post IHT Release
  src/test/end-to-end/pages/caseMatches/probateManCaseMatches.js
  src/test/end-to-end/pages/ihtPages/ihtPage2.js
  src/test/end-to-end/pages/solicitorApplyProbate/deceasedDetails/page2.js
  src/test/end-to-end/paths/caseworker/pr_specific/grantOfProbatePathEECwNonEx.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2484

#2485 e2e - Fix Probate Man Case Match
  src/test/end-to-end/pages/caseDetails/grantOfProbate/caseDetailsTabConfigProbateMan.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2485

#2432 Dtspb 3861 remove dob caveat
  dependency-check-suppressions.xml
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordCombCitizenPA8Av2.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordCombCitizenPA8Av2Automated.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordCombSolicitorPA8A.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordCombSolicitorPA8AAutomated.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordError.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordErrorAutomated.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordPA8A.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordPA8AAutomated.json
  src/functionalTest/resources/json/bulkScanTransformExceptionRecordPA8Av2.json
  src/functionalTest/resources/json/bulkScanTransformSolicitorExceptionRecordError.json
  src/functionalTest/resources/json/bulkScanTransformSolicitorExceptionRecordErrorAutomated.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombCitizenPA8Av2.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputCombSolicitorPA8A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA8A.json
  src/functionalTest/resources/json/expectedBulkScanTransformExceptionRecordOutputPA8Av2.json
  src/main/java/uk/gov/hmcts/probate/service/exceptionrecord/mapper/ExceptionRecordCaveatMapper.java
  src/test/resources/expectedExceptionRecordDataCitizenPA8A.json
  src/test/resources/expectedExceptionRecordDataSolicitorPA8A.json
Labels: ns:probate, prd:probate, destroy, enable_keep_helm, rel:probate-back-office-pr-2432

#2372 Dtspb 3589 exception handler
  src/contractTest/java/uk/gov/hmcts/probate/service/consumer/FeesRegisterConsumerTest.java
  src/main/java/uk/gov/hmcts/probate/exception/SocketException.java
  src/main/java/uk/gov/hmcts/probate/exception/handler/DefaultExceptionHandler.java
  src/main/java/uk/gov/hmcts/probate/service/fee/FeeService.java
  src/test/java/uk/gov/hmcts/probate/exception/handler/DefaultExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/probate/service/fee/FeeServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2372, enable_keep_helm

#2487 e2e - Fix Case Progress tests
  src/test/end-to-end/pages/caseProgress/checkCaseProgressTab.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-2487

#2467 DTSPB-3585 Fix Resend IM Spurious error message
  src/functionalTest/java/uk/gov/hmcts/probate/functional/dataextract/DataExtractTests.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/DataExtractControllerIT.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
Labels: ns:probate, prd:probate, add-or-update, enable_keep_helm, rel:probate-back-office-pr-2467
