Repository hmcts/probate-back-office, pull requests merged in 2024-02, with the labels that each got.

#2446 Dtspb 3656 include alias caveat
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/casematching/CaseData.java
  src/main/java/uk/gov/hmcts/probate/service/CaseMatchBuilderService.java
  src/main/java/uk/gov/hmcts/probate/service/CaseMatchingService.java
  src/main/resources/templates/elasticsearch/caseMatching/aliases_to_aliases_list_sub_query.json
  src/main/resources/templates/elasticsearch/caseMatching/main_query.json
  src/test/java/uk/gov/hmcts/probate/service/CaseMatchBuilderServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaseMatchingServiceTest.java
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2446

#2496 DTSPB-3656 Suppress CVE
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2496

#2493 DTSPB-4024 Changed Telephone Timings
  src/functionalTest/resources/expected-html/caseprogress/case-escalated-html.txt
  src/functionalTest/resources/expected-html/caseprogress/case-stopped-html.txt
  src/main/java/uk/gov/hmcts/probate/service/tasklist/NoTaskListCaseRenderer.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/EscalatedTaskListRendererTest.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/StoppedTaskListRendererTest.java
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2493

#2483 DTSPB-3948 SME Referral in Awaiting Documentation
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2483

#2471 update hmrc job to include iht400
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/HmrcFileService.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/HmrcFileServiceTest.java
  src/test/resources/expectedGeneratedFiles/hmrcPersonalAfterIht.txt
  src/test/resources/expectedGeneratedFiles/hmrcPersonalAfterIhtEstateEmpty.txt
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2471

#2500 Dtspb 3936 channel choice notifications
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/resources/json/grantRaisedPaperBulkScanPayload.json
  src/functionalTest/resources/json/grantRaisedPaperBulkScanPayloadWelsh.json
  src/functionalTest/resources/json/grantRaisedPaperBulkScanSolicitorPayload.json
  src/functionalTest/resources/json/grantRaisedPaperBulkScanSolicitorPayloadWelsh.json
  src/functionalTest/resources/json/paperApplicationRecievedCitizenFromCaseworkerPayload.json
  src/integrationTest/java/uk/gov/hmcts/probate/service/NotificationServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/service/notification/TemplateServiceIT.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/TemplateService.java
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2500
