Repository hmcts/probate-back-office, pull requests merged in 2024-05, with the labels that each got.

#2564 DTSPB-4085 - e2e test config file changes for increase in Probate fees
  src/test/end-to-end/pages/createGrantOfProbate/createGrantOfProbateConfig.json
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/createGrantOfProbateConfig-NonTrust.json
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/createGrantOfProbateConfig-PaperFormYes.json
  src/test/end-to-end/pages/createGrantOfProbateSolicitor/createGrantOfProbateConfig.json
  src/test/end-to-end/pages/solicitorApplyProbate/completeApplication/completeApplication.json
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2564

#2570 DTSPB-4085 Fee increase for Functional test
  src/functionalTest/java/uk/gov/hmcts/probate/functional/fee/SolCcdServiceFeeTests.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2570

#2542 DTSPB-4092 IHT Change on Full Amend Case
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2542

#2557 DTSPB-3933 Shutter EXUI
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/empty/uk/gov/hmcts/probate/functional/SolCCDServiceAuthTokenGenerator.java
  src/functionalTest/empty/uk/gov/hmcts/probate/functional/util/FunctionalTestUtils.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2557

#2579 DTSPB-3993 turn on the functional test
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2579

#2558 Dtspb 3993 unshutter ex UI
  Jenkinsfile_CNP
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2558

#2508 DTSPB-4071 Case progress tab to update update correctly for certain e…
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2508
