Repository hmcts/probate-back-office, pull requests merged in 2024-12, with the labels that each got.

#2836 DTSBP-4387 Clear primaryApplicant fields when changing from None of These to another titleAndClearingType
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaseDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/SolicitorApplicationCompletionTransformer.java
  src/main/resources/logback-test.xml
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/ExecutorsTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/SolicitorApplicationCompletionTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2836

#2905 RFI generated document bug fix
  src/integrationTest/java/uk/gov/hmcts/probate/service/NotificationServiceIT.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2905

#2855 DTSPB-4281 Add Handoff flag & Reason in Case Details Tab
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2855

#2867 DTSPB-4242 search for caseworker author name
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/SearchInputFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/SearchResultFields.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/businessvalidation/SolCcdServiceBusinessValidationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/CaseProgressTestsBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressAdmonWillTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressGopTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/caseprogress/SolCcdCaseProgressIntestacyTests.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/CaseMatchingControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/DocumentControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/LifeEventControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/NotificationControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/TaskListControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/service/DocumentsReceivedNotificationServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/service/RaiseGrantOfRepresentationNotificationServiceIT.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/controller/CaseMatchingController.java
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/controller/LifeEventController.java
  src/main/java/uk/gov/hmcts/probate/controller/NextStepsController.java
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/probate/controller/PaymentController.java
  src/main/java/uk/gov/hmcts/probate/controller/TaskListController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CallbackRequest.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentsReceivedNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/InformationRequestService.java
  src/main/java/uk/gov/hmcts/probate/service/LifeEventCallbackResponseService.java
  src/main/java/uk/gov/hmcts/probate/service/RaiseGrantOfRepresentationNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/RedeclarationNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/ReprintService.java
  src/main/java/uk/gov/hmcts/probate/service/user/UserInfoService.java
  src/main/java/uk/gov/hmcts/probate/service/user/UserInfoServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/controller/CaseMatchingControllerUnitTest.java
  src/test/java/uk/gov/hmcts/probate/controller/DocumentControllerUnitTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NextStepsUnitTest.java
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerUnitTest.java
  src/test/java/uk/gov/hmcts/probate/controller/PaymentControllerUnitTest.java
  src/test/java/uk/gov/hmcts/probate/service/InformationRequestServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/LifeEventCallbackResponseServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/RedeclarationNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/ReprintServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/user/UserInfoServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2867

#2896 DTSPB-4241 Clear ihtFormId / ihtFormEstated by Deceased DoD
  src/integrationTest/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/TaskListControllerIT.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/controller/TaskListController.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaseDataTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CaseDataTransformerTest.java
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2896

#2918 DTSPB-4450 make callbacks thread-safe
  src/main/java/uk/gov/hmcts/probate/service/ExecutorsApplyingNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/ExelaCriteriaService.java
  src/main/java/uk/gov/hmcts/probate/service/InformationRequestCorrespondenceService.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2918

#2870 Dtspb 4329 reasons for registrar escalation
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  ccdImports/configFiles/CCD_Probate_Backoffice/SearchInputFields.json
  src/main/java/uk/gov/hmcts/probate/model/RegistrarEscalateReason.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2870

#2926 DTSPB-4373 Send Sealed and Certified Email
  Jenkinsfile_CNP
  charts/probate-back-office/Chart.yaml
  charts/probate-back-office/values.preview.template.yaml
  charts/probate-back-office/values.yaml
  src/integrationTest/java/uk/gov/hmcts/probate/controller/DocumentControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/service/NotificationServiceIT.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailAddresses.java
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/controller/NotificationControllerUnitTest.java
  src/test/resources/payloadWithBulkPrint.json
  src/test/resources/payloadWithLocalPrint.json
  src/test/resources/personalPayloadNotificationsGrantIntestacy.json
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2926
