Repository hmcts/probate-back-office, pull requests merged in 2024-03, with the labels that each got.

#2503 DTSPB-4063 Document send fix for IHT400
  src/main/java/uk/gov/hmcts/probate/service/tasklist/TaskStateRenderer.java
  src/test/java/uk/gov/hmcts/probate/service/tasklist/TaskStateRendererTest.java
  src/test/resources/caseprogress/gop/solicitorCaseProgressSendDocumentsIHT400
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2503

#2518 DTSPB-4084 update PDF Box
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/probate/functional/checkyouranswers/SolCcdServiceCheckYourAnswersTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/util/FunctionalTestUtils.java
  src/functionalTest/resources/json/expectedPersonalDocumentWelshAdmonWillReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissuedNameDoubleBarrelled.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissuedNameWithApostrophe.txt
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2518

#2490 DTSPB-4008 IHT content changes
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/functionalTest/resources/json/solicitorPDFPayloadAdmonWill.json
  src/functionalTest/resources/json/solicitorPDFPayloadAdmonWillWithMultipleCodicils.json
  src/functionalTest/resources/json/solicitorPDFPayloadAdmonWillWithOneCodicil.json
  src/functionalTest/resources/json/solicitorPDFPayloadIntestacy.json
  src/integrationTest/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerIT.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/InheritanceTax.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CCDDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaseDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/validator/IHTValidationRule.java
  src/main/java/uk/gov/hmcts/probate/validator/UniqueCodeValidationRule.java
  src/main/resources/ValidationMessages.properties
  src/test/end-to-end/pages/caseProgressAppStopped/caseProgressConfig.json
  src/test/end-to-end/pages/caseProgressStandard/caseProgressConfig.json
  src/test/end-to-end/pages/caseProgressStopEscalateIssue/caseProgressConfig.json
  src/test/end-to-end/pages/createGrantOfProbateManual/createGrantOfProbateManualConfig.json
  src/test/end-to-end/pages/solicitorApplyProbate/deceasedDetails/deceasedDetailsConfig.json
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CaseDataTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/validator/IHTValidationRuleTest.java
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2490

#2527 Add Zero to IHT values validation
  src/main/java/uk/gov/hmcts/probate/validator/IHTValidationRule.java
  src/test/java/uk/gov/hmcts/probate/validator/IHTValidationRuleTest.java
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2527

#2526 e2e - Crossbrowser tests for BO nightly
  src/test/end-to-end/pages/ihtPages/ihtPage3.js
  src/test/end-to-end/paths/caseprogress/caseProgressApplicationStoppedPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressReenterPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressStopEscalateIssuePath.js
  src/test/end-to-end/paths/caseprogress/pr_specific/caseProgressStandardPath.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateNoWill.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecNotNamedApplying.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecNotNamedApplyingEE.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateSingleExecutor.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateWillLeftAnnexed.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateWillLeftAnnexedEE.js
  src/test/end-to-end/paths/solicitor/applyGrantOfProbateWillLeftAnnexedFailure.js
  src/test/end-to-end/paths/solicitor/pr_specific/applyGrantOfProbateSingleExecutorEE.js
  src/test/end-to-end/paths/solicitor/pr_specific/applyNOCPPToPPGrantOfProbate.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2526

#2529 e2e Lint fix
  src/test/end-to-end/pages/ihtPages/ihtPage3.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2529
