Repository hmcts/probate-back-office, pull requests merged in 2024-08, with the labels that each got.

#2606 DTSPB-4161 Removing pence from Legal statement and Grant document
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/checkyouranswers/SolCcdServiceCheckYourAnswersTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/GrantGenerationTests.java
  src/functionalTest/resources/json/admonWillGrantDraftForCardiffResponse.txt
  src/functionalTest/resources/json/admonWillGrantForCardiffResponse.txt
  src/functionalTest/resources/json/brightonGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/bristolGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/exceptedEstates/ihtEstateBeforeSwitchDate/expectedLegalStatement.txt
  src/functionalTest/resources/json/exceptedEstates/ihtEstateCompletedNo/expectedLegalStatement.txt
  src/functionalTest/resources/json/exceptedEstates/ihtEstateCompletedYes207/expectedLegalStatement.txt
  src/functionalTest/resources/json/exceptedEstates/ihtEstateCompletedYes400421/expectedLegalStatement.txt
  src/functionalTest/resources/json/expectedDocumentGrantAdmonWillWelsh.txt
  src/functionalTest/resources/json/expectedDocumentGrantGOPWelsh.txt
  src/functionalTest/resources/json/expectedDocumentGrantIntestacyWelsh.txt
  src/functionalTest/resources/json/expectedDocumentGrantWithExecutorGOPWelsh.txt
  src/functionalTest/resources/json/expectedDocumentReissueAdmonWillWelsh.txt
  src/functionalTest/resources/json/expectedDocumentReissueIntestacyWelsh.txt
  src/functionalTest/resources/json/expectedPersonalDocumentAdmonWillReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentGrantReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentGrantReissuedNameDoubleBarrelled.txt
  src/functionalTest/resources/json/expectedPersonalDocumentGrantReissuedNameWithApostrophe.txt
  src/functionalTest/resources/json/expectedPersonalDocumentIntestacyReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshAdmonWillReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissuedNameDoubleBarrelled.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissuedNameWithApostrophe.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshIntestacyReissued.txt
  src/functionalTest/resources/json/gopGrantDraftForCardiffResponse.txt
  src/functionalTest/resources/json/gopGrantForCardiffResponse.txt
  src/functionalTest/resources/json/intestacyGrantDraftForCardiffResponse.txt
  src/functionalTest/resources/json/intestacyGrantForCardiffResponse.txt
  src/functionalTest/resources/json/leedsGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/liverpoolGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/londonGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/manchesterGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/newcastleGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/oxfordGopGenerateGrantResponse.txt
  src/functionalTest/resources/json/winchesterGopGenerateGrantResponse.txt
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFDecoratorService.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/caseextra/decorator/IhtGrossNetValueCaseExtra.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/caseextra/decorator/RemovePenceDecorator.java
  src/main/resources/application.yml
  src/main/resources/templates/pdf/admonWillGrant.html
  src/main/resources/templates/pdf/admonWillGrantDraft.html
  src/main/resources/templates/pdf/digitalGrant.html
  src/main/resources/templates/pdf/digitalGrantDraft.html
  src/main/resources/templates/pdf/digitalGrantReissue.html
  src/main/resources/templates/pdf/digitalGrantReissueDraft.html
  src/main/resources/templates/pdf/intestacyGrant.html
  src/main/resources/templates/pdf/intestacyGrantDraft.html
  src/main/resources/templates/pdf/legalStatementAdmon.html
  src/main/resources/templates/pdf/legalStatementGrantOfProbate.html
  src/main/resources/templates/pdf/legalStatementIntestacy.html
  src/main/resources/templates/pdf/legalStatementProbate.html
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PDFDecoratorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/caseextra/decorator/RemovePenceDecoratorTest.java
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2606

#2613 DTSPB-4070: Update probateCommonsVersion
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2613

#2648 Dtspb 4243 add estate values
  src/main/resources/templates/printService/caseDetailsPA.html
  src/main/resources/templates/printService/caseDetailsSOL.html
Labels: ns:probate, prd:probate, nightly, enable_keep_helm, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2648

#2655 DTSPB-4196: Update email template IDs
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
  src/functionalTest/resources/json/expectedPersonalEmailGrantReissued.txt
  src/functionalTest/resources/json/expectedPersonalEmailWelshGrantReissued.txt
  src/functionalTest/resources/json/personalApplicantGrantIssuedEmailContent.txt
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2655

#2656 DTSPB-4270 Long term fix Data Migration cases
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerIT.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CallbackRequest.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/service/DormantCaseService.java
  src/main/java/uk/gov/hmcts/probate/service/GrantNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/LifeEventCCDService.java
  src/main/java/uk/gov/hmcts/probate/service/PrepareNocService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/resources/templates/elasticsearch/caseMatching/dormant_date_range_query.json
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/service/DormantCaseServiceTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2656

#2685 DTSPB-4292 Shutter EXUI
  Jenkinsfile_CNP
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2685

#2686 DTSPB-4292 Unshutter EXUI
  Jenkinsfile_CNP
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2686
