Repository hmcts/probate-back-office, pull requests merged in 2025-07, with the labels that each got.

#3168 DTSPB-4699: Update gov notify templates
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-3168

#3069 DTSPB-4632 Improve error handling for uppercasing formatter
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/ExecutorListMapperService.java
  src/main/java/uk/gov/hmcts/probate/service/solicitorexecutor/FormattingService.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/LegalStatementExecutorTransformer.java
  src/test/java/uk/gov/hmcts/probate/service/solicitorexecutor/FormattingServiceTest.java
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-3069

#3241 DTSPB-4579 caseworker iht changes
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  charts/probate-back-office/values.preview.template.yaml
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-3241

#3194 DTSPB-4818 disable AUTO_CLOSE_JSON_CONTENT
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/config/EvidenceManagementRestTemplate.java
  src/main/java/uk/gov/hmcts/probate/config/JacksonConfigurationVerifier.java
  src/main/java/uk/gov/hmcts/probate/config/ObjectMapperConfiguration.java
  src/main/java/uk/gov/hmcts/probate/exception/handler/AuthenticationExceptionHandler.java
  src/main/java/uk/gov/hmcts/probate/service/docmosis/CaveatDocmosisService.java
  src/main/java/uk/gov/hmcts/probate/service/docmosis/GenericMapperService.java
  src/main/java/uk/gov/hmcts/probate/service/payments/PaymentsService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/service/docmosis/CaveatDocmosisServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/docmosis/GenericMapperServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/payments/PaymentsServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3194

#3146 DTSPB-4787 Migrate Expired Caveats to CaveatClosed
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEvent.json
  src/main/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/transformer/CaveatCallbackResponseTransformerTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3146

#3123 DTSPB-4718 Caveat Expiry cron job
  src/integrationTest/java/uk/gov/hmcts/probate/controller/DocumentControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/service/NotificationServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/service/notification/GrantOfRepresentationPersonalisationServiceIT.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/EventId.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/caveat/request/ReturnedCaveatDetails.java
  src/main/java/uk/gov/hmcts/probate/schedule/CaveatExpiryTask.java
  src/main/java/uk/gov/hmcts/probate/service/CaveatExpiryService.java
  src/main/java/uk/gov/hmcts/probate/service/CaveatQueryService.java
  src/main/java/uk/gov/hmcts/probate/service/caveat/CaveatExpiryServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/service/ccd/CcdClientApi.java
  src/main/java/uk/gov/hmcts/probate/service/documentmanagement/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/probate/schedule/CaveatExpiryTaskTest.java
  src/test/java/uk/gov/hmcts/probate/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/probate/service/CaveatQueryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/caveat/CaveatExpiryServiceImplTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3123

#3258 revert CcdClientApi
  src/main/java/uk/gov/hmcts/probate/service/ccd/CcdClientApi.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3258

#3250 DTSPB-4895 Fix Handoff Reason issue
  src/main/java/uk/gov/hmcts/probate/service/HandOffLegacyService.java
  src/test/java/uk/gov/hmcts/probate/service/HandOffLegacyServiceTest.java
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-3250

#3277 DTSPB-4914 fix caveat notification
  build.gradle
  src/main/java/uk/gov/hmcts/probate/service/notification/AutomatedNotificationService.java
Labels: ns:probate, prd:probate, nightly, enable_keep_helm, rel:probate-back-office-pr-3277
