Repository hmcts/probate-back-office, pull requests merged in 2025-03, with the labels that each got.

#3027 DTSPB-4620 Disable email validation
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseField.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3027

#3030 Revert "DTSPB-4620 Disable email validation"
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseField.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3030

#2993 DTSPB-4535 Add user info for 2 events
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2993

#2951 DTSPB-4486 Improve Notify error reporting
  src/integrationTest/java/uk/gov/hmcts/probate/service/NotificationServiceIT.java
  src/main/java/uk/gov/hmcts/probate/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/probate/exception/RequestInformationParameterException.java
  src/main/java/uk/gov/hmcts/probate/exception/handler/DefaultExceptionHandler.java
  src/main/java/uk/gov/hmcts/probate/exception/handler/NotificationClientExceptionHandler.java
  src/main/java/uk/gov/hmcts/probate/service/InformationRequestCorrespondenceService.java
  src/main/java/uk/gov/hmcts/probate/service/InformationRequestService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/test/java/uk/gov/hmcts/probate/exception/handler/DefaultExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/probate/exception/handler/NotificationClientExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/probate/service/InformationRequestServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2951

#3031 DTSPB-4586 Update Helm link to use OCI
  charts/probate-back-office/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3031

#3033 DTSPB-4583 Revert bo[History]Correction events to not amend case state.
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Caveat/CaseEvent.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3033

#3038 DTSPB-4647 Add flag to disable verification in legal statement amend
  src/integrationTest/java/uk/gov/hmcts/probate/controller/DocumentControllerIT.java
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentValidation.java
  src/main/java/uk/gov/hmcts/probate/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/probate/controller/DocumentControllerUnitTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3038

#2990 DTSPB-4551: Fix PP bug where 'removed' AdditionalExecutors erroneously appear in CaseData and LS
  src/functionalTest/resources/json/caseprogress/02-appUpdated.json
  src/functionalTest/resources/json/caseprogress/02b-appUpdated-update-app.json
  src/functionalTest/resources/json/caseprogressadmonwill/02-appUpdated.json
  src/functionalTest/resources/json/caseprogressadmonwill/02b-appUpdated-update-app.json
  src/functionalTest/resources/json/caseprogressintestacy/02-appUpdated.json
  src/functionalTest/resources/json/caseprogressintestacy/02b-appUpdated-update-app.json
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CaseDataTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/SolicitorApplicationCompletionTransformer.java
  src/main/java/uk/gov/hmcts/probate/validator/ZeroApplyingExecutorsValidationRule.java
  src/main/resources/ValidationMessages.properties
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseDataTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/SolicitorApplicationCompletionTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/validator/ZeroApplyingExecutorsValidationRuleTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2990

#3044 DTSPB-4551: Bug fix
  src/main/java/uk/gov/hmcts/probate/transformer/solicitorexecutors/SolicitorApplicationCompletionTransformer.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3044

#2953 Dtspb 4361 executor not accounted for
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/ComplexTypes.json
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2953

#3047 update fortify and ccdclient version
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3047

#3046 DTSPB-4551: Add check to list otherPartnersApplyingAsExecutors
  src/main/java/uk/gov/hmcts/probate/validator/ZeroApplyingExecutorsValidationRule.java
  src/test/java/uk/gov/hmcts/probate/validator/ZeroApplyingExecutorsValidationRuleTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3046

#3036 Dtspb 4557 remove pence value from smee and ford data
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/BaseFileService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/HmrcFileService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/SmeeAndFordPersonalisationService.java
  src/test/resources/smeeAndFordExpectedData.txt
  src/test/resources/smeeAndFordExpectedDataExtraExecs.txt
  src/test/resources/smeeAndFordExpectedDataNoDocs.txt
  src/test/resources/smeeAndFordExpectedDataNoExecs.txt
  src/test/resources/smeeAndFordExpectedDataWithDelimeters.txt
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3036

#3051 DTSPB-4688 Update ccd def for the migration
  Jenkinsfile_nightly
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
Labels: ns:probate, prd:probate, enable_keep_helm
