Repository hmcts/probate-back-office, pull requests merged in 2025-09, with the labels that each got.

#3368 DTSPB-4859: Fix BO test report on PR builds when functional test fails
  bin/run-e2e-tests.sh
  src/test/end-to-end/paths/solicitor/pr_specific/applyCaveat.js
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-3368

#3289 DTSPB-4825 notify when move to post grant issued
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  src/contractTest/resources/application.yml
  src/integrationTest/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerIT.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/TemplateService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/TemplateServiceTest.java
Labels: ns:probate, prd:probate, nightly, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-3289

#3367 DTSPB-4929 Exclude CaseClosed state in HSE reminder
  src/main/java/uk/gov/hmcts/probate/service/notification/HseReminderNotification.java
  src/main/resources/templates/elasticsearch/caseMatching/hse_reminder_query.json
  src/test/java/uk/gov/hmcts/probate/service/notification/HseReminderNotificationTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3367
