Repository hmcts/probate-back-office, pull requests merged in 2025-01, with the labels that each got.

#2943 DTSPB-4484 resolve issue with nightly tests
  package.json
  src/test/end-to-end/codecept.conf.js
  src/test/end-to-end/pages/caseProgressStopEscalateIssue/selectEscalateReason.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/caseprogress/caseProgressStopEscalateIssuePath.js
Labels: ns:probate, prd:probate, nightly, enable_keep_helm, rel:probate-back-office-pr-2943

#2841 DTSPB-4405 Welsh for PP complete application page
  src/functionalTest/resources/json/exceptedEstates/ihtEstateBeforeSwitchDate/expectedConfirmation.txt
  src/functionalTest/resources/json/exceptedEstates/ihtEstateCompletedNo/expectedConfirmation.txt
  src/functionalTest/resources/json/exceptedEstates/ihtEstateCompletedYes207/expectedConfirmation.txt
  src/functionalTest/resources/json/exceptedEstates/ihtEstateCompletedYes400421/expectedConfirmation.txt
  src/main/java/uk/gov/hmcts/probate/service/ConfirmationResponseService.java
  src/main/java/uk/gov/hmcts/probate/service/template/markdown/MarkdownDecoratorService.java
  src/main/resources/templates/markdown/caveatNextSteps.md
  src/main/resources/templates/markdown/nextSteps.md
  src/main/resources/templates/markdown/nextStepsNoDocumentsRequired.md
  src/test/java/uk/gov/hmcts/probate/service/ConfirmationResponseServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/markdown/MarkdownDecoratorServiceTest.java
  src/test/resources/expectedConfirmationBody.md
  src/test/resources/expectedConfirmationBodyCaveat.md
  src/test/resources/expectedConfirmationBodyWithAllCombinations.md
  src/test/resources/expectedConfirmationBodyWithAllCombinationsAndMultiples.md
  src/test/resources/expectedConfirmationBodyWithDeadExecutor.md
  src/test/resources/expectedConfirmationBodyWithIHT217.md
  src/test/resources/expectedConfirmationBodyWithIHT400421.md
  src/test/resources/expectedConfirmationBodyWithMultipleDeadExecutors.md
  src/test/resources/expectedConfirmationBodyWithMultipleRenouncingExecutors.md
  src/test/resources/expectedConfirmationBodyWithNoWill.md
  src/test/resources/expectedConfirmationBodyWithNotarialCopy.md
  src/test/resources/expectedConfirmationBodyWithPA14Form.md
  src/test/resources/expectedConfirmationBodyWithPA15Form.md
  src/test/resources/expectedConfirmationBodyWithPA16Form.md
  src/test/resources/expectedConfirmationBodyWithPA17Form.md
  src/test/resources/expectedConfirmationBodyWithRenouncingExecutor.md
  src/test/resources/expectedConfirmationBodyWithTcResolutionLodged.md
  src/test/resources/expectedConfirmationBodyWithWillCordicils.md
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2841

#2949 DTSPB-4488 add read access to solicitor role for CaveatNotMatched state
  ccdImports/configFiles/CCD_Probate_Caveat/AuthorisationCaseState.json
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2949

#2882 DTSPB-4293 Added Ad Colligenda Bona case type changes
  build.gradle
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/GrantGenerationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/WelshGrantGenerationTests.java
  src/functionalTest/resources/json/default/adColligenda/personal/adColligenda.json
  src/functionalTest/resources/json/default/adColligenda/personal/adColligendaReissue.json
  src/functionalTest/resources/json/default/adColligenda/solicitor/adColligenda.json
  src/functionalTest/resources/json/default/adColligenda/solicitor/adColligendaReissue.json
  src/functionalTest/resources/json/expectedDocumentGrantAdColligendaWelsh.txt
  src/functionalTest/resources/json/expectedDocumentReissueAdmonWillWelsh.txt
  src/functionalTest/resources/json/personalPayloadGrantAdColligendaWelsh.json
  src/functionalTest/resources/json/solicitorPayloadNotificationsAdColligendaBona.json
  src/integrationTest/java/uk/gov/hmcts/probate/controller/DocumentControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/service/docmosis/DocumentTemplateServiceIT.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/model/DocumentCaseType.java
  src/main/java/uk/gov/hmcts/probate/model/DocumentType.java
  src/main/java/uk/gov/hmcts/probate/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/SmeeAndFordPersonalisationService.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFDecoratorService.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementService.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/caseextra/decorator/RemovePenceDecorator.java
  src/main/java/uk/gov/hmcts/probate/service/zip/ZipFileService.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/DocumentTransformer.java
  src/main/java/uk/gov/hmcts/probate/transformer/ReprintTransformer.java
  src/main/java/uk/gov/hmcts/probate/validator/AdColligendaBonaCaseTypeValidationRule.java
  src/main/resources/ValidationMessages.properties
  src/main/resources/application.yml
  src/main/resources/templates/pdf/adColligendaBonaGrant.html
  src/main/resources/templates/pdf/adColligendaBonaGrantDraft.html
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/ReprintTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PDFDecoratorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/caseextra/decorator/RemovePenceDecoratorTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/transformer/DocumentTransformerTest.java
  src/test/java/uk/gov/hmcts/probate/validator/AdColligendaBonaCaseTypeValidationRuleTest.java
  src/test/resources/solicitorPayloadNotificationsAdColligendaBona.json
Labels: ns:probate, prd:probate, enable_keep_helm, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2882

#2944 DTSPB-4395 added new template id to caveat
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/notifications/SolBaCcdServiceNotificationTests.java
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2944

#2930 DTSPB-4166 Allow superuser to provide an amended legal statement
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseTypeTab.json
  src/integrationTest/java/uk/gov/hmcts/probate/controller/DocumentControllerIT.java
  src/main/java/uk/gov/hmcts/probate/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/request/CaseData.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/response/ResponseCaseData.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/probate/service/DocumentValidation.java
  src/main/java/uk/gov/hmcts/probate/service/documentmanagement/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/probate/service/documentmanagement/DocumentManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/transformer/CallbackResponseTransformer.java
  src/test/java/uk/gov/hmcts/probate/controller/DocumentControllerUnitTest.java
  src/test/java/uk/gov/hmcts/probate/service/DocumentValidationTest.java
  src/test/java/uk/gov/hmcts/probate/service/documentmanagement/DocumentManagementServiceImplTest.java
  src/test/resources/uploadAmendedLegalStatement_PA.json
  src/test/resources/uploadAmendedLegalStatement_PP_admon.json
  src/test/resources/uploadAmendedLegalStatement_PP_edgeCase.json
  src/test/resources/uploadAmendedLegalStatement_PP_intestacy.json
  src/test/resources/uploadAmendedLegalStatement_PP_probate.json
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2930

#2695 DTSPB-4115 added the upload time stamp document link
  build.gradle
  src/main/java/uk/gov/hmcts/probate/model/ccd/raw/DocumentLink.java
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2695

#2976 DTSPB-4293 Added Ad Colligenda Bona in Data extracts
  src/main/java/uk/gov/hmcts/probate/model/Constants.java
  src/main/java/uk/gov/hmcts/probate/model/DataExtractGrantType.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileService.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/HmrcFileServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileServiceTest.java
  src/test/resources/expectedGeneratedFiles/hmrcAdColligendaBona.txt
  src/test/resources/expectedGeneratedFiles/ironMountainAdColligendBona.txt
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes

#2925 DTSPB-4393 pp other exec content changes
  .nvmrc
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseField.json
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-2925
