Repository hmcts/probate-back-office, pull requests merged in 2025-06, with the labels that each got.

#3103 DTSPB-4635 Ignore search for failed QA
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
Labels: ns:probate, prd:probate, enable_keep_helm, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-3103

#3092 DTSPB-2859 Minimal changes for new cron in back-office
  src/integrationTest/java/uk/gov/hmcts/probate/service/NotificationServiceIT.java
  src/main/java/uk/gov/hmcts/probate/config/ScheduleConfiguration.java
  src/main/java/uk/gov/hmcts/probate/model/ScheduleDates.java
  src/main/java/uk/gov/hmcts/probate/schedule/ExelaExtractTask.java
  src/main/java/uk/gov/hmcts/probate/schedule/IronMountainExtractTask.java
  src/main/java/uk/gov/hmcts/probate/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/test/java/uk/gov/hmcts/probate/model/ScheduleDatesTest.java
  src/test/java/uk/gov/hmcts/probate/schedule/ExelaExtractTaskTest.java
  src/test/java/uk/gov/hmcts/probate/schedule/IronMountainExtractTaskTest.java
  src/test/java/uk/gov/hmcts/probate/service/dataextract/ExelaDataExtractServiceTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3092

#3124 Dtspb 4671 improve email preview
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/probate/service/NotificationServiceIT.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementService.java
  src/test/java/uk/gov/hmcts/probate/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/service/template/pdf/PDFManagementServiceTest.java
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-3124

#3105 DTSPB-4639 Added free text in Ad colligenda Bona
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/GrantGenerationTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/WelshGrantGenerationTests.java
  src/functionalTest/resources/json/default/adColligenda/personal/adColligenda.json
  src/functionalTest/resources/json/expectedDocumentWithLimitationTextAdColligendaWelsh.txt
  src/functionalTest/resources/json/personalPayloadLimitationTextGrantAdColligendaWelsh.json
  src/main/resources/application.yml
  src/main/resources/templates/pdf/adColligendaBonaGrant.html
  src/main/resources/templates/pdf/adColligendaBonaGrantDraft.html
Labels: ns:probate, prd:probate, enable_keep_helm, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-3105

#3189 DTSPB-4793: Update the css value for Awaiting documentation state in …
  ccdImports/configFiles/CCD_Probate_Backoffice/FixedLists.json
  src/test/end-to-end/pages/caseProgressStopEscalateIssue/addResolveStopDetails.js
  src/test/end-to-end/paths/caseprogress/caseProgressStopEscalateIssuePath.js
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-back-office-pr-3189

#3196 fix e2e test
  src/test/end-to-end/paths/caseprogress/caseProgressStopEscalateIssuePath.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3196

#3193 DTSPB-4710 Declaration not signed notification
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseEvent.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEvent.json
  src/contractTest/resources/application.yml
  src/integrationTest/java/uk/gov/hmcts/probate/service/NotificationServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/service/notification/TemplateServiceIT.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/config/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/probate/model/NotificationType.java
  src/main/java/uk/gov/hmcts/probate/model/ccd/EventId.java
  src/main/java/uk/gov/hmcts/probate/schedule/SendNotificationsTask.java
  src/main/java/uk/gov/hmcts/probate/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/probate/service/NotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/AutomatedNotificationCCDService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/AutomatedNotificationPersonalisationService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/AutomatedNotificationService.java
  src/main/java/uk/gov/hmcts/probate/service/notification/DeclarationNotSignedNotification.java
  src/main/java/uk/gov/hmcts/probate/service/notification/TemplateService.java
  src/main/resources/application.yml
  src/main/resources/templates/elasticsearch/caseMatching/declaration_not_signed_query.json
  src/test/java/uk/gov/hmcts/probate/schedule/SendNotificationsTaskTest.java
  src/test/java/uk/gov/hmcts/probate/service/notification/DeclarationNotSignedNotificationTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3193

#3154 DTSPB-4659 cronjob update
  src/contractTest/resources/application.yml
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/probate/schedule/FetchDraftCasesWithPaymentTask.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/schedule/FetchDraftCasesWithPaymentTaskTest.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3154
