Repository hmcts/probate-back-office, pull requests merged in 2025-02, with the labels that each got.

#2722 DTSPB-4346 Update docmosis end point to /api/render
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/WelshGrantGenerationTests.java
  src/functionalTest/resources/json/expectedDocumentGrantIntestacyWelsh.txt
  src/functionalTest/resources/json/expectedPersonalDocumentAdmonWillReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentGrantReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentGrantReissuedNameDoubleBarrelled.txt
  src/functionalTest/resources/json/expectedPersonalDocumentGrantReissuedNameWithApostrophe.txt
  src/functionalTest/resources/json/expectedPersonalDocumentIntestacyReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshAdmonWillReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissued.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissuedNameDoubleBarrelled.txt
  src/functionalTest/resources/json/expectedPersonalDocumentWelshGrantReissuedNameWithApostrophe.txt
  src/main/java/uk/gov/hmcts/probate/service/docmosis/DocmosisPdfGenerationService.java
  src/main/resources/application.properties
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2722

#2861 Dtspb 4319 biligual implementation
  ccdImports/configFiles/CCD_Probate_Backoffice/AuthorisationCaseField.json
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/documents/LegalStatementGenerationTests.java
  src/functionalTest/resources/json/solicitorPDFPayloadAdmonWillLanguageWelsh.json
  src/functionalTest/resources/json/solicitorPDFPayloadIntestacyLanguageWelsh.json
  src/functionalTest/resources/json/solicitorPDFPayloadProbateSingleExecutorLanguageWelsh.json
  src/main/resources/application.yml
  src/main/resources/templates/pdf/legalStatementAdmon.html
  src/main/resources/templates/pdf/legalStatementGrantOfProbate.html
  src/main/resources/templates/pdf/legalStatementIntestacy.html
  src/main/resources/templates/pdf/legalStatementProbate.html
Labels: ns:probate, prd:probate, enable_keep_helm, aat/no-changes, prod/no-changes, rel:probate-back-office-pr-2861

#2992 use /rs/ for docmosis endpoint
  src/main/java/uk/gov/hmcts/probate/service/docmosis/DocmosisPdfGenerationService.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2992

#2987 Add text file builder error handling.
  src/main/java/uk/gov/hmcts/probate/exception/TextFileBuilderException.java
  src/main/java/uk/gov/hmcts/probate/exception/handler/DefaultExceptionHandler.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/HmrcFileService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/IronMountainFileService.java
  src/main/java/uk/gov/hmcts/probate/service/filebuilder/TextFileBuilderService.java
  src/test/java/uk/gov/hmcts/probate/exception/handler/DefaultExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/probate/service/filebuilder/TextFileBuilderServiceTest.java
  src/test/java/uk/gov/hmcts/probate/util/diagrams/plantuml/BuildStateDiagram.java
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-2987

#3002 DTSPB-4319 | Updated E2E test for Welsh for Professionals
  src/test/end-to-end/pages/caseDetails/grantOfProbate/documentUploadSolTabConfigBilingual.json
  src/test/end-to-end/pages/caseProgress/tabDetailsBilingual.js
  src/test/end-to-end/pages/caseProgressStandard/caseProgressConfig.json
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page1.js
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/grantOfProbate.json
  src/test/end-to-end/pages/solicitorApplyProbate/grantOfProbate/page1.js
  src/test/end-to-end/pages/solicitorApplyProbate/intestacyDetails/page1.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/caseprogress/caseProgressApplicationStoppedPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressReenterPath.js
  src/test/end-to-end/paths/caseprogress/caseProgressStopEscalateIssuePath.js
  src/test/end-to-end/paths/caseprogress/pr_specific/caseProgressStandardPath.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3002

#3006 Fixed lint issues in e2e test
  src/test/end-to-end/pages/caseProgress/tabDetailsBilingual.js
  src/test/end-to-end/pages/solicitorApplyProbate/admonWillDetails/page1.js
  src/test/end-to-end/pages/solicitorApplyProbate/intestacyDetails/page1.js
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3006

#3011 Resolve bootWithCcd authentication failure issue.
  bin/variables/load-local-environment-variables.sh
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-back-office-pr-3011

#3001 Dtspb 4534 stop reason not to be used
  ccdImports/configFiles/CCD_Probate_Backoffice/CaseEventToFields.json
  src/integrationTest/java/uk/gov/hmcts/probate/controller/BusinessValidationControllerIT.java
  src/main/java/uk/gov/hmcts/probate/controller/BusinessValidationController.java
  src/main/java/uk/gov/hmcts/probate/validator/StopReasonValidationRule.java
  src/main/resources/ValidationMessages.properties
  src/test/java/uk/gov/hmcts/probate/controller/BusinessValidationUnitTest.java
  src/test/java/uk/gov/hmcts/probate/validator/StopReasonValidationRuleTest.java
Labels: ns:probate, prd:probate, nightly, rel:probate-back-office-pr-3001
